force-app/main/default/flows/After_Insert_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Inv_Movement_from_Inventory_Values</name>
        <label>Assign Inv. Movement from Inventory Values</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varInvMovement.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvMovement.Product_Group_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Product_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvMovement.Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvMovement.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvMovement.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto-Generated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvMovement.Opportunity_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_OppProd_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInvMovement.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Inv_Movement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OppProduct_Values</name>
        <label>Assign OppProduct Values</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>varOppProductUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_OppProd_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppProductUpdate.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OppProduct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opp_Product_Check</name>
        <label>Opp Product Check</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>OppProductId_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_OppProd_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OppProduct_Values</targetReference>
            </connector>
            <label>OppProductId Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Product</name>
        <label>Type of Product</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Inventory_Bundle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Tracked_Inventory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp_Product.Bundle_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inv_Movement_from_Inventory_Values</targetReference>
            </connector>
            <label>Inventory / Bundle</label>
        </rules>
    </decisions>
    <description>Primarily serves the Inventory Management &amp; Product Bundle Apps</description>
    <interviewLabel>After Insert: Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Insert: Assets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inv_Movement</name>
        <label>Create Inv. Movement</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Opp_Product_Check</targetReference>
        </connector>
        <inputReference>varInvMovement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Product</name>
        <label>Get Opp Product</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Last_OppProd_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OppProduct</name>
        <label>Update OppProduct</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>varOppProductUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Product</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varInvMovement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>varOppProductUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
