force-app/main/default/flows/After_Save_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_Owed_Quantity_0</name>
        <label>Assign New Owed Quantity</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>varInventoryOwed.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owed_Movement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInventoryOwed.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Group_Values</name>
        <label>Assign Product Group Values</label>
        <locationX>204</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>varProductGroupUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Group_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductGroupUpdate.Last_Inventory_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Values</name>
        <label>Assign Product Values</label>
        <locationX>204</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>varProductUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductUpdate.Last_Inventory_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Owed_Check</name>
        <label>Owed Check</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Product_Group_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owed_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owed_Movement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Owed_Quantity_0</targetReference>
            </connector>
            <label>Owed Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Check</name>
        <label>Product Check</label>
        <locationX>336</locationX>
        <locationY>1559</locationY>
        <defaultConnectorLabel>No Product</defaultConnectorLabel>
        <rules>
            <name>Has_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Values</targetReference>
            </connector>
            <label>Has Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Group_Check</name>
        <label>Product Group Check</label>
        <locationX>336</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Product_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank Product Group</defaultConnectorLabel>
        <rules>
            <name>Has_Product_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Group_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Group_Values</targetReference>
            </connector>
            <label>Has Product Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_Check</name>
        <label>Quantity Check</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Product_Group_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Owed_Movement</targetReference>
            </connector>
            <label>Quantity Changed</label>
        </rules>
    </decisions>
    <interviewLabel>After Save: Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Save: Assets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Owed_Movement</name>
        <label>Get Owed Movement</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owed_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Movement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owed</name>
        <label>Update Owed</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Product_Group_Check</targetReference>
        </connector>
        <inputReference>varInventoryOwed</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>204</locationX>
        <locationY>1799</locationY>
        <inputReference>varProductUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Group</name>
        <label>Update Product Group</label>
        <locationX>204</locationX>
        <locationY>1343</locationY>
        <connector>
            <targetReference>Product_Check</targetReference>
        </connector>
        <inputReference>varProductGroupUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quantity_Check</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varInventoryOwed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Movement__c</objectType>
    </variables>
    <variables>
        <name>varProductGroupUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Group__c</objectType>
    </variables>
    <variables>
        <name>varProductUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
