force-app/main/default/flows/Autolaunch_EHR_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Appointment_API_Call</name>
        <label>Create Appointment</label>
        <locationX>446</locationX>
        <locationY>2138</locationY>
        <actionName>drChrono_Appointment_Create</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Creation_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Hard_Creation</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appointment</name>
            <value>
                <elementReference>apexDefined_CreateAppointmentRequest</elementReference>
            </value>
        </inputParameters>
        <nameSegment>drChrono_Appointment_Create</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Creating_Appointment_API_failed</name>
        <label>Log - Debug - Creating Appointment API failed</label>
        <locationX>578</locationX>
        <locationY>2462</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Debug_What_Products_are_Synced</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>rec_Appointment.Error_Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_No_DrCrhono_Id</name>
        <label>Log - Debug - No DrCrhono Id</label>
        <locationX>2426</locationX>
        <locationY>1382</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>rec_Appointment.Error_Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_No_Practice_Group_Id</name>
        <label>Log - Debug - No Practice Group Id</label>
        <locationX>2162</locationX>
        <locationY>1490</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>rec_Appointment.Error_Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_No_Profile_Id</name>
        <label>Log - Debug - No Profile Id</label>
        <locationX>2690</locationX>
        <locationY>1274</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>rec_Appointment.Error_Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_No_Profile_Id_Text_String</name>
        <label>Log - Debug - No Profile Id - Text String</label>
        <locationX>1898</locationX>
        <locationY>1706</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No Profile Id Set on the Product. Unable to Create Appointment.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Product_Loop_Variables</name>
        <label>Log - Debug - Product Loop Variables</label>
        <locationX>2310</locationX>
        <locationY>950</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_there_A_Profile_Id_Defined</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>txt_DebugAfterProductLoop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Update_Appointment_API_failed</name>
        <label>Log - Debug - Update Appointment API failed</label>
        <locationX>1370</locationX>
        <locationY>2462</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Debug_What_Products_are_Synced</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>rec_Appointment.Error_Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Update_Appointment_API_Success</name>
        <label>Log - Debug - Appointment API Success</label>
        <locationX>1106</locationX>
        <locationY>2570</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Debug_What_Products_are_Synced</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The API call to the EHR Appointment was successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_What_Products_are_Synced</name>
        <label>Log - Debug - What Products are Synced</label>
        <locationX>842</locationX>
        <locationY>2846</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Product(s) That Caused Sync: {!txt_ProductNames}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_making_API_call_for_Creating_Appointment</name>
        <label>Log - Error - Error making API call for Creating Appointment</label>
        <locationX>842</locationX>
        <locationY>2354</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Appointment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Errored Making API Call - Create Appointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_making_API_call_for_Updating_Appointment</name>
        <label>Log - Error - Error making API call for Updating Appointment</label>
        <locationX>1634</locationX>
        <locationY>2354</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Appointment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Errored Making API Call - Update Appointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_Updating_Appointment_Record</name>
        <label>Log - Error - Error Updating Appointment Record</label>
        <locationX>2954</locationX>
        <locationY>3482</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating Appointment Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Info_Another_Sync_In_Progress</name>
        <label>Log - Info - Another Sync In Progress</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Appointment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>rec_Appointment.Error_Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Logs</name>
        <label>Save Logs</label>
        <locationX>2310</locationX>
        <locationY>3482</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Appointment_API_Call</name>
        <label>Update Appointment</label>
        <locationX>1238</locationX>
        <locationY>2138</locationY>
        <actionName>drChrono_Appointment_Update</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Update_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Hard_Update</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appointment</name>
            <value>
                <elementReference>apexDefined_CreateAppointmentRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ehrAppointmentId</name>
            <value>
                <elementReference>rec_Appointment.Appointment_Id__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>drChrono_Appointment_Update</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Appointment_Id_Creation</name>
        <label>Set Appointment Id - Creation</label>
        <locationX>314</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.Appointment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Appointment_API_Call.results.data.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Location_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Appointment_API_Call.results.data.officeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Exam_Room_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Appointment_API_Call.results.data.examRoomId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Meeting_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Appointment_API_Call.results.data.videoVisitMeetingUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Clear_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment_Id_Update</name>
        <label>Set Appointment Id - Update</label>
        <locationX>1106</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.Appointment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Appointment_API_Call.results.data.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Location_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Appointment_API_Call.results.data.officeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Exam_Room_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Appointment_API_Call.results.data.examRoomId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Meeting_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Appointment_API_Call.results.data.videoVisitMeetingUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Hard_Creation</name>
        <label>Set Error - Hard- Creation</label>
        <locationX>842</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Error_Error_making_API_call_for_Creating_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Hard_Update</name>
        <label>Set Error - Hard- Update</label>
        <locationX>1634</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Error_Error_making_API_call_for_Updating_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_No_DrChrono_Id</name>
        <label>Set Error - No DrChrono Id</label>
        <locationX>2426</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Syned to DrChrono because there is not a DrChrono Id set on the Provider Account.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Debug_No_DrCrhono_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_No_Practice_Group_Id</name>
        <label>Set Error - No Practice Group Id</label>
        <locationX>2162</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Syned to DrChrono because there is not a Practice Group Id set on the Provider Account.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Debug_No_Practice_Group_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_No_Profile_Id</name>
        <label>Set Error - No Profile Id</label>
        <locationX>2690</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Syned to DrChrono because there are no products that have a Profile ID defined on the Opportunity.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Debug_No_Profile_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Soft_Creation</name>
        <label>Set Error - Soft- Creation</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Appointment_API_Call.results.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Debug_Creating_Appointment_API_failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Soft_Sync_In_Progress</name>
        <label>Set Error - Soft - Sync In Progress</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Another sync is In Progress, please wait till current sync finishes.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Info_Another_Sync_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Soft_Update</name>
        <label>Set Error - Soft- Update</label>
        <locationX>1370</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Appointment_API_Call.results.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Debug_Update_Appointment_API_failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flag_For_Validity_to_Create</name>
        <label>Set Flag For Validity to Create</label>
        <locationX>2398</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>bool_ProfileIdDefined</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Profile_Id_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Here is where we will store what office was used on the Appointment.</description>
        <name>Set_Office_Id_Name_on_Appointment</name>
        <label>Set Office Id &amp; Name on Appointment</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.Office_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Appointment.Provider_Account__r.DrChrono_Default_Office_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Request_Body</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Here is where we will store what profile was used on the Appointment.</description>
        <name>Set_Profile_Id_Name_on_Appointment</name>
        <label>Set Profile Id &amp; Name on Appointment</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.Profile_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ProfileId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Office_Id_Name_on_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Profile_Id_Variable</name>
        <label>Set Profile Id - Variable</label>
        <locationX>2398</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>txt_ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Products.PricebookEntry.Product2.EHR_Profile_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Video_Call_Prefrence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Request_Body</name>
        <label>Set Request Body</label>
        <locationX>842</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.crmAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.doctorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Appointment.Provider_Account__r.DrChrono_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.officeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Appointment.Provider_Account__r.DrChrono_Default_Office_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.patientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Appointment.Account__r.DrChrono_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.practiceGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Appointment.Provider_Account__r.Practice_Group__r.External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.profile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ProfileId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.scheduledTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Appointment.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Appointment.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Appointment.Sub_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.officeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Appointment.Provider_Account__r.DrChrono_Default_Office_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txtEhrStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.isVideoVisit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bool_isVideoCall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_CreateAppointmentRequest.examRoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_We_Update_or_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Video_Call_Prefrence</name>
        <label>Set Video Call Prefrence</label>
        <locationX>2398</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>bool_isVideoCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Products.PricebookEntry.Product2.Requires_Video_Call_Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Autolaunch_EHR_Appointment</stringValue>
        </value>
    </constants>
    <decisions>
        <description>We Check to Ensure that we have a Practice Group</description>
        <name>Check_that_there_is_a_Practice_Group_Id</name>
        <label>Check that there is a Practice Group Id</label>
        <locationX>1436</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Set_Error_No_Practice_Group_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Practice Group Id</defaultConnectorLabel>
        <rules>
            <name>Practice_Group_Id_is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Appointment.Provider_Account__r.Practice_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Admin_Flags_EHR_Appointment</targetReference>
            </connector>
            <label>Practice Group Id is Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>We want to ensure that we have a DrChrono Id before we make an API Call</description>
        <name>Do_We_Have_a_Doctor_Chrono_Id</name>
        <label>Do We Have a Doctor Chrono Id</label>
        <locationX>1931</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Set_Error_No_DrChrono_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No DrChrono Id</defaultConnectorLabel>
        <rules>
            <name>DrChrono_Id_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Appointment.Provider_Account__r.DrChrono_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_that_there_is_a_Practice_Group_Id</targetReference>
            </connector>
            <label>DrChrono Id Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Update_or_Create</name>
        <label>Do We Update or Create</label>
        <locationX>842</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Update_Appointment_API_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Appointment</defaultConnectorLabel>
        <rules>
            <name>Create_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Appointment.Appointment_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Appointment_API_Call</targetReference>
            </connector>
            <label>Create Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <description>We catch soft errors here</description>
        <name>Is_Creation_Success</name>
        <label>Is Creation Success</label>
        <locationX>446</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Soft_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success = FALSE</defaultConnectorLabel>
        <rules>
            <name>Success_TRUE_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Appointment_API_Call.results.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appointment_Id_Creation</targetReference>
            </connector>
            <label>Success = TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <description>We need to check if there is a profile id or not. If there isn&apos;t then it doesn&apos;t make sense to do an API call then a check.</description>
        <name>Is_Profile_Id</name>
        <label>Is There A Profile Id</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Log_Debug_No_Profile_Id_Text_String</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Profile Id Defined</defaultConnectorLabel>
        <rules>
            <name>Profile_Id_Is_Defined_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_ProfileId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Profile_Id_Name_on_Appointment</targetReference>
            </connector>
            <label>Profile Id Is Defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_A_Profile_Id_Defined</name>
        <label>Is there A Profile Id Defined</label>
        <locationX>2310</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Set_Error_No_Profile_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Profile Id Defined</defaultConnectorLabel>
        <rules>
            <name>Profile_Id_was_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_ProfileIdDefined</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_We_Have_a_Doctor_Chrono_Id</targetReference>
            </connector>
            <label>Profile Id was Defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_A_Profile_Id_Defined_On_The_Product</name>
        <label>Is There A Profile Id Defined On The Product</label>
        <locationX>2530</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Profile Id Defined</defaultConnectorLabel>
        <rules>
            <name>Profile_Id_is_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opportunity_Products.PricebookEntry.Product2.EHR_Profile_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flag_For_Validity_to_Create</targetReference>
            </connector>
            <label>Profile Id is Defined</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we check to see if another sync is happening. If it is then we don&apos;t want to sync again.</description>
        <name>Is_There_An_Admin_Flag</name>
        <label>Is There An Admin Flag</label>
        <locationX>710</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Is_Profile_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Sync Happening</defaultConnectorLabel>
        <rules>
            <name>Another_Sync_is_Happening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Admin_Flags_EHR_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Soft_Sync_In_Progress</targetReference>
            </connector>
            <label>Another Sync is Happening</label>
        </rules>
    </decisions>
    <decisions>
        <description>We catch soft errors here</description>
        <name>Is_Update_Success</name>
        <label>Is Update Success</label>
        <locationX>1238</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Soft_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success = FALSE</defaultConnectorLabel>
        <rules>
            <name>Success_TRUE_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Appointment_API_Call.results.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appointment_Id_Update</targetReference>
            </connector>
            <label>Success = TRUE</label>
        </rules>
    </decisions>
    <description>This will handle all creation and updates to the EHR Appointments.</description>
    <environments>Default</environments>
    <formulas>
        <description>This will determine what the EHR Status is based on the Appointment Status and Substatus field</description>
        <name>form_txtEhrStatus</name>
        <dataType>String</dataType>
        <expression>IF(
  ISPICKVAL({!rec_Appointment.appointment_Status__c}, &quot;Scheduled&quot;),
    TEXT({!rec_Appointment.Sub_Status__c}),
  IF(
    ISPICKVAL({!rec_Appointment.appointment_Status__c}, &quot;Pending Reschedule&quot;),
      CASE(
        TEXT({!rec_Appointment.Sub_Status__c}),
        &quot;Rescheduled&quot;,&quot;Rescheduled&quot;,
        &quot;Patient No Show&quot;,&quot;No Show&quot;,
        TEXT({!rec_Appointment.appointment_Status__c})   
      ),
    TEXT({!rec_Appointment.appointment_Status__c})
  )
)</expression>
    </formulas>
    <interviewLabel>Autolaunch - EHR Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - EHR Appointment</label>
    <loops>
        <name>Loop_Through_Opportunity_Products</name>
        <label>Loop Through Opportunity Products</label>
        <locationX>2310</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_There_A_Profile_Id_Defined_On_The_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Log_Debug_Product_Loop_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Admin_Flags_EHR_Appointment</name>
        <label>Get Admin Flags - EHR Appointment</label>
        <locationX>710</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_An_Admin_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EHR Appointment Syncing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admin_Flag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>2310</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_Appointment.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appointment</name>
        <label>Update Appointment</label>
        <locationX>2310</locationX>
        <locationY>3374</locationY>
        <connector>
            <targetReference>Save_Logs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_Updating_Appointment_Record</targetReference>
        </faultConnector>
        <inputReference>rec_Appointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>2184</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clear_Error_Message</name>
        <label>Clear Error Message</label>
        <locationX>1106</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Log_Debug_Update_Appointment_API_Success</targetReference>
        </connector>
        <flowName>Autolaunch_Global_Clear_Error_Message_from_Record</flowName>
        <inputAssignments>
            <name>rec_Appointment</name>
            <value>
                <elementReference>rec_Appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_ObjectApiName</name>
            <value>
                <stringValue>Appointment</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rec_Appointment</assignToReference>
            <name>rec_Appointment</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <description>This is a simplified message for the debug path.</description>
        <name>txt_DebugAfterProductLoop</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Set local variables:
bool_ProfileIdDefined = {!bool_ProfileIdDefined}
txt_ProductNames = {!txt_ProductNames}
txt_ProfileId  = {!txt_ProfileId}
bool_isVideoCall = {!bool_isVideoCall}</text>
    </textTemplates>
    <textTemplates>
        <name>txt_ErrorMessage_InvalidOfficeId</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Not Synced to DrChrono because the Office ID set on the Providers Account, {!rec_Appointment.Provider_Account__r.Name}, is invalid.
Office Id: {!rec_Appointment.Provider_Account__r.DrChrono_Default_Office_Id__c}</text>
    </textTemplates>
    <textTemplates>
        <name>txt_ErrorMessage_InvalidProfileId</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Not Synced to DrChrono because the Profile ID set on the product, {!txt_ProductNames}, is invalid.
Profile Id: {!txt_ProfileId}</text>
    </textTemplates>
    <variables>
        <name>apexDefined_CreateAppointmentRequest</name>
        <apexClass>drChrono_DS_AppointmentCreate</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bool_IsOfficeIdFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_IsProfileMatchFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This comes from the product configuration, whether this appointment will be a video call.</description>
        <name>bool_isVideoCall</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_ProfileIdDefined</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rec_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>txt_ProductNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
