force-app/main/default/flows/Record_Trigger_Relationship_Create_Reciprocal_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_New_Relationship_on_New_Relationship_Record</name>
        <label>Set New Relationship on New Relationship Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>rec_New_RelatedAccountRelationship.Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Relationship_Map.To_Relationship_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Related_Accounts_Relationship_Field_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is from the Default Lookup that has a NULL gender.</description>
        <name>Set_New_Relationship_on_New_Relationship_Record_From_Default_Lookup</name>
        <label>Set New Relationship on New Relationship Record From Default Lookup</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>rec_New_RelatedAccountRelationship.Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Relationship_Map.To_Relationship_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Related_Accounts_Relationship_Field_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will set all of the field values that will be needed to finish creating a new Relationship record</description>
        <name>Set_Related_Accounts_Relationship_Field_Values</name>
        <label>Set Related Accounts Relationship Field Values</label>
        <locationX>248</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>rec_New_RelatedAccountRelationship.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_New_RelatedAccountRelationship.Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_New_RelatedAccountRelationship.Reciprocal_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_New_RelatedAccountRelationship.System_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_New_RelatedAccountRelationship.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_from_Current_Record_to_New_Relationship_Record</name>
        <label>Set Type from Current Record to New Relationship Record</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>rec_New_RelatedAccountRelationship.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_find_a_mapped_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will link the two relationships together.</description>
        <name>Set_Updated_Reciprocal_Relationship_on_Primary_Account</name>
        <label>Set Updated Reciprocal Relationship on Primary Account</label>
        <locationX>248</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reciprocal_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_New_RelatedAccountRelationship.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Primary_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_a_Default_Relationship_Configuration</name>
        <label>Did We Find a Default Relationship Configuration</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Set_Related_Accounts_Relationship_Field_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Default Relationship Config Found</defaultConnectorLabel>
        <rules>
            <name>Default_relationship_Config_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Default_Relationship_Map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Relationship_on_New_Relationship_Record_From_Default_Lookup</targetReference>
            </connector>
            <label>Default relationship Config Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>We want to make sure we found a type, if we don&apos;t then we will default a type.</description>
        <name>Did_we_find_a_mapped_Type</name>
        <label>Did we find a mapped Type</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Relationship_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mapped Type Found</defaultConnectorLabel>
        <rules>
            <name>Mapped_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Relationship_Map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Relationship_on_New_Relationship_Record</targetReference>
            </connector>
            <label>Mapped Type Found</label>
        </rules>
    </decisions>
    <description>This flow will create a reciprocal relationship between the related and primary accounts.</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Relationship - Create Reciprocal Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Relationship - Create Reciprocal Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This will create the related account&apos;s relationship with the primary account</description>
        <name>Create_New_Relationship</name>
        <label>Create New Relationship</label>
        <locationX>248</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Set_Updated_Reciprocal_Relationship_on_Primary_Account</targetReference>
        </connector>
        <inputReference>rec_New_RelatedAccountRelationship</inputReference>
    </recordCreates>
    <recordLookups>
        <description>This is a get where we don&apos;t look at gender.</description>
        <name>Get_Default_Relationship_Map</name>
        <label>Get Default Relationship Map</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Default_Relationship_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From_Relationship_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Relationship__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gender_for_Related_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Relationship_Type_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This will set the type for the new relationship</description>
        <name>Get_Relationship_Map</name>
        <label>Get Relationship Map</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Type_from_Current_Record_to_New_Relationship_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From_Relationship_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Relationship__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gender_for_Related_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Account__r.Gender__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Relationship_Type_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Primary_Record</name>
        <label>Update Primary Record</label>
        <locationX>248</locationX>
        <locationY>1463</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Relationship_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>System_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Relationship__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>rec_New_RelatedAccountRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
</Flow>
