force-app/main/default/flows/Record_Trigger_Opportunity_Results_Received.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Noe, Nick, Oppty Owner, Andy</description>
        <name>Error_Email_No_Content_Document_Link</name>
        <label>Error Email - No Content Document Link</label>
        <locationX>6320</locationX>
        <locationY>2537</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>PTC_No_Result_Tile_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>URGENT: Patient Did Not Get Their Lab Results</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtErrorNoPdfFound_NoContentVersion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Noe, Nick, Oppty Owner, Andy</description>
        <name>Error_Email_No_Org_Email_Or_Email_Template</name>
        <label>Error Email - No Org Email Or Email Template</label>
        <locationX>3526</locationX>
        <locationY>1703</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_there_A_Fault_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>URGENT: Patient Did Not Get Their Lab Results</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtErrorNoPdfFound_NoOrg_NoTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Error_Email_No_Patient_Email</name>
        <label>Error Email - No Patient Email</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>PTC_No_Patient_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Sending_Email_to_Patient_No_Email_Address</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>URGENT: Patient Did Not Get Their Lab Results</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtErrorNoPatientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Error_Email_Patient_s_Email_Invalid</name>
        <label>Error Email - Patient&apos;s Email Invalid</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>PTC_Invalid_Patient_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Sending_Email_to_Patient_PGT</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>URGENT: Patient Did Not Get Their Lab Results</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtErrorPatientEmailInvalid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Get_Password_Field</name>
        <label>Get Password Field</label>
        <locationX>2426</locationX>
        <locationY>1703</locationY>
        <actionName>mc_getContentDocumentPassword</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_There_A_Password</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Decrypting_PDF_Password</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentId</name>
            <value>
                <elementReference>Get_Content_Document.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_getContentDocumentPassword</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>txtPassword</assignToReference>
            <name>returnValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_No_Serviceable_Items_no_results_sent</name>
        <label>Log - Debug - No Serviceable Items, no results sent</label>
        <locationX>4978</locationX>
        <locationY>971</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No items on this opportunity are serviceable meaning that no results were emailed to the patient.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Decrypting_PDF_Password</name>
        <label>Log - Fault - Decrypting PDF Password</label>
        <locationX>2866</locationX>
        <locationY>1811</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to decrypt the PDF Password</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Getting_Content_Document</name>
        <label>Log - Fault - Getting Content Document</label>
        <locationX>6694</locationX>
        <locationY>1295</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Email_No_Org_Email_Or_Email_Template</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed getting Content Document</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Getting_Content_Document_Links</name>
        <label>Log - Fault - Getting Content Document Links</label>
        <locationX>6650</locationX>
        <locationY>863</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Email_No_Content_Document_Link</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed getting content document links</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Getting_org_Wide_Email</name>
        <label>Log - Fault - Getting org Wide Email</label>
        <locationX>7178</locationX>
        <locationY>539</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to get Org Wide Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Sending_Email_to_Patient</name>
        <label>Log - Fault - Sending Email to Patient</label>
        <locationX>3526</locationX>
        <locationY>1595</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Email_No_Org_Email_Or_Email_Template</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to sending email for results received to patient</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Sending_Email_to_Patient_Email_Bounced</name>
        <label>Log - Fault - Sending Email to Patient - Email Bounced</label>
        <locationX>1370</locationX>
        <locationY>1595</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to emailing the patient their results as their email is bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Sending_Email_to_Patient_Email_Bounced_Genetic_Testing</name>
        <label>Log - Fault - Sending Email to Patient - Email Bounced - Genetic Testing</label>
        <locationX>4186</locationX>
        <locationY>1595</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to emailing the patient their results as their email is bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Sending_Email_to_Patient_Email_Bounced_Gut_Health</name>
        <label>Log - Fault - Sending Email to Patient - Email Bounced - Gut Health</label>
        <locationX>1898</locationX>
        <locationY>1595</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to emailing the patient their results as their email is bounced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Sending_Email_to_Patient_No_Email_Address</name>
        <label>Log - Fault - Sending Email to Patient - No Email Address</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to emailing the patient their results because we didn&apos;t find an email.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Sending_Email_to_Patient_PGT</name>
        <label>Log - Fault - Sending Email to Patient - PGT</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to emailing the patient their results</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Sending_Email_with_Password_to_Patient</name>
        <label>Log - Fault - Sending Email with Password to Patient</label>
        <locationX>2426</locationX>
        <locationY>2135</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to emailing the patient their PDF Password</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Sending_Internal_Email</name>
        <label>Log - Fault - Sending Internal Email</label>
        <locationX>6914</locationX>
        <locationY>647</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to sending internal email for results received</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Setting_the_Opportunity_Stage_to_Results_Received</name>
        <label>Log - Fault - Setting the Opportunity Stage to Results Received</label>
        <locationX>4714</locationX>
        <locationY>2609</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to updating the opportunity to Results Delivered</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Updating_Content_Version</name>
        <label>Log - Fault - Updating Content Version</label>
        <locationX>3130</locationX>
        <locationY>1703</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to updating the content version with the last sent date</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Info_Failed_to_Sending_Document_As_Nothing_Was_Found</name>
        <label>Log - Info - Failed to Sending Document As Nothing Was Found</label>
        <locationX>6320</locationX>
        <locationY>2753</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The patient did not receive their results because of an error.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Info_Sending_Email_with_Password_to_Patient</name>
        <label>Log - Info - Sending Email with Password to Patient</label>
        <locationX>2426</locationX>
        <locationY>2027</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Fault_Sending_Email_with_Password_to_Patient</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to emailing the patient their PDF Password</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Initialized</name>
        <label>Log - Initialized</label>
        <locationX>4967</locationX>
        <locationY>323</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Org_Wide_Email_for_Operations</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Trigger - Opportunity - Results Received - Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>PTC_Fault_Error</name>
        <label>PTC - Fault Error</label>
        <locationX>4714</locationX>
        <locationY>2717</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Save_Logs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>PTC_Invalid_Patient_Email</name>
        <label>PTC - Invalid Patient Email</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtErrorPatientEmailInvalid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>PTC_No_Org_Email_Or_No_Email_Template</name>
        <label>PTC - No Org Email Or No Email Template</label>
        <locationX>3658</locationX>
        <locationY>1919</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtErrorNoPdfFound_NoOrg_NoTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>PTC_No_Patient_Email</name>
        <label>PTC - No Patient Email</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtErrorNoPatientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>PTC_No_Result_Tile_Found</name>
        <label>PTC - No Result Tile Found</label>
        <locationX>6320</locationX>
        <locationY>2645</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Log_Info_Failed_to_Sending_Document_As_Nothing_Was_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtErrorNoPdfFound_NoContentVersion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Logs</name>
        <label>Save Logs</label>
        <locationX>4714</locationX>
        <locationY>2825</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Client</name>
        <label>Send Email To Client</label>
        <locationX>2426</locationX>
        <locationY>1487</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ContentVersion_Last_Sent_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Sending_Email_to_Patient</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentAttachments</name>
            <value>
                <elementReference>colContentDocumentLinks</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>txtOrgWideEmailAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>txtOpptyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>txtSenderDisplayName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>txtToAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <elementReference>txtEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>txtContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Client_Password</name>
        <label>Send Email to Client - Password</label>
        <locationX>2162</locationX>
        <locationY>1919</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Opportunity_Stage_to_Results_Delivered_to_Client</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Info_Sending_Email_with_Password_to_Patient</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Genetic Test Results Access Key</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailBody_Password</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>txtContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>These results do not need the attachment and will be send just the email.</description>
        <name>Send_Email_to_Patient_Genetic_Testing</name>
        <label>Send Email to Patient - Genetic Testing</label>
        <locationX>3922</locationX>
        <locationY>1487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Opportunity_Stage_to_Results_Delivered_to_Client</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Sending_Email_to_Patient_Email_Bounced_Genetic_Testing</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>txtContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>txtEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>These results do not need the attachment and will be send just the email.</description>
        <name>Send_Email_to_Patient_Gut_Health</name>
        <label>Send Email to Patient - Gut Health</label>
        <locationX>1634</locationX>
        <locationY>1487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Opportunity_Stage_to_Results_Delivered_to_Client</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Sending_Email_to_Patient_Email_Bounced_Gut_Health</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>txtContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>txtEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>These results do not need the attachment and will be send just the email.</description>
        <name>Send_Email_to_Patient_Precision_Genetic_Test</name>
        <label>Send Email to Patient - Precision Genetic Test</label>
        <locationX>1106</locationX>
        <locationY>1487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Opportunity_Stage_to_Results_Delivered_to_Client</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Sending_Email_to_Patient_Email_Bounced</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>txtContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>txtEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SendResultReceivedEmail</name>
        <label>SendResultReceivedEmail</label>
        <locationX>4967</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>How_Are_The_Results_Delivered</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Sending_Internal_Email</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Results received for opportunity {!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailBodyTemplate_Internal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_File_to_Collection</name>
        <label>Add File to Collection</label>
        <locationX>6254</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>colContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Content_Document_Links</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ContentDocument_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_File_Collection</name>
        <label>Clear File Collection</label>
        <locationX>6254</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>colContentDocumentLinks</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Empty_ConentDocumentLink_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_ConentDocumentLink_Collection</name>
        <label>Empty ConentDocumentLink Collection</label>
        <locationX>6254</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>colContentDocumentLinks</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_File_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContentDocument_Id</name>
        <label>Set ContentDocument Id</label>
        <locationX>6254</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>txtContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Content_Document_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Created_Date_From_ContentDocument</name>
        <label>Set Created Date From ContentDocument</label>
        <locationX>6254</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>dateTimeCurrentRecord_CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Document.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_File_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_To_Email_Template_Variables_Genetic_Testing</name>
        <label>Set To Email Template Variables - Genetic Testing</label>
        <locationX>2778</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>txtToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Client_Genetic_Testing.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOpptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOrgWideEmailAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSenderDisplayName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.DisplayName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Email_and_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_To_Email_Template_Variables_Gut_Health</name>
        <label>Set To Email Template Variables - Gut Health</label>
        <locationX>2250</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>txtToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Client_Gut_Health.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOpptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOrgWideEmailAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSenderDisplayName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.DisplayName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Email_and_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_To_Email_Template_Variables_PGT</name>
        <label>Set To Email Template Variables - PGT</label>
        <locationX>1722</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>txtToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtEmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Client_PGT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOpptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOrgWideEmailAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSenderDisplayName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Org_Wide_Email_for_Operations.DisplayName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Email_and_Template</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Record_Trigger_Opportunity_Results_Received</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_There_Serviceable_Items</name>
        <label>Are There Serviceable Items</label>
        <locationX>3614</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Log_Debug_No_Serviceable_Items_no_results_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Serviceable Items</defaultConnectorLabel>
        <rules>
            <name>Serviceable_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Item_Product.bool_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_type_of_Service</targetReference>
            </connector>
            <label>Serviceable Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_At_Least_One_GeneticTestingResult_File</name>
        <label>Did We Find At Least One GeneticTestingResult File</label>
        <locationX>6166</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Error_Email_No_Content_Document_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No GeneticTestingResult File Found</defaultConnectorLabel>
        <rules>
            <name>GeneticTestingResult_File_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colContentDocumentLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Opportunity_Line_Item_Product</targetReference>
            </connector>
            <label>GeneticTestingResult File Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Content_Document_Link</name>
        <label>Found Content Document Link</label>
        <locationX>6320</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Error_Email_No_Content_Document_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Content Document Link Found</defaultConnectorLabel>
        <rules>
            <name>Content_Document_Link_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Links</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Content_Document_Links</targetReference>
            </connector>
            <label>Content Document Link Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision does a lot to ensure that we not only have a To Address but we also have an Email Template as well. This then checks if the email is provided that this email isn&apos;t marked as bounced. Then we go into specific services different email actions and if there is an attachment then we will send an email with the attachment else we will just send them the email with no attachment.</description>
        <name>Found_Email_and_Template</name>
        <label>Found Email and Template</label>
        <locationX>2250</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Email_No_Org_Email_Or_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email and Template Found</defaultConnectorLabel>
        <rules>
            <name>To_Address_is_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtToAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Email_No_Patient_Email</targetReference>
            </connector>
            <label>To Address is Not Set</label>
        </rules>
        <rules>
            <name>Email_Address_is_Bounced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmailBouncedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Email_Patient_s_Email_Invalid</targetReference>
            </connector>
            <label>Email Address is Bounced</label>
        </rules>
        <rules>
            <name>Precision_Genetic_Test_Reasults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Item_Product.rec_OpportunityLineItem.PricebookEntry.Product2.Services_Provided__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Genetic Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtToAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtEmailTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Patient_Precision_Genetic_Test</targetReference>
            </connector>
            <label>Precision Genetic Test - Reasults</label>
        </rules>
        <rules>
            <name>Gut_Health_Results</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Item_Product.rec_OpportunityLineItem.PricebookEntry.Product2.Services_Provided__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gut Health</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtToAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtEmailTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Patient_Gut_Health</targetReference>
            </connector>
            <label>Gut Health - Results</label>
        </rules>
        <rules>
            <name>Email_and_Template_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtToAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtEmailTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>colContentDocumentLinks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Client</targetReference>
            </connector>
            <label>Email and Template Found - Email Attachment</label>
        </rules>
        <rules>
            <name>Any_Results_Recieved_that_has_an_Email_Template_and_To_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtToAddress</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtEmailTemplate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Patient_Genetic_Testing</targetReference>
            </connector>
            <label>Any Results Recieved that has an Email Template and To Address</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on how the lab provider is setup depends on how we need to send the results. 

Right now the only difference is MyWellness Portal for PGT results will be sent this way.</description>
        <name>How_Are_The_Results_Delivered</name>
        <label>How Are The Results Delivered</label>
        <locationX>4967</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Everything Else</defaultConnectorLabel>
        <rules>
            <name>MyWellness_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lab_Provider__r.Results_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MyWellnessPortal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Line_Item_Product</targetReference>
            </connector>
            <label>MyWellness Portal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Created_Date_Less_Than_Current_ContentDocument</name>
        <label>Is Created Date Less Than Current ContentDocument</label>
        <locationX>6386</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Content_Document_Links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less Than ContentDocument Created Date</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_ContentDocument_Created_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dateTimeCurrentRecord_CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>formDateTime_ContentDocument_CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dateTimeCurrentRecord_CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Created_Date_From_ContentDocument</targetReference>
            </connector>
            <label>Greater Than ContentDocument Created Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_A_Fault_Message</name>
        <label>Is there A Fault Message</label>
        <locationX>3526</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>PTC_No_Org_Email_Or_No_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Fault Message</defaultConnectorLabel>
        <rules>
            <name>Fault_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>PTC_Fault_Error</targetReference>
            </connector>
            <label>Fault Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_A_Password</name>
        <label>Is There A Password</label>
        <locationX>2426</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_Stage_to_Results_Delivered_to_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Password</defaultConnectorLabel>
        <rules>
            <name>There_is_a_Password</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtPassword</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Client_Password</targetReference>
            </connector>
            <label>There is a Password</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_a_GeneticTestingResult_File</name>
        <label>Is This a GeneticTestingResult File</label>
        <locationX>6672</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Content_Document_Links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not GeneticTestingResult File</defaultConnectorLabel>
        <rules>
            <name>GeneticTestingResult_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Content_Document_Links.ContentDocument.LatestPublishedVersion.File_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10x Test Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Document</targetReference>
            </connector>
            <label>GeneticTestingResult File</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on the type of service depends on what email we need to send out.</description>
        <name>What_type_of_Service</name>
        <label>What type of Service</label>
        <locationX>2250</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template_Client_Genetic_Testing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Genetic Testing</defaultConnectorLabel>
        <rules>
            <name>Precision_Genetic_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Item_Product.rec_OpportunityLineItem.PricebookEntry.Product2.Services_Provided__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Genetic Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Client_PGT</targetReference>
            </connector>
            <label>Precision Genetic Test</label>
        </rules>
        <rules>
            <name>Gut_Health</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Item_Product.rec_OpportunityLineItem.PricebookEntry.Product2.Services_Provided__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gut Health</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Client_Gut_Health</targetReference>
            </connector>
            <label>Gut Health</label>
        </rules>
    </decisions>
    <description>When we get the results from a test this automation will email the patient the results.</description>
    <environments>Default</environments>
    <formulas>
        <name>formDateTime_ContentDocument_CreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Get_Content_Document.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>OpportunityLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) &amp; 
    {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Record Trigger - Opportunity - Results Received {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Opportunity - Results Received</label>
    <loops>
        <name>Loop_through_Content_Document_Links</name>
        <label>Loop through Content Document Links</label>
        <locationX>6166</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Content_Document_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_This_a_GeneticTestingResult_File</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Did_We_Find_At_Least_One_GeneticTestingResult_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>6386</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Created_Date_Less_Than_Current_ContentDocument</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Getting_Content_Document</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Content_Document_Links.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Links</name>
        <label>Get Content Document Links</label>
        <locationX>6320</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Content_Document_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Getting_Content_Document_Links</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Client_Genetic_Testing</name>
        <label>Get Email Template - Client - Genetic Testing</label>
        <locationX>2778</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_To_Email_Template_Variables_Genetic_Testing</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Email_No_Org_Email_Or_Email_Template</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Line_Item_Product.rec_OpportunityLineItem.Product2.Results_Email_Template_Developer_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Client_Gut_Health</name>
        <label>Get Email Template - Client - Gut Health</label>
        <locationX>2250</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_To_Email_Template_Variables_Gut_Health</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Email_No_Org_Email_Or_Email_Template</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Line_Item_Product.rec_OpportunityLineItem.Product2.Results_Email_Template_Developer_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Client_PGT</name>
        <label>Get Email Template - Client - PGT</label>
        <locationX>1722</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_To_Email_Template_Variables_PGT</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Email_No_Org_Email_Or_Email_Template</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Line_Item_Product.rec_OpportunityLineItem.Product2.Results_Email_Template_Developer_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Wide_Email_for_Operations</name>
        <label>Get Org Wide Email for Operations</label>
        <locationX>4967</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendResultReceivedEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Getting_org_Wide_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>no-reply@10xhealthsystem.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Opportunity_Stage_to_Results_Delivered_to_Client</name>
        <label>Set Opportunity Stage to Results Delivered to Client</label>
        <locationX>2250</locationX>
        <locationY>2501</locationY>
        <faultConnector>
            <targetReference>Log_Fault_Setting_the_Opportunity_Stage_to_Results_Received</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Opportunity_Status__c</field>
            <value>
                <stringValue>Order Shipped</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Results Delivered to Client</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ContentVersion_Last_Sent_Date</name>
        <label>Update ContentVersion Last Sent Date</label>
        <locationX>2426</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Get_Password_Field</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Updating_Content_Version</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtContentDocumentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <start>
        <locationX>4841</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Initialized</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Results Received</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Get_Opportunity_Line_Item_Product</name>
        <label>Get Opportunity Line Item</label>
        <locationX>3614</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Are_There_Serviceable_Items</targetReference>
        </connector>
        <flowName>Autolaunch_Lab_Order_Create_Collection_of_Serviceable_Items_and_Their_Lab_SKU_s</flowName>
        <inputAssignments>
            <name>bool_Validate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rec_Opportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>GTResultDeliveryEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;The time has finally arrived - your 10X Health Genetic Test results are now available!&amp;nbsp;We have attached a PDF copy of your personalized report (password protected). You will separately receive an email with the password to access the file.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Don&apos;t want to wait for the password email? &lt;a href=&quot;https://portal.10xhealthsystem.com/session/signin?return_url=%2F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;CLICK HERE&lt;/a&gt;&amp;nbsp;to&amp;nbsp;view your results directly in your secure patient portal.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In the report you will find:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Summary of your genetic test results, including any variants.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Detailed description of each of the 5 genes tested.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Explanation of how these genes impact your body’s ability to break down key nutrients.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Personalized 10X Health Supplement Protocol based on your results.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Within your report, you will find your personalized supplementation protocol&amp;nbsp;that will include all the vital nutrients and elements your body may be missing based on your genetic information.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your report is designed to be self-guided, but if you prefer to schedule a live consultation with a 10X Health Wellness Expert to look over your information and answer questions, you can do so &lt;a href=&quot;https://shop.10xhealthsystem.com/products/genetic-breakthrough-session-clarity-call&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;With this new genetic test information, you have taken an important step forward on your wellness journey and we are here to support you.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Yours in optimal wellness,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Wellness Team at&amp;nbsp;10X&amp;nbsp;Health&amp;nbsp;&lt;/p&gt;&lt;p&gt;Main: (844) 977-2810&lt;/p&gt;&lt;p&gt;Fax: (786) 598-8612&lt;/p&gt;&lt;p&gt;Email: support@10xhealthsystem.com&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Disclaimer: This email and any attachments may contain privileged and confidential information and/or protected health information (PHI) intended solely for the use of 10X Health System and any recipient(s) named above. If you are not the recipient, you are hereby notified that any review, dissemination, distribution or duplication of this email message and/or any attachments is strictly prohibited.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>GTResultsDelivery</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!5dc785b8-7e31-414e-a0d0-0203e50d4050.Body}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtEmailBody_NoPassword</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.Opportunity_Patient_Full_Name__c},
Are you ready to unlock your genetic report? 
To get started, simply use the password below:
Password: XXXXXXXXXX
As a team dedicated to helping you achieve optimal health, we&apos;re here to answer any questions you may have. 
Don&apos;t hesitate to reach out to us at 305.682.1818.

In your health,
Your 10X Health Team
10X Health
Main: 305.682.1818
Fax: 786.598.8612
10xhealthsystem.com</text>
    </textTemplates>
    <textTemplates>
        <name>txtEmailBody_Password</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Dear {!$Record.Account.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Are you ready to unlock your genetic report? You should have already received another email with your report attached. This email will have the password to unlock your report. When you open the report, enter the password below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Password: {!txtPassword}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Your report is designed to be self-guided, but if you prefer to schedule a live consultation with a 10X Health Wellness Expert to look over your information and answer questions, you can do so &lt;/span&gt;&lt;a href=&quot;https://shop.10xhealthsystem.com/products/genetic-breakthrough-session-clarity-call?utm_source=geneticTestResultsEmail&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;HERE&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;With this new Genetic test, you have taken an important step forward on your wellness journey.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Verdana, Arial, Helvetica, sans-serif;&quot;&gt;Yours in optimal wellness,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(51, 51, 51); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Verdana, Arial, Helvetica, sans-serif;&quot;&gt;Wellness Team at 10&lt;/strong&gt;&lt;strong style=&quot;color: rgb(192, 57, 43); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Verdana, Arial, Helvetica, sans-serif;&quot;&gt;X&lt;/strong&gt;&lt;strong style=&quot;color: rgb(51, 51, 51); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Verdana, Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;Health&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Verdana, Arial, Helvetica, sans-serif;&quot;&gt;Main: (844) 977-2810&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Verdana, Arial, Helvetica, sans-serif;&quot;&gt;Email:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:support@10xhealthsystem.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: Verdana, Arial, Helvetica, sans-serif;&quot;&gt;support@10xhealthsystem.com&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://10xhealthsystem.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(51, 51, 51); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Verdana, Arial, Helvetica, sans-serif;&quot;&gt;10xhealthsystem.com&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtEmailBodyTemplate_Internal</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;INTERNAL NOTIFICATION:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;We have received the {!Get_Opportunity_Line_Item_Product.rec_OpportunityLineItem.PricebookEntry.Product2.Services_Provided__c} Results for &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Opportunity_Line_Item_Product.rec_OpportunityLineItem.Customer_Name_GT__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity Link: {!OpportunityLink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You&lt;/p&gt;&lt;p&gt;10X Automated Service&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;{{ Record Trigger - Opportunity - Results Received Automation }}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtEmailPassword_TaskBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Email Sent to: {!txtToAddress}</text>
    </textTemplates>
    <textTemplates>
        <name>txtErrorNoPatientEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The patient, {!$Record.Account.FirstName}&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Account.LastName},&lt;/span&gt; did not get their lab results from the {!$Record.RecordType.Name} Opportunity because there was no email address on their account. Please add an email address to their Account record and then go into the Opportunity and send the results to the patient.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Again, this is a critical note, and you must send the results to the patient, or they will never get them. If you have questions, please reach out to the internal support team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You&lt;/p&gt;&lt;p&gt;10X Automated Service&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;{{ Record Trigger - Opportunity - Results Received Automation }}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtErrorNoPdfFound_NoContentVersion</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The patient, {!$Record.Account.FirstName}&amp;nbsp;{!$Record.Account.LastName},&amp;nbsp;did not get their lab results from the {!$Record.RecordType.Name} Opportunity because there was an unexpected error. Please go into the Opportunity and send the results to the patient.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Again, this is a critical note, and you must send the results to the patient, or they will never get them. If you have questions, please reach out to the internal support team.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You&lt;/p&gt;&lt;p&gt;10X Automated Service&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;{{ Record Trigger - Opportunity - Results Received Automation }}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtErrorNoPdfFound_NoOrg_NoTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The patient, {!$Record.Account.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Account.LastName},&lt;/span&gt; did not get their lab results from the {!$Record.RecordType.Name} Opportunity because there was an unexpected error. Please go into the Opportunity and send the results to the patient.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Again, this is a critical note, and you must send the results to the patient, or they will never get them. If you have questions, please reach out to the internal support team.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You&lt;/p&gt;&lt;p&gt;10X Automated Service&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;{{ Record Trigger - Opportunity - Results Received Automation }}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtErrorPatientEmailInvalid</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The patient, {!$Record.Account.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Account.LastName},&lt;/span&gt; did not get their lab results from the {!$Record.RecordType.Name} Opportunity because the email address on their account is invalid. Please update the email address on their Account record and then go into the Opportunity and send the results to the patient.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Again, this is a critical note, and you must send the results to the patient, or they will never get them. If you have questions, please reach out to the internal support team.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You&lt;/p&gt;&lt;p&gt;10X Automated Service&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;{{ Record Trigger - Opportunity - Results Received Automation }}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>colContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>colFieldAPINames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dateCurrentRecord_CreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dateTimeCurrentRecord_CreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recContentDelivery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDistribution</objectType>
    </variables>
    <variables>
        <name>recContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>txtAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOrgWideEmailAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtPassword</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSenderDisplayName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
