force-app/main/default/flows/Record_Trigger_Case_Sets_Case_Counter_for_Round_Robin_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Record_Tier_1</name>
        <label>Assign Record Tier 1</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tier_1_Case_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_CaseNumberTier1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Record_Tier_2</name>
        <label>Assign Record Tier 2</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tier_2_Case_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_CaseNumberTier2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>const_numMaxUserTier1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>const_numMaxUserTier2</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>We are checking to see if the case has been escalated or not. If the case has been escalated we will assign the case to Tier 2 and if the case hasn&apos;t been escalated we will assign the case to Tier 1.</description>
        <name>Is_this_Case_Escalated</name>
        <label>Is this Case Escalated?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Initial_Customer_Experience_Tier_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case is NOT Escalated</defaultConnectorLabel>
        <rules>
            <name>Case_is_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsEscalated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Initial_Customer_Experience_Tier_2</targetReference>
            </connector>
            <label>Case is Escalated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>form_CaseNumberTier1</name>
        <dataType>Number</dataType>
        <expression>IF(
    ISBLANK({!Get_Initial_Customer_Experience_Tier_1.Tier_1_Case_Counter__c}),
    1,
    IF(
        {!Get_Initial_Customer_Experience_Tier_1.Tier_1_Case_Counter__c} &lt; {!const_numMaxUserTier1}, 
        {!Get_Initial_Customer_Experience_Tier_1.Tier_1_Case_Counter__c} + 1, 
        1
    )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>form_CaseNumberTier2</name>
        <dataType>Number</dataType>
        <expression>IF(
    ISBLANK({!Get_Initial_Customer_Experience_Tier_2.Tier_2_Case_Counter__c}),
    1,
    IF(
        {!Get_Initial_Customer_Experience_Tier_2.Tier_2_Case_Counter__c} &lt; {!const_numMaxUserTier2}, 
        {!Get_Initial_Customer_Experience_Tier_2.Tier_2_Case_Counter__c} + 1, 
        1
    )
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Record Trigger - Case - Sets Case Counter for Round Robin Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Case - Sets Case Counter for Round Robin Assignments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Initial_Customer_Experience_Tier_1</name>
        <label>Get Initial Customer Experience Tier 1</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Tier_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsEscalated</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initial_Customer_Experience_Tier_2</name>
        <label>Get Initial Customer Experience Tier 2</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Tier_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsEscalated</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_Case_Escalated</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name} = &apos;Customer Experience&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>num_UserCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
