force-app/main/default/flows/Smagic_Send_SMS_on_Opportunity_Stage_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Opportunity_Product_Matched</name>
        <label>Opportunity Product Matched</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Opportunity_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS</targetReference>
            </connector>
            <label>Record found</label>
        </rules>
    </decisions>
    <description>Created by SMS Magic
This flow will send immediate SMS when Opportunity is Stage updated as Results Delivered to Client with matching related Product Names</description>
    <environments>Default</environments>
    <interviewLabel>[Smagic] Send SMS on Opportunity Stage Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Smagic] Send SMS on Opportunity Stage Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000008</stringValue>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Opportunity_Product</name>
        <label>Check Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Product_Matched</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10x Precision Genetic Test - In-Person</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10x Precision Genetic Test - Virtual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10X Health Precision Genetic Test - Printed Report Books</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Results Delivered to Client</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path_1</name>
            <connector>
                <targetReference>Check_Opportunity_Product</targetReference>
            </connector>
            <label>Stage Update + 1 Day</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
