force-app/main/default/flows/TEMP_TRIG_FILE_UPLOAD_Patient_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Upload_Content_Document_File</name>
        <label>Upload Content Document File</label>
        <locationX>484</locationX>
        <locationY>684</locationY>
        <actionName>drChrono_Document_Create</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Patient_Agreement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentId</name>
            <value>
                <elementReference>col_txtContentDocumentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>doctorId</name>
            <value>
                <elementReference>$Record.Patient__r.Main_Practitioner__r.DrChrono_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentNamePrefix</name>
            <value>
                <elementReference>form_txtPrefix</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentNameSuffix</name>
            <value>
                <elementReference>form_txtSuffix</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientId</name>
            <value>
                <elementReference>$Record.Patient__r.DrChrono_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>practiceGroup</name>
            <value>
                <elementReference>$Record.Patient__r.Main_Practitioner__r.Practice_Group__r.External_Id__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>drChrono_Document_Create</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Content_Document_Id_to_Collection</name>
        <label>Add Content Document Id to Collection</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>col_txtContentDocumentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Content_Documents.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Content_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Content_Documents_Collection</name>
        <label>Add Content Documents Collection</label>
        <locationX>572</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>col_ContentVersion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ContentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_API_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Content_Documents_Updates</name>
        <label>Set Content Documents Updates</label>
        <locationX>572</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>rec_ContentVersion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_API_Response.data.contentVersionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ContentVersion.EHR_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_API_Response.data.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Content_Documents_Collection</targetReference>
        </connector>
    </assignments>
    <description>Temp trigger to push files up to drchrono API.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_txtFileName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Patient_Agreement_Configuration__r.Name} + &apos;-&apos; + {!$Record.Id} + &apos;-&apos; + 
TEXT(YEAR(DATEVALUE({!$Record.Date_Approved_Rejected__c}))) + &apos;-&apos; + TEXT(MONTH(DATEVALUE({!$Record.Date_Approved_Rejected__c}))) + &apos;-&apos; + TEXT(DAY(DATEVALUE({!$Record.Date_Approved_Rejected__c})))</expression>
    </formulas>
    <formulas>
        <name>form_txtPrefix</name>
        <dataType>String</dataType>
        <expression>{!$Record.Patient_Agreement_Configuration__r.Name} + &apos;-&apos; + {!$Record.Id} + &apos;-&apos;</expression>
    </formulas>
    <formulas>
        <name>form_txtSuffix</name>
        <dataType>String</dataType>
        <expression>&apos;-&apos;+
TEXT(YEAR(DATEVALUE({!$Record.Date_Approved_Rejected__c}))) + &apos;-&apos; + TEXT(MONTH(DATEVALUE({!$Record.Date_Approved_Rejected__c}))) + &apos;-&apos; + TEXT(DAY(DATEVALUE({!$Record.Date_Approved_Rejected__c})))</expression>
    </formulas>
    <interviewLabel>TEMP - TRIG FILE UPLOAD - Patient Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEMP - TRIG FILE UPLOAD - Patient Agreement</label>
    <loops>
        <name>Loop_Thru_API_Response</name>
        <label>Loop Thru API Response</label>
        <locationX>484</locationX>
        <locationY>900</locationY>
        <collectionReference>Upload_Content_Document_File.results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Content_Documents_Updates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Content_Version_With_EHR_Document_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Content_Documents</name>
        <label>Loop Thru Content Documents</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_First_Content_Document</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Content_Document_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upload_Content_Document_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This will get the first document as the action isn&apos;t bulkified we can only send one document at a time.</description>
        <name>Get_First_Content_Document</name>
        <label>Get First Content Document</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Content_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Version_With_EHR_Document_Id</name>
        <label>Update Content Version With EHR Document Id</label>
        <locationX>484</locationX>
        <locationY>1308</locationY>
        <inputReference>col_ContentVersion</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Agreement</name>
        <label>Update Patient Agreement</label>
        <locationX>484</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Loop_Thru_API_Response</targetReference>
        </connector>
        <inputAssignments>
            <field>EHR_Document_Id__c</field>
            <value>
                <stringValue>TRUE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TRIG_FILE_UPLOAD__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Patient_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>Run_Delayed</name>
            <connector>
                <targetReference>Get_First_Content_Document</targetReference>
            </connector>
            <label>Run Delayed</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>col_ContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>col_txtContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rec_ContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
</Flow>
