temp-metadata-retrieve-all/flows/Autolaunch_Create_Salesforce_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Debug_Account_found_by_Account_Id</name>
        <label>Log - Debug - Account found by Account Id</label>
        <locationX>1485</locationX>
        <locationY>890</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Record_Id_Account</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account found by Account Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_No_Provider_User_Found_Looking_For_Queue</name>
        <label>Log - Debug - No Provider User Found - Looking For Queue</label>
        <locationX>534</locationX>
        <locationY>2330</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Patient_Scheduling_Queue</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No Provider User Found - Looking For Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Opportunity_found_by_Opportunity_Id</name>
        <label>Log - Debug - Opportunity found by Opportunity Id</label>
        <locationX>1221</locationX>
        <locationY>674</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Opportunity_Record_SF_Object_Id</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity found by Opportunity Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Opportunity_found_by_Transaction_Number</name>
        <label>Log - Debug - Opportunity found by Transaction Number</label>
        <locationX>693</locationX>
        <locationY>890</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity found by Transaction Number</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Opportunity_found_by_Transaction_Order_Id</name>
        <label>Log - Debug - Opportunity found by Transaction Order Id</label>
        <locationX>825</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunity_Ids_Transaction_Source_Number</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity found by Transaction Order Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Patient_Demographic_Mis_Match</name>
        <label>Log - Debug - Patient Demographic Mis-Match</label>
        <locationX>3031</locationX>
        <locationY>2114</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_User_Record</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Demographic Mis-Match</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Started</name>
        <label>Log - Debug - Started</label>
        <locationX>1683</locationX>
        <locationY>134</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunity_Transaction_Order_Id</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!const_FlowApiName} Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Creating_Appointment_Record</name>
        <label>Log - Error - Failed Creating Appointment Record</label>
        <locationX>1975</locationX>
        <locationY>5684</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Creating Appointment Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Getting_Account_Record</name>
        <label>Log - Error - Failed Getting Account Record</label>
        <locationX>2013</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Getting Account Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Getting_Opportunity_Record</name>
        <label>Log - Error - Failed Getting Opportunity Record</label>
        <locationX>2277</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Getting Opportunity Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Getting_Opportunity_Transaction_Order_Id</name>
        <label>Log - Error - Failed Getting Opportunity - Transaction Order Id</label>
        <locationX>3295</locationX>
        <locationY>350</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Getting Opportunity - Transaction Order Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Getting_Patient_Scheduling_Queue</name>
        <label>Log - Error - Failed Getting Patient Scheduling Queue</label>
        <locationX>930</locationX>
        <locationY>2546</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Getting Patient Scheduling Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Getting_Product_Configurations</name>
        <label>Log - Error - Failed Getting Product Configurations</label>
        <locationX>2239</locationX>
        <locationY>5168</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed finding a product with the Calendly Booking Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Getting_Provider_Accounts</name>
        <label>Log - Error - Failed Getting Provider Accounts</label>
        <locationX>2503</locationX>
        <locationY>3146</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Getting Provider Accounts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Getting_Scheduled_Appointment_Schedule</name>
        <label>Log - Error - Failed Getting Scheduled Appointment - Schedule</label>
        <locationX>1447</locationX>
        <locationY>3854</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Getting Scheduled Appointment - Schedule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Getting_User_Record</name>
        <label>Log - Error - Failed Getting User Record</label>
        <locationX>2767</locationX>
        <locationY>2114</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Getting User Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Updating_Appointment_Conflict</name>
        <label>Log - Error - Failed Updating Appointment Conflict</label>
        <locationX>655</locationX>
        <locationY>4694</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Product_Config_Where_Calendly_Form_Name_Contains_Event_Subject</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Updating Appointment Conflict</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Updating_Appointment_Reschedule_Schedule</name>
        <label>Log - Error - Failed Updating Appointment - Reschedule Schedule</label>
        <locationX>1183</locationX>
        <locationY>4070</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Update Pending Reschedule Appointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Updating_CalendlyAction</name>
        <label>Log - Error - Failed Updating CalendlyAction</label>
        <locationX>1711</locationX>
        <locationY>6500</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Did_We_Get_the_Opportunity_Record</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Updating CalendlyAction</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Failed_Updating_Opportunity</name>
        <label>Log - Error - Failed Updating Opportunity</label>
        <locationX>336</locationX>
        <locationY>6716</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Log</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Updating Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Unsupported_CalendlyAction_Event</name>
        <label>Log - Error - Unsupported CalendlyAction Event</label>
        <locationX>556</locationX>
        <locationY>5276</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>txt_UnsupportedForm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Warning_Duplicate_Appointment_for_Same_Opportunity</name>
        <label>Log - Warning - Duplicate Appointment for Same Opportunity</label>
        <locationX>347</locationX>
        <locationY>3962</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Email_to_Scheduling_Team_Duplicate_Event</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Duplicate Appointment for Same Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Provider Account, {!rec_CalendyAction.Calendly__EventPrimaryPublisherEmail__c}, wasn’t found and was not assigned to this Appointment.</description>
        <name>Log_Warning_No_Provider_Account_Found_No_Provider_Set_on_Appointment</name>
        <label>Log - Warning - No Provider Account Found - No Provider Set on Appointment</label>
        <locationX>490</locationX>
        <locationY>3254</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>What_is_the_number_of_Appointments</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Provider Account, {!rec_CalendyAction.Calendly__EventPrimaryPublisherEmail__c}, wasn’t found and was not assigned to this Appointment. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Warning_No_Provider_User_Found_No_Queue_Found</name>
        <label>Log - Warning - No Provider User Found - No Queue Found</label>
        <locationX>666</locationX>
        <locationY>2654</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No Provider User Found - No Queue Found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Provider Account, {!Get_Provider_Account.Name}, Account Status field isn’t set as an Active and was not assigned to this Appointment.</description>
        <name>Log_Warning_Provider_Account_Not_Active</name>
        <label>Log - Warning - Provider Account Not Active</label>
        <locationX>248</locationX>
        <locationY>6116</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Calendly_Action_Link_Appointment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Calendly__CalendlyAction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Provider Account, {!Get_Provider_Account.Name}, Account Status field isn’t set as an Active and was not assigned to this Appointment. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_CalendyAction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>336</locationX>
        <locationY>6998</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Scheduling_Team_Duplicate_Event</name>
        <label>Send Email to Scheduling Team - Duplicate Event</label>
        <locationX>347</locationX>
        <locationY>4070</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Was_Opportunity_Found_Object_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>patientscheduling@10xhealtsystem.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Patient Double Booked</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txt_DuplicateEventTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Account_Data</name>
        <label>Set Account Data</label>
        <locationX>1683</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>rec_Account.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Opportunity.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Opportunity.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Opportunity.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Id_and_Account_Id_on_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment_Owner_Queue</name>
        <label>Set Appointment Owner - Queue</label>
        <locationX>402</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Scheduling_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Provider_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment_Owner_User</name>
        <label>Set Appointment Owner - User</label>
        <locationX>138</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Provider_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Here we set the Appointment Record to IsError TRUE and set the error code message to signify what the error is.</description>
        <name>Set_Conflicted_Appointment</name>
        <label>Set Conflicted Appointment</label>
        <locationX>347</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_DuplicateAppointments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsAppointmentConflict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointments_Appointment_Conflicted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Appointment_Values</name>
        <label>Set Default Appointment Values</label>
        <locationX>336</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.Calendly_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_CalendyAction.Calendly__InviteeUuid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_CalendyAction.Calendly__EventEndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_CalendyAction.Calendly__EventStartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Updated_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Updated_by_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.appointment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txtAppointmentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Confirmed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txtCalendlyResponses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_We_Find_a_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Patient_Demographic_Mismatch</name>
        <label>Set Error - Patient Demographic Mismatch</label>
        <locationX>3031</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_PatientDemographic_ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.IsDemographicConflict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Debug_Patient_Demographic_Mis_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Latest_Appointment_Values</name>
        <label>Set Latest Appointment Values</label>
        <locationX>1683</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>rec_UpdatedOpportunity.Latest_Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_CalendyAction.Calendly__EventStartTime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Patient_Demographic_Data_Correct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will ensure that the Opportuntiy record knows how many active appointments there are. This will help with automations and reporting.</description>
        <name>Set_Number_of_Appointment_Count</name>
        <label>Set Number of Appointment Count</label>
        <locationX>336</locationX>
        <locationY>5792</locationY>
        <assignmentItems>
            <assignToReference>rec_UpdatedOpportunity.Number_of_Appointments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_We_Find_A_Provider_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Since a Opportunity Record was found we want to set that on the appointment.</description>
        <name>Set_Opportunity_Id_and_Account_Id_on_Appointment</name>
        <label>Set Opportunity Id and Account Id on Appointment</label>
        <locationX>1683</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Appointment.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>num_NumberOfAppointments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Opportunity.Number_of_Appointments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_UpdatedOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Latest_Appointment_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Record_SF_Object_Id</name>
        <label>Set Opportunity Record - SF Object Id</label>
        <locationX>1221</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Values_Scheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Record_Transaction_Order_Id</name>
        <label>Set Opportunity Record - Transaction Order Id</label>
        <locationX>781</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Status_As_Scheduled</name>
        <label>Set Opportunity Status As Scheduled</label>
        <locationX>336</locationX>
        <locationY>5684</locationY>
        <assignmentItems>
            <assignToReference>rec_UpdatedOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Number_of_Appointment_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Status_Conflicted</name>
        <label>Set Opportunity Status - Conflicted</label>
        <locationX>215</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>rec_UpdatedOpportunity.Opportunity_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduling Conflict</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Conflicted_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This can only be done when the Opportunity Id is on the CalendlyAction as that is the Record Type that has these Stages and Statues.</description>
        <name>Set_Opportunity_Values_Scheduled</name>
        <label>Set Opportunity Values - Scheduled</label>
        <locationX>1221</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rec_UpdatedOpportunity.Opportunity_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Confirmed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_UpdatedOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Record_Id_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Profile_Type_to_Appointment_Type</name>
        <label>Set Profile Type to Appointment Type</label>
        <locationX>116</locationX>
        <locationY>5276</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.Visit_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Config_Where_Calendly_Form_Name_Contains_Event_Subject.EHR_Profile_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Provider_Account_on_Appointment</name>
        <label>Set Provider Account on Appointment</label>
        <locationX>50</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>rec_Appointment.Provider_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Provider_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_number_of_Appointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Id_Account</name>
        <label>Set Record Id - Account</label>
        <locationX>1485</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>txt_RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Id_Opportunity</name>
        <label>Set Record Id - Opportunity</label>
        <locationX>1683</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>txt_RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Account_Data</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Autolaunch_Create_Salesforce_Appointment</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Here we need to check if a provider was found or not. If there was no provider found then we need to assign the Appointment to a Queue</description>
        <name>Did_We_Find_A_Provider</name>
        <label>Did We Find A Provider</label>
        <locationX>336</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Log_Warning_No_Provider_Account_Found_No_Provider_Set_on_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Provider Found</defaultConnectorLabel>
        <rules>
            <name>Provider_was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Provider_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Provider_Active</targetReference>
            </connector>
            <label>Provider was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we need to check if a provider was found or not. If there was no provider found then we need to assign the Appointment to a Queue</description>
        <name>Did_We_Find_A_Provider_0</name>
        <label>Did We Find A Provider</label>
        <locationX>336</locationX>
        <locationY>5900</locationY>
        <defaultConnector>
            <targetReference>Update_Calendly_Action_Link_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Provider Found</defaultConnectorLabel>
        <rules>
            <name>Provider_was_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Provider_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Provider_Active_0</targetReference>
            </connector>
            <label>Provider was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>While looking up the records, if we found one, we would have set the OwnerId as the record owner.

In the last step, we attempted to overwrite the OwnerId with the id of the user whose email matches the publisher.

So at this point, we hope to have an owner defined.  If we don&apos;t we&apos;ll have to look up the system admin.</description>
        <name>Did_We_Find_a_User_Record</name>
        <label>Did We Find a User Record</label>
        <locationX>336</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Log_Debug_No_Provider_User_Found_Looking_For_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User Account Found</defaultConnectorLabel>
        <rules>
            <name>User_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appointment_Owner_User</targetReference>
            </connector>
            <label>User Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_An_Account</name>
        <label>Did We Find An Account</label>
        <locationX>1617</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>No Account Found</defaultConnectorLabel>
        <rules>
            <name>Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Debug_Account_found_by_Account_Id</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>We check to see if we found an Opportunity</description>
        <name>Did_We_Find_An_Opportunity</name>
        <label>Did We Find An Opportunity?</label>
        <locationX>1419</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opportunity Found</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Debug_Opportunity_found_by_Opportunity_Id</targetReference>
            </connector>
            <label>Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_Opportunity</name>
        <label>Did We Find Opportunity</label>
        <locationX>825</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found_By_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Product</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Debug_Opportunity_found_by_Transaction_Number</targetReference>
            </connector>
            <label>Opportunity Found - By Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_Opportunity_with_Order_Id</name>
        <label>Did We Find Opportunity with Order Id</label>
        <locationX>1683</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No Opportunity Found</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found_OrderNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Transaction_Order_Id</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Debug_Opportunity_found_by_Transaction_Order_Id</targetReference>
            </connector>
            <label>Opportunity Found</label>
        </rules>
        <rules>
            <name>Id_Starts_with_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_CalendyAction.Calendly__ObjectId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Id Starts with 00</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we check to see if we got the opportunity record or not. If we did then we need to update else we don&apos;t.</description>
        <name>Did_We_Get_the_Opportunity_Record</name>
        <label>Did We Get the Opportunity Record</label>
        <locationX>336</locationX>
        <locationY>6500</locationY>
        <defaultConnector>
            <targetReference>Save_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Hasn&apos;t Been Visited</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Has_Been_Visited</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Set_Opportunity_Record_Transaction_Order_Id</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Opportunity_Record_SF_Object_Id</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Record</targetReference>
            </connector>
            <label>Opportunity Has Been Visited</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we check that the entered data from the patient matches the Salesforce records.</description>
        <name>Is_Patient_Demographic_Data_Correct</name>
        <label>Is Patient Demographic Data Correct</label>
        <locationX>1683</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Patient_Demographic_Mismatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mis-Match - Patient Demographic</defaultConnectorLabel>
        <rules>
            <name>Matches_Patient_Demographic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_CalendyAction.Calendly__InviteeFirstName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rec_Account.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_CalendyAction.Calendly__InviteeLastName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rec_Account.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_CalendyAction.Calendly__InviteeEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rec_Account.PersonEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Record</targetReference>
            </connector>
            <label>Matches - Patient Demographic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Provider_Active</name>
        <label>Is Provider Active</label>
        <locationX>182</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>What_is_the_number_of_Appointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is Not Active</defaultConnectorLabel>
        <rules>
            <name>Provider_Account_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Provider_Account.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Provider_Account_on_Appointment</targetReference>
            </connector>
            <label>Provider Account is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Provider_Active_0</name>
        <label>Is Provider Active</label>
        <locationX>160</locationX>
        <locationY>6008</locationY>
        <defaultConnector>
            <targetReference>Log_Warning_Provider_Account_Not_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is Not Active</defaultConnectorLabel>
        <rules>
            <name>Provider_Account_is_Active_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Provider_Account.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Calendly_Action_Link_Appointment</targetReference>
            </connector>
            <label>Provider Account is Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we check the Get Product Config lookup to see if we got a record. This will let us know what type we need to set.</description>
        <name>Is_there_a_Product_Config_with_This_Form_Name</name>
        <label>Is there a Product Config with This Form Name</label>
        <locationX>336</locationX>
        <locationY>5168</locationY>
        <defaultConnector>
            <targetReference>Log_Error_Unsupported_CalendlyAction_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unsupported CalendlyAction Subject</defaultConnectorLabel>
        <rules>
            <name>Products_Config_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Config_Where_Calendly_Form_Name_Contains_Event_Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Profile_Type_to_Appointment_Type</targetReference>
            </connector>
            <label>Products Config Found</label>
        </rules>
        <rules>
            <name>Is_there_an_Object_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_CalendyAction.Calendly__ObjectId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Appointment</targetReference>
            </connector>
            <label>Is there an Object Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we see if the patient has already scheduled an appointment for this particular opportunity. If they have then we know that they are trying to book more than once and we need to inform the team that something is wrong.</description>
        <name>Is_there_a_Scheduled_Appointment</name>
        <label>Is there a Scheduled Appointment?</label>
        <locationX>633</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>Update_Pending_Schedule_Appointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Scheduled Appointments</defaultConnectorLabel>
        <rules>
            <name>There_is_a_Scheduled_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Appointment_Scheduled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Warning_Duplicate_Appointment_for_Same_Opportunity</targetReference>
            </connector>
            <label>There is a Scheduled Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <description>If we cannot find the system admin profile, we cannot find the system admin.  And if we&apos;re at this point in the logic, we have no other owner.

So there&apos;s no path forward if the profile is not found.</description>
        <name>Profile_Found</name>
        <label>Profile Found?</label>
        <locationX>534</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Log_Warning_No_Provider_User_Found_No_Queue_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Scheduling_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appointment_Owner_Queue</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Opportunity_Found_Object_Id</name>
        <label>Was Opportunity Found - Object Id</label>
        <locationX>347</locationX>
        <locationY>4178</locationY>
        <defaultConnector>
            <targetReference>Set_Conflicted_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opportunity Found</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found_with_Object_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Status_Conflicted</targetReference>
            </connector>
            <label>Opportunity Found with Object Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_number_of_Appointments</name>
        <label>What is the number of Appointments?</label>
        <locationX>336</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>Get_Appointment_Scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not 0</defaultConnectorLabel>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_NumberOfAppointments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Config_Where_Calendly_Form_Name_Contains_Event_Subject</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
    </decisions>
    <description>This automation will run for all of the calendly action records that were created and create appointments/events when it meets the criteria.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_dateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>form_numDuration</name>
        <dataType>Number</dataType>
        <expression>{!rec_Appointment.Start_Date__c}-{!rec_Appointment.End_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>form_Sfid_Check</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!rec_CalendyAction.Calendly__ObjectId__c})=18, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>form_txtAppointmentName</name>
        <dataType>String</dataType>
        <expression>LEFT({!rec_CalendyAction.Calendly__EventSubject__c} &amp;&quot; - Calendly - &quot;&amp; {!rec_CalendyAction.Calendly__InviteeUuid__c},80)</expression>
    </formulas>
    <formulas>
        <description>This will get everything left of the &quot;-&quot; in the name as everything after the &quot;-&quot; is the state name.</description>
        <name>form_txtCalendlyFormNameLeft</name>
        <dataType>String</dataType>
        <expression>IF(
FIND(&quot;-&quot;,{!rec_CalendyAction.Calendly__EventTypeName__c}) &gt; 0,
TRIM(LEFT({!rec_CalendyAction.Calendly__EventTypeName__c}, FIND(&quot;-&quot;, {!rec_CalendyAction.Calendly__EventTypeName__c}) - 1)),
{!rec_CalendyAction.Calendly__EventTypeName__c}
)</expression>
    </formulas>
    <formulas>
        <name>form_txtCalendlyResponses</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!rec_CalendyAction.Calendly__CustomQuestion1__c}), &quot;&quot;, 
    {!rec_CalendyAction.Calendly__CustomQuestion1__c} &amp; &quot; - &quot; &amp; {!rec_CalendyAction.Calendly__CustomResponse1__c} &amp; BR()) &amp; 
IF(ISBLANK({!rec_CalendyAction.Calendly__CustomQuestion2__c}), &quot;&quot;, 
    {!rec_CalendyAction.Calendly__CustomQuestion2__c} &amp; &quot; - &quot; &amp; {!rec_CalendyAction.Calendly__CustomResponse2__c} &amp; BR()) &amp; 
IF(ISBLANK({!rec_CalendyAction.Calendly__CustomQuestion3__c}), &quot;&quot;, 
    {!rec_CalendyAction.Calendly__CustomQuestion3__c} &amp; &quot; - &quot; &amp; {!rec_CalendyAction.Calendly__CustomResponse3__c} &amp; BR()) &amp; 
IF(ISBLANK({!rec_CalendyAction.Calendly__CustomQuestion4__c}), &quot;&quot;, 
    {!rec_CalendyAction.Calendly__CustomQuestion4__c} &amp; &quot; - &quot; &amp; {!rec_CalendyAction.Calendly__CustomResponse4__c} &amp; BR()) &amp; 
IF(ISBLANK({!rec_CalendyAction.Calendly__CustomQuestion5__c}), &quot;&quot;, 
    {!rec_CalendyAction.Calendly__CustomQuestion5__c} &amp; &quot; - &quot; &amp; {!rec_CalendyAction.Calendly__CustomResponse5__c} &amp; BR()) &amp; 
IF(ISBLANK({!rec_CalendyAction.Calendly__CustomQuestion6__c}), &quot;&quot;, 
    {!rec_CalendyAction.Calendly__CustomQuestion6__c} &amp; &quot; - &quot; &amp; {!rec_CalendyAction.Calendly__CustomResponse6__c} &amp; BR()) &amp; 
IF(ISBLANK({!rec_CalendyAction.Calendly__CustomQuestion7__c}), &quot;&quot;, 
    {!rec_CalendyAction.Calendly__CustomQuestion7__c} &amp; &quot; - &quot; &amp; {!rec_CalendyAction.Calendly__CustomResponse7__c} &amp; BR()) &amp; 
IF(ISBLANK({!rec_CalendyAction.Calendly__CustomQuestion8__c}), &quot;&quot;, 
    {!rec_CalendyAction.Calendly__CustomQuestion8__c} &amp; &quot; - &quot; &amp; {!rec_CalendyAction.Calendly__CustomResponse8__c} &amp; BR()) &amp; 
IF(ISBLANK({!rec_CalendyAction.Calendly__CustomQuestion9__c}), &quot;&quot;, 
    {!rec_CalendyAction.Calendly__CustomQuestion9__c} &amp; &quot; - &quot; &amp; {!rec_CalendyAction.Calendly__CustomResponse9__c} &amp; BR()) &amp; 
IF(ISBLANK({!rec_CalendyAction.Calendly__CustomQuestion10__c}), &quot;&quot;, 
    {!rec_CalendyAction.Calendly__CustomQuestion10__c} &amp; &quot; - &quot; &amp; {!rec_CalendyAction.Calendly__CustomResponse10__c})</expression>
    </formulas>
    <formulas>
        <name>form_txtType</name>
        <dataType>String</dataType>
        <expression>CASE({!rec_CalendyAction.Calendly__EventTypeSlug__c}, &apos;growth-con-blood-draw&apos;, &apos;BLO-4710-GRO-DRAW&apos;, &apos;growth-con-iv&apos;, &apos;BLO-4711-GRO-DRAW&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Autolaunch - Create Salesforce Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Create Salesforce Appointment</label>
    <loops>
        <name>Loop_Through_Line_Items</name>
        <label>Loop Through Line Items</label>
        <locationX>693</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Opportunity_Transaction_Order_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Opportunity_Record_Transaction_Order_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Record_Id_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Appointment</name>
        <label>Create Appointment</label>
        <locationX>336</locationX>
        <locationY>5576</locationY>
        <connector>
            <targetReference>Set_Opportunity_Status_As_Scheduled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Creating_Appointment_Record</targetReference>
        </faultConnector>
        <inputReference>rec_Appointment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>1617</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_An_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Getting_Account_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_CalendyAction.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Appointment_Scheduled</name>
        <label>Get Appointment - Scheduled</label>
        <locationX>633</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Scheduled_Appointment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Getting_Scheduled_Appointment_Schedule</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>appointment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1419</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_An_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Getting_Opportunity_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_CalendyAction.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Product</name>
        <label>Get Opportunity Product</label>
        <locationX>825</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Opportunity_Ids_Transaction_Source_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_txtType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Consultation Opportunity created from the Consultation Product</description>
        <name>Get_Opportunity_Transaction_Order_Id</name>
        <label>Get Opportunity - Transaction Order Id</label>
        <locationX>1683</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Opportunity_with_Order_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Getting_Opportunity_Transaction_Order_Id</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction_Source_Order_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_CalendyAction.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125a000000VeBEAA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Scheduling_Queue</name>
        <label>Get Patient Scheduling Queue</label>
        <locationX>534</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Getting_Patient_Scheduling_Queue</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient_Scheduling</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Config_Where_Calendly_Form_Name_Contains_Event_Subject</name>
        <label>Get Product Config Where Calendly Form Name Contains Event Subject</label>
        <locationX>336</locationX>
        <locationY>5060</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Product_Config_with_This_Form_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Getting_Product_Configurations</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly_Booking_Form_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>form_txtCalendlyFormNameLeft</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Account</name>
        <label>Get Provider Account</label>
        <locationX>336</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_A_Provider</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Getting_Provider_Accounts</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_CalendyAction.Calendly__EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_CalendyAction.Calendly__EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>336</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_Appointment_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Getting_User_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_CalendyAction.Calendly__EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appointments_Appointment_Conflicted</name>
        <label>Update Appointments - Appointment Conflicted</label>
        <locationX>347</locationX>
        <locationY>4586</locationY>
        <connector>
            <targetReference>Get_Product_Config_Where_Calendly_Form_Name_Contains_Event_Subject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Updating_Appointment_Conflict</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsAppointmentConflict__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Calendly_Action_Link_Appointment</name>
        <label>Update Calendly Action - Link Appointment</label>
        <locationX>336</locationX>
        <locationY>6392</locationY>
        <connector>
            <targetReference>Did_We_Get_the_Opportunity_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Updating_CalendlyAction</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_CalendyAction.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>rec_Appointment.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Calendly__CalendlyAction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>72</locationX>
        <locationY>6608</locationY>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Updating_Opportunity</targetReference>
        </faultConnector>
        <inputReference>rec_UpdatedOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Considering that we are booking a new appointment, look for an appointment that is connected to the opportunity and is in Pending Reschedule status and does not already have &quot;Was Rescheduled&quot; flag. If found, update the was rescheduled flag to true</description>
        <name>Update_Pending_Schedule_Appointments</name>
        <label>Update Pending Schedule Appointments</label>
        <locationX>919</locationX>
        <locationY>3962</locationY>
        <connector>
            <targetReference>Get_Product_Config_Where_Calendly_Form_Name_Contains_Event_Subject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Failed_Updating_Appointment_Reschedule_Schedule</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>appointment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Reschedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>Was_Rescheduled__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Was_Rescheduled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordUpdates>
    <sourceTemplate>Calendly__CreateEventTemplate</sourceTemplate>
    <start>
        <locationX>1557</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Debug_Started</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_AppointmentFlowError</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Error Trying to Set Appointment Conflicts.
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <textTemplates>
        <name>txt_AppointmentUpdateError</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Error Updating Appointment.
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <textTemplates>
        <name>txt_DuplicateAppointments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Booking Error: More than one appointment has been scheduled for the same opportunity. Each opportunity is limited to a single appointment. Please review the appointments and make any necessary adjustments.</text>
    </textTemplates>
    <textTemplates>
        <name>txt_DuplicateEventTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This Opportunity has Duplicated Clarity Call Event&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txt_OpportunityUpdateError</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Error Updating Opportunity:
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <textTemplates>
        <name>txt_PatientDemographic_ErrorMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Patient Demographic Data Mismatch Error: The demographic information submitted during appointment scheduling does not align with the patient&apos;s existing record. Please advise the patient to verify their details and ensure accuracy in alignment with their official patient profile.</text>
    </textTemplates>
    <textTemplates>
        <name>txt_UnsupportedForm</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No Appointment Created Because the Calendly Form, {!form_txtCalendlyFormNameLeft}, is unsupported.</text>
    </textTemplates>
    <transforms>
        <name>Get_Opportunity_Ids_Transaction_Source_Number</name>
        <label>Get Opportunity Ids - Transaction Source Number</label>
        <locationX>825</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Opportunity_Product</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity_Transaction_Order_Id[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ConvertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Oppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>LeadConvertedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>num_NumberOfAppointments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rec_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rec_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>rec_CalendyAction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Calendly__CalendlyAction__c</objectType>
    </variables>
    <variables>
        <name>rec_Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>rec_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>This is the opportunity that is updated</description>
        <name>rec_UpdatedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>The Record Id that we need to use for all future lookups.</description>
        <name>txt_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
