temp-metadata-retrieve-all/flows/Autolaunch_Lab_Order_Set_Lab_Provider.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Assigned_Lab_Provider</name>
        <label>Log Assigned Lab Provider</label>
        <locationX>490</locationX>
        <locationY>2246</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Filtered_Collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!Loop_Through_Filtered_Collection.Name} assigned as Lab Provider</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Getting_Lab_Providers</name>
        <label>Log Error Getting Lab Providers</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting Lab Providers</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Entry</name>
        <label>Log Flow Entry</label>
        <locationX>292</locationX>
        <locationY>134</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Lab_Provider</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Autolaunch - Lab Order - Set Lab Provider Flow Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Found_Active_Providers_for_service</name>
        <label>Log Found Active Providers for service</label>
        <locationX>534</locationX>
        <locationY>1190</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_The_Address_In_USA</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Found Active Lab Providers for {!rec_LabOrder.Services_Rendered__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Found_Lab_Provider</name>
        <label>Log Found Lab Provider</label>
        <locationX>402</locationX>
        <locationY>1814</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sort_Filtered_Labs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Found Active Lab Providers for {!rec_LabOrder.Shipping_Address__StateCode__s}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Lab_Provider_Id_Passed_In</name>
        <label>Log Lab Provider Id Passed In</label>
        <locationX>160</locationX>
        <locationY>674</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_Lab_Provider_with_One_To_Match</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Lab Provider Id {!txt_LabProviderId_ToMatch} passed into flow. Matching Found Lab Providers</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_No_Lab_Providers_found</name>
        <label>Log No Lab Providers found</label>
        <locationX>666</locationX>
        <locationY>1814</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Lab_Order_Status_Unsupported_State</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No Lab Providers found, unsupported state</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_No_Providers_Found_For_Service</name>
        <label>Log No Providers Found For Service</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assing_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>txt_NoProviderForServiceError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_Action_1</name>
        <label>Save Log Action 1</label>
        <locationX>402</locationX>
        <locationY>2738</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_Action_2</name>
        <label>Save Log Action 2</label>
        <locationX>292</locationX>
        <locationY>3230</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Lab_Providers_Collection</name>
        <label>Add to Lab Providers Collection</label>
        <locationX>160</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Lab_Provider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Lab_Provider_with_One_To_Match</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_find_any_Lab_Providers_for_required_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigned filtered results as Get Lab Providers Variable</description>
        <name>Assign_filtered_as_collection</name>
        <label>Assign filtered as collection</label>
        <locationX>292</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Lab_Provider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_by_Service_Required</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_there_a_Lab_Provider_Passed_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Since no providers were found for the service, assign error</description>
        <name>Assing_Error</name>
        <label>Assing Error</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>bool_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Held</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>See Error Message</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_NoProviderForServiceError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_Found_Lab_Providers</name>
        <label>Set Count - Found Lab Providers</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>num_FilterResultCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Lab_Providers_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_LabProviders_Filtered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Lab_Providers_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Lab_Provider_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_Found_Lab_Providers_Country</name>
        <label>Set Count - Found Lab Providers</label>
        <locationX>666</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>num_FilterResultCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Lab_Providers_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_LabProviders_Filtered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Lab_Providers_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Lab_Provider_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>292</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Lab Provider Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bool_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Log_Action_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lab_Order_Status_Unsupported_State</name>
        <label>Set Lab Order Status - Unsupported State</label>
        <locationX>666</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Held</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Supported State</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Lab_Provider_SetSet_Lab_Provider_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lab_Provider_Found</name>
        <label>Set Lab Provider - Found</label>
        <locationX>490</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Lab_Provider_Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Filtered_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Lab_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Filtered_Collection.Lab__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Assigned_Lab_Provider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success_Message_Lab_Provider_Found</name>
        <label>Set Success Message - Lab Provider Found</label>
        <locationX>402</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bool_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Log_Action_1</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>At the time, Multiselect Picklist does not work with CONTAINS operator in GET element. For that reason we first get all the active providers and then filter by service required</description>
        <name>Filter_by_Service_Required</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter by Service Required</label>
        <locationX>292</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Filter_by_Service_Required</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Lab_Provider</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_by_Service_Required.Provided_Services__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>rec_LabOrder.Product__r.Services_Provided__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_filtered_as_collection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Lab_Provider_with_One_To_Match</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Lab Provider with One To Match</label>
        <locationX>160</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Lab_Provider_with_One_To_Match_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Lab_Provider</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Lab_Provider_with_One_To_Match_0.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>txt_LabProviderId_ToMatch</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_to_Lab_Providers_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter found Lab Providers by Country</description>
        <name>Filter_Lab_Providers_Country</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Lab Providers - Country</label>
        <locationX>666</locationX>
        <locationY>1406</locationY>
        <assignNextValueToReference>currentItem_Filter_Lab_Providers_Country</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Lab_Provider</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Lab_Providers_Country.Countries_Where_Lab_Is_Licensed__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>rec_LabOrder.Shipping_Address__CountryCode__s</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Count_Found_Lab_Providers_Country</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter found Lab Providers by State</description>
        <name>Filter_Lab_Providers_State</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Lab Providers - State</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignNextValueToReference>currentItem_Filter_Lab_Providers_Country</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Lab_Provider</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Lab_Providers_Country.States_Where_Lab_Is_Licensed__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>rec_LabOrder.Shipping_Address__StateCode__s</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Count_Found_Lab_Providers</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Filtered_Labs</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Filtered Labs</label>
        <locationX>402</locationX>
        <locationY>1922</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>col_LabProviders_Filtered</collectionReference>
        <connector>
            <targetReference>Loop_Through_Filtered_Collection</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Last_Used_On__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Autolaunch_Lab_Order_Set_Lab_Provider</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_we_find_any_Lab_Providers_for_required_service</name>
        <label>Did we find any Lab Providers for required service</label>
        <locationX>292</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Log_Found_Active_Providers_for_service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Providers Found</defaultConnectorLabel>
        <rules>
            <name>No_Providers_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lab_Provider</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_No_Providers_Found_For_Service</targetReference>
            </connector>
            <label>No Providers Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the address is in USA filter by State, if not filter by country</description>
        <name>Is_The_Address_In_USA</name>
        <label>Is The Address In USA</label>
        <locationX>534</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Filter_Lab_Providers_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_LabOrder.Shipping_Address__CountryCode__s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Lab_Providers_State</targetReference>
            </connector>
            <label>USA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Lab_Provider_Found</name>
        <label>Was Lab Provider Found</label>
        <locationX>534</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Log_No_Lab_Providers_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Valid Lab Provider Found</defaultConnectorLabel>
        <rules>
            <name>Lab_Provider_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_FilterResultCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Found_Lab_Provider</targetReference>
            </connector>
            <label>Lab Provider Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Lab_Provider_SetSet_Lab_Provider_Found</name>
        <label>Was Lab Provider Set</label>
        <locationX>534</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lab Provider Set</defaultConnectorLabel>
        <rules>
            <name>Lab_Provider_was_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Lab_Provider_Found</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Success_Message_Lab_Provider_Found</targetReference>
            </connector>
            <label>Lab Provider was Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if we have received a Lab Provider that the user wishes to set</description>
        <name>Was_there_a_Lab_Provider_Passed_In</name>
        <label>Was there a Lab Provider Passed In</label>
        <locationX>292</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Did_we_find_any_Lab_Providers_for_required_service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lab Provider Passed In</defaultConnectorLabel>
        <rules>
            <name>Lab_Provider_Passed_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_LabProviderId_ToMatch</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Lab_Provider_Id_Passed_In</targetReference>
            </connector>
            <label>Lab Provider Passed In</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Autolaunch - Lab Order - Set Lab Provider {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Lab Order - Set Lab Provider</label>
    <loops>
        <name>Loop_Through_Filtered_Collection</name>
        <label>Loop Through Filtered Collection</label>
        <locationX>402</locationX>
        <locationY>2030</locationY>
        <collectionReference>col_LabProviders_Filtered</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Lab_Provider_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_Lab_Provider_SetSet_Lab_Provider_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lab_Provider</name>
        <label>Get Lab Provider</label>
        <locationX>292</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_by_Service_Required</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Getting_Lab_Providers</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lab_Provider__c</object>
        <sortField>Last_Used_On__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Flow_Entry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_NoProviderForServiceError</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No Active Lab Providers found for {!rec_LabOrder.Services_Rendered__c} service!</text>
    </textTemplates>
    <variables>
        <name>bool_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>col_LabProviders_Filtered</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Provider__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_by_Service_Required</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Provider__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Lab_Provider_with_One_To_Match</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Provider__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Lab_Provider_with_One_To_Match_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Provider__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Lab_Providers_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Provider__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Lab_Providers_In_Person</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Provider__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Lab_Providers_Outside_United_States</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Provider__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Lab_Providers_United_States</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Provider__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Line_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>num_FilterResultCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>rec_LabOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lab_Order__c</objectType>
    </variables>
    <variables>
        <name>txt_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txt_LabProviderId_ToMatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
