temp-metadata-retrieve-all/flows/Screenflow_Opportunity_Update_Referred_By.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commission_Rule_Group_Updated</name>
        <label>Commission Rule Group Updated</label>
        <locationX>622</locationX>
        <locationY>3338</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>txt_CommissionRuleGroupLog</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Log_Error_Error_Getting_Commission_Summary</name>
        <label>Log - Error - Error Getting Commission Records for Opportunity</label>
        <locationX>2338</locationX>
        <locationY>1058</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting Commission Records for Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Log_Error_Error_Updating_the_Opportunity</name>
        <label>Log - Error - Error Updating the Account - Setting Commission Rule Group</label>
        <locationX>886</locationX>
        <locationY>3338</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Setting the Commission Rule Group</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_User_Selected_to_Create_Commission</name>
        <label>User Updated Referred By</label>
        <locationX>534</locationX>
        <locationY>3728</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Commissions_Create_Commission_or_End_Flow</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Referred By Updated on Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_Getting_Commission_Records</name>
        <label>Log - Error - Error Getting Commission Records</label>
        <locationX>2074</locationX>
        <locationY>1766</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting Commission Records from Commission Summary</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_Getting_Opportunity_History_Approved_Records</name>
        <label>Log - Error - Error Getting Opportunity History Approved Records</label>
        <locationX>3130</locationX>
        <locationY>350</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting Opportunity History Approved Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_Getting_the_Updated_Referred_By_Account</name>
        <label>Log - Error - Error Getting the Updated Referred By Account</label>
        <locationX>1546</locationX>
        <locationY>2906</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting the Updated Referred By Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_Updating_Commission_Records</name>
        <label>Log - Error - Error Updating Commission Records</label>
        <locationX>314</locationX>
        <locationY>4676</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating Commission Records to New Referred By</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_Updating_Opportunity_Referred_By_Just_Referred_By</name>
        <label>Log - Error - Error Updating Opportunity Referred By - Just Referred By</label>
        <locationX>2866</locationX>
        <locationY>1166</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Changes</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating Opportunity Referred By - Just Referred By</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_Updating_the_Opportunity</name>
        <label>Log - Error - Error Updating the Opportunity</label>
        <locationX>1282</locationX>
        <locationY>3728</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Rollback_Changes</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating the Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Logs</name>
        <label>Save Logs</label>
        <locationX>1887</locationX>
        <locationY>5126</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen_Referred_By_Changed</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Logs_Before_Error_Screen</name>
        <label>Save Logs - Before Error Screen</label>
        <locationX>754</locationX>
        <locationY>4268</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Creating_Commission_Error_Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>User_Selected_to_Create_Commission</name>
        <label>User Selected to Create Commission</label>
        <locationX>666</locationX>
        <locationY>3944</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Commission_Subflow</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Commission Created for New Referred By</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>User_Selected_to_Update_Commission</name>
        <label>User Selected to Update Commission</label>
        <locationX>50</locationX>
        <locationY>3944</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Commission_Summary_for_New_Referred_By</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Commission Updated to New Referred By</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Commission_to_List</name>
        <label>Add Commission to List</label>
        <locationX>138</locationX>
        <locationY>4376</locationY>
        <assignmentItems>
            <assignToReference>col_Commissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Commissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Commissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_Commission</name>
        <label>Assign Count of Commission Records found</label>
        <locationX>1172</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>num_CommissionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Commissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_For_Commission_Type_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Employee_on_Commission</name>
        <label>Assign New Employee on Commission</label>
        <locationX>138</locationX>
        <locationY>4268</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Commissions.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Referred_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Commissions.Commission_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_CommissionSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Commission_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Referred_By</name>
        <label>Assign New Referred By</label>
        <locationX>534</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>recordId.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupNewReferredBy.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Referred_By_Commission_Rule_Group</name>
        <label>Assign Referred By Commission Rule Group</label>
        <locationX>622</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Commission_Rule_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Referred_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Commission_Group_on_the_Employee_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Boolean_Flag_for_Has_Been_Apprvoed</name>
        <label>Set Boolean Flag for Has Been Apprvoed</label>
        <locationX>1975</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>bool_OpportunityHasBeenApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Field_History_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flag_Commission_Has_Been_Paid_Rejected</name>
        <label>Set Flag Commission Has Been Paid/Rejected</label>
        <locationX>1260</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>bool_CommissionPaid_Rejected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Commission_Type_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <description>Filter out just the Commission records.</description>
        <name>Filter_For_Commission_Type_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter For Commission Type Records</label>
        <locationX>1172</locationX>
        <locationY>1874</locationY>
        <assignNextValueToReference>currentItem_Filter_For_Commission_Type_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Commissions</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_For_Commission_Type_Records.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Commission</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Thru_Commission_Type_Records</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Screenflow_Opportunity_Update_Referred_By</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_There_UnPaid_Commission</name>
        <label>Are There UnPaid Commission</label>
        <locationX>1172</locationX>
        <locationY>2474</locationY>
        <defaultConnector>
            <targetReference>Cant_Change_Referred_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Paid Commissions</defaultConnectorLabel>
        <rules>
            <name>Unpaid_Commissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_CommissionPaid_Rejected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referred_By</targetReference>
            </connector>
            <label>Unpaid Commissions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commissions_Activated</name>
        <label>Commissions Activated?</label>
        <locationX>2640</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Commissions_Not_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Commissions Not Activated</defaultConnectorLabel>
        <rules>
            <name>Yes_Commissions_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationControlSettings__c.Commissions_Automations_Activated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_History_Check_if_Opportunity_has_been_approved</targetReference>
            </connector>
            <label>Yes - Commissions Activated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we check to see if the Opportunity has ever been approved. If so then we don&apos;t need to create Commission but allow changing the referred by.</description>
        <name>Has_Opportunity_Ever_Been_Approved</name>
        <label>Has Opportunity Ever Been Approved</label>
        <locationX>1887</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Update_Just_Referred_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Never Been Approved</defaultConnectorLabel>
        <rules>
            <name>Has_Been_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>bool_OpportunityHasBeenApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Commissions</targetReference>
            </connector>
            <label>Has Been Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Commission_Period_Pending_Review</name>
        <label>Is Commission Period Pending Review</label>
        <locationX>1392</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Commission_Type_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Commission hasn&apos;t been paid</defaultConnectorLabel>
        <rules>
            <name>Commission_has_been_paid_or_rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Commission_Type_Records.Commission_Summary__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flag_Commission_Has_Been_Paid_Rejected</targetReference>
            </connector>
            <label>Commission has been paid or rejected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we check if the Opportunity Field History NewValue is Approved. If so then we need to set a flag to true.</description>
        <name>Is_NewValue_Approved</name>
        <label>Is NewValue Approved?</label>
        <locationX>2107</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Field_History_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Hasn&apos;t Been Approved</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Has_Been_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Field_History_Opportunity.NewValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Field_History_Opportunity.OldValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Boolean_Flag_for_Has_Been_Apprvoed</targetReference>
            </connector>
            <label>Opportunity Has Been Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Referred_By_Has_Commission_Rule_Group</name>
        <label>New Referred By Has Commission Rule Group?</label>
        <locationX>534</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Assign_Commission_Rule_Group_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Missing Commission Rule Group</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Commission_Rule_Group</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Commission_Rule_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Yes - Has Commission Rule Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_has_Commission</name>
        <label>Opportunity has Commission</label>
        <locationX>1172</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Get_Commissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Commissions</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Commission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Commissions.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_is_Able_to_Modify_Opportunity</targetReference>
            </connector>
            <label>Yes - Has Commission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Commissions_Create_Commission_or_End_Flow</name>
        <label>Update Commissions, Create Commission, or End Flow?</label>
        <locationX>534</locationX>
        <locationY>3836</locationY>
        <defaultConnectorLabel>End Flow</defaultConnectorLabel>
        <rules>
            <name>Update_Commissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_update_Commissions_to_the_new_Referred_By</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Selected_to_Update_Commission</targetReference>
            </connector>
            <label>Update Commissions</label>
        </rules>
        <rules>
            <name>Create_Commission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_a_Commission_to_the_new_Referred_By</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Selected_to_Create_Commission</targetReference>
            </connector>
            <label>Create Commission</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_Able_to_Modify_Opportunity</name>
        <label>User is Able to Modify Opportunity?</label>
        <locationX>996</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Unable_to_Modify_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Unable to Modify</defaultConnectorLabel>
        <rules>
            <name>Yes_Able_to_Modify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Can_change_referred_by_after_approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Commissions</targetReference>
            </connector>
            <label>Yes - Able to Modify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Commission_Created</name>
        <label>Was Commission Created?</label>
        <locationX>666</locationX>
        <locationY>4160</locationY>
        <defaultConnector>
            <targetReference>Save_Logs_Before_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Creating Commission</defaultConnectorLabel>
        <rules>
            <name>Commission_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Commission_Subflow.bool_isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Logs</targetReference>
            </connector>
            <label>Commission Created</label>
        </rules>
    </decisions>
    <description>This will allow users to change the referred by and move/add commission when needed</description>
    <dynamicChoiceSets>
        <name>recordChoice_CommissionRuleGroups</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Commission_Rule_Group__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>txt_CommissionRuleGroupLog</name>
        <dataType>String</dataType>
        <expression>&quot;Commission Rule Group updated on &quot; + {!Get_Account.Name} + &quot; by &quot; + {!$User.FirstName} + &quot; &quot; +{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>txt_Month</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>txt_Year</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>Screenflow - Opportunity - Update Referred By {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Opportunity - Update Referred By</label>
    <loops>
        <name>Loop_Through_Commissions</name>
        <label>Loop Through Commissions</label>
        <locationX>50</locationX>
        <locationY>4160</locationY>
        <collectionReference>Get_Commissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Employee_on_Commission</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Commissions_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>We now will loop thru as we can&apos;t filter or query on NewValue field.</description>
        <name>Loop_Through_Field_History_Opportunity</name>
        <label>Loop Through Field History - Opportunity</label>
        <locationX>1887</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Opportunity_History_Check_if_Opportunity_has_been_approved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_NewValue_Approved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Opportunity_Ever_Been_Approved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Now we need to go thru the commission records and see if the Commission Summary is paid or not.</description>
        <name>Loop_Thru_Commission_Type_Records</name>
        <label>Loop Thru Commission Type Records</label>
        <locationX>1172</locationX>
        <locationY>1982</locationY>
        <collectionReference>Filter_For_Commission_Type_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Commission_Period_Pending_Review</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_There_UnPaid_Commission</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>534</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Referred_By_Has_Commission_Rule_Group</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_Getting_the_Updated_Referred_By_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Referred_By__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commissions</name>
        <label>Get All Commissions that are Assigned to the Opportunity</label>
        <locationX>1172</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_of_Commission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_Getting_Commission_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Commissions</name>
        <label>Get Opportunity Commissions</label>
        <locationX>1172</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_has_Commission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Log_Error_Error_Getting_Commission_Summary</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_History_Check_if_Opportunity_has_been_approved</name>
        <label>Get Opportunity History - Check if Opportunity has been approved</label>
        <locationX>1887</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Field_History_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_Getting_Opportunity_History_Approved_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>StageName</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityFieldHistory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_Changes</name>
        <label>Rollback Changes</label>
        <locationX>1282</locationX>
        <locationY>3836</locationY>
        <connector>
            <targetReference>Error_Fault_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Set_Commission_Group_on_the_Employee_Account</name>
        <label>Set Commission Group on the Employee Account</label>
        <locationX>622</locationX>
        <locationY>3230</locationY>
        <connector>
            <targetReference>Commission_Rule_Group_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Log_Error_Error_Updating_the_Opportunity</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commission_Rule_Group__c</field>
            <value>
                <elementReference>CommissionRuleGroup.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Commissions_List</name>
        <label>Update Commissions</label>
        <locationX>50</locationX>
        <locationY>4568</locationY>
        <connector>
            <targetReference>Save_Logs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_Updating_Commission_Records</targetReference>
        </faultConnector>
        <inputReference>col_Commissions</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>534</locationX>
        <locationY>3620</locationY>
        <connector>
            <targetReference>Copy_2_of_User_Selected_to_Create_Commission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_Updating_the_Opportunity</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Just_Referred_By</name>
        <label>Update Opportunity - Just Referred By</label>
        <locationX>2602</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Save_Logs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_Updating_Opportunity_Referred_By_Just_Referred_By</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assign_Commission_Rule_Group_Screen</name>
        <label>Assign Commission Rule Group</label>
        <locationX>622</locationX>
        <locationY>3014</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Referred_By_Commission_Rule_Group</targetReference>
        </connector>
        <fields>
            <name>MissingReferredBy</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;New Referred By is Missing a Commission Plan. Assign Commission Plan:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CommissionRuleGroup</name>
            <choiceReferences>recordChoice_CommissionRuleGroups</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Please Select a Commission Plan</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Set Commission Plan</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cant_Change_Referred_By</name>
        <label>Can&apos;t Change Referred By</label>
        <locationX>1810</locationX>
        <locationY>2582</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_CantChangeReferredBy</name>
            <fieldText>&lt;p&gt;The Commission Period record has already been approved or rejected. The referred by can not be changed once the commission has been paid. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Commissions_Not_Activated</name>
        <label>Commissions Not Activated</label>
        <locationX>3394</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CommissionsNotActivated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Commissions are currently not activated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Creating_Commission_Error_Message</name>
        <label>Error Creating Commission Error Message</label>
        <locationX>754</locationX>
        <locationY>4376</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_ShowCreateCommissionError</name>
            <fieldText>&lt;p&gt;There was an error creating the commission record. Please see the below error message.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message:&lt;/p&gt;&lt;p&gt;{!Create_Commission_Subflow.txt_ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Fault_Screen</name>
        <label>Error Fault Screen</label>
        <locationX>1282</locationX>
        <locationY>3944</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_FaultError</name>
            <fieldText>&lt;p&gt;Looks like we got into an error. Please see the below error and if you need assistance please reach out to the help desk team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_Referred_By_Changed</name>
        <label>Success Screen - Referred By Changed</label>
        <locationX>1887</locationX>
        <locationY>5234</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_SuccessScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://10xhealth--centraldev.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068U9000001ezU1?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;Referred By Updated Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unable_to_Modify_Screen</name>
        <label>Unable to Modify Screen</label>
        <locationX>1084</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>YouDontHavePermission</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;&lt;u&gt;You do not have permission to modify the Referred By on this Opportunity. Please contact a System Administrator.&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Just_Referred_By</name>
        <label>Update Just Referred By</label>
        <locationX>2602</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity_Just_Referred_By</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Referred_By__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Set Referred By</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Referred_By</name>
        <label>Update Referred By</label>
        <locationX>534</locationX>
        <locationY>2582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Referred_By</targetReference>
        </connector>
        <fields>
            <name>Update_Referred_By_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Referred_By_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentReferredBy</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Referred_By__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Current Referred By</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Referred_By__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Referred_By_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lookupNewReferredBy</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Referred_By__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Referred By</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_want_to_update_Commissions_to_the_new_Referred_By</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to update Commissions to the new Referred By?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>num_CommissionCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_want_to_create_a_Commission_to_the_new_Referred_By</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to create a Commission to the new Referred By?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>num_CommissionCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2514</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Commissions_Activated</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Commission_Subflow</name>
        <label>Create Commission</label>
        <locationX>666</locationX>
        <locationY>4052</locationY>
        <connector>
            <targetReference>Was_Commission_Created</targetReference>
        </connector>
        <flowName>Autolaunch_Commission_Create_Commission</flowName>
        <inputAssignments>
            <name>rec_Employee</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rec_Opportunity</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_Month</name>
            <value>
                <elementReference>txt_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_Type</name>
            <value>
                <stringValue>Commission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_Year</name>
            <value>
                <elementReference>txt_Year</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Commission_Summary_for_New_Referred_By</name>
        <label>Get Commission Summary for New Referred By</label>
        <locationX>50</locationX>
        <locationY>4052</locationY>
        <connector>
            <targetReference>Loop_Through_Commissions</targetReference>
        </connector>
        <flowName>Autolaunch_Commission_Summary_Setting_Creating_Summary_Record</flowName>
        <inputAssignments>
            <name>rec_EmployeeAccount</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_Month</name>
            <value>
                <elementReference>txt_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_Type</name>
        </inputAssignments>
        <inputAssignments>
            <name>txt_Year</name>
            <value>
                <elementReference>txt_Year</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rec_CommissionSummary</assignToReference>
            <name>rec_CommissionSummary</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>bool_CommissionPaid_Rejected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_NewReferredByMissingCommissionRuleGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This variable will tell us if the opportunity has ever been approved or not. Used in the Opportunity Field History loop.</description>
        <name>bool_OpportunityHasBeenApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>col_Commissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_For_Commission_Type_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Opportunity_History_Approved</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityFieldHistory</objectType>
    </variables>
    <variables>
        <name>num_CommissionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rec_CommissionSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission_Summary__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
