temp_flows_retrieve/flows/Record_Trigger_Adobe_Agreement_Signed_from_Patient_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Clone_Of_Attachment</name>
        <label>Create Clone Of Attachment</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>rec_NewAttachment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Document_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_NewAttachment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attachment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the document is sent then we can update to received.</description>
        <name>Is_Document_Status_Sent</name>
        <label>Is Document Status Sent</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Document Status Is Not Sent</defaultConnectorLabel>
        <rules>
            <name>Document_is_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_Agreement__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Patient_Agreement_Received</targetReference>
            </connector>
            <label>Document is Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Patient_Agreement_Filled_In</name>
        <label>Is Patient Agreement Filled In</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No Patient Agreement Filled In</defaultConnectorLabel>
        <rules>
            <name>Agreement_Filled_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Document_Status_Sent</targetReference>
            </connector>
            <label>Agreement Filled In</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_There_a_Document_Found</name>
        <label>Was There a Document Found</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>No Attachment Found</defaultConnectorLabel>
        <rules>
            <name>Attachment_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Clone_Of_Attachment</targetReference>
            </connector>
            <label>Attachment Found</label>
        </rules>
    </decisions>
    <description>For Patient Agreement spcifics we will watch when Adobe Documents are signed and update the PA and Attach the signed PDF</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Adobe Agreement Signed from Patient Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Adobe Agreement Signed from Patient Agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attachment</name>
        <label>Create Attachment</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <inputReference>rec_NewAttachment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_There_a_Document_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>signed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient_Agreement_Received</name>
        <label>Update Patient Agreement - Received.</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_Content_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Patient_Agreement__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>echosign_dev1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <object>echosign_dev1__SIGN_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Delayed_Wait_for_Documents</name>
            <connector>
                <targetReference>Is_Patient_Agreement_Filled_In</targetReference>
            </connector>
            <label>Delayed - Wait for Documents</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_NewAttachment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
</Flow>
