temp_flows_retrieve/flows/Screenflow_Patient_Agreement_Set_Email_Templates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Email_Template</name>
        <label>Set Email Template</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>rec_PatientAgreementConfiguration.First_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Email_Template.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PatientAgreementConfiguration.Second_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Second_Email_Template.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PatientAgreementConfiguration.Third_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Third_Email_Template.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Agreement_Configuration</targetReference>
        </connector>
    </assignments>
    <description>Since we can&apos;t setup lookup fields on Email Templates we are using this flow to set the id value on the Patient Agreement Configuration.</description>
    <dynamicChoiceSets>
        <name>recChoice_EmailTemplates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screenflow - Patient Agreement Set Email Templates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Patient Agreement Set Email Templates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Patient_Agreement_Configuration</name>
        <label>Update Patient Agreement Configuration</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>rec_PatientAgreementConfiguration</inputReference>
    </recordUpdates>
    <screens>
        <name>Email_Template_Lookup</name>
        <label>Email Template Lookup</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Email_Template</targetReference>
        </connector>
        <fields>
            <name>First_Email_Template</name>
            <choiceReferences>recChoice_EmailTemplates</choiceReferences>
            <defaultValue>
                <elementReference>rec_PatientAgreementConfiguration.First_Email__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>First Email Template</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Second_Email_Template</name>
            <choiceReferences>recChoice_EmailTemplates</choiceReferences>
            <defaultValue>
                <elementReference>rec_PatientAgreementConfiguration.Second_Email__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Second Email Template</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Third_Email_Template</name>
            <choiceReferences>recChoice_EmailTemplates</choiceReferences>
            <defaultValue>
                <elementReference>rec_PatientAgreementConfiguration.Third_Email__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Third Email Template</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Set Email Templates</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Template_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_PatientAgreementConfiguration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Agreement_Configuration__c</objectType>
    </variables>
</Flow>
