prod-metadata/flows/After_Save_Inventory_Movements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Asset_Values</name>
        <label>Assign Asset Values</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>varAssetUpdate.Last_Inventory_Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Variables</name>
        <label>Assign Product Variables</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varProductUpdate.Tracked_Inventory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Variables_0</name>
        <label>Assign Product Variables</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>varProductUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductUpdate.Last_Inventory_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Check</name>
        <label>Asset Check</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_Product_Variables_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Asset</defaultConnectorLabel>
        <rules>
            <name>Has_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_Values</targetReference>
            </connector>
            <label>Has Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Asset_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Restocked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Movement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Movement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broken</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Variables</targetReference>
            </connector>
            <label>Restocked / Broken</label>
        </rules>
    </decisions>
    <description>Primarily serves the Inventory Management App</description>
    <interviewLabel>After Save: Inventory Movements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Save: Inventory Movements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Assign_Product_Variables_0</targetReference>
        </connector>
        <inputReference>varAssetUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_0</name>
        <label>Update Product</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <inputReference>varProductUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <object>Inventory_Movement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAssetUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varProductUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
