prod-metadata/flows/Autolaunch_User_Create_Employee_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Account_Id_New_Existing_Account</name>
        <label>Set Account Id - New Existing Account</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>rec_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Accounts_For_Same_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Status</name>
        <label>Set Account Status</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rec_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Employee_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_AccountStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Doctor_Values</name>
        <label>Set Doctor Values</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rec_Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Doctor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Doctor_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Accounts_For_Same_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employee_Values</name>
        <label>Set Employee Values</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rec_Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Accounts_For_Same_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Account_Values</name>
        <label>Set New Account Values</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>rec_Account.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_User.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.Referral_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_FullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_User.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_User.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_User.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_User.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_User.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_We_Find_Existing_Account_IsNew</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_An_Employee_Account</name>
        <label>Did We Find An Employee Account</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No Employee Account Found</defaultConnectorLabel>
        <rules>
            <name>Employee_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_By_Employee_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Status</targetReference>
            </connector>
            <label>Employee Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_Existing_Account_IsNew</name>
        <label>Did We Find Existing Account - IsNew</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Exists</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Accounts_For_Same_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Id_New_Existing_Account</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Change</name>
        <label>What Type of Change</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Type_of_User</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
        <rules>
            <name>IsActive_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_IsActiveChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_By_Employee_Id</targetReference>
            </connector>
            <label>IsActive Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_User</name>
        <label>What Type of User</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Employee_Account_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Emloyee</defaultConnectorLabel>
        <rules>
            <name>Doctor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doctor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doctor_Account_Record_Type</targetReference>
            </connector>
            <label>Doctor</label>
        </rules>
    </decisions>
    <description>This flow will help automate creating doctor and employee accounts</description>
    <environments>Default</environments>
    <formulas>
        <name>form_AccountStatus</name>
        <dataType>String</dataType>
        <expression>IF({!rec_User.IsActive},&apos;Active&apos;,&apos;Inactive&apos;)</expression>
    </formulas>
    <formulas>
        <name>form_FullName</name>
        <dataType>String</dataType>
        <expression>LOWER(TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!rec_User.FirstName}, &quot;&apos;&quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;  &quot;, &quot; &quot;))) + LOWER(TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!rec_User.LastName}, &quot;&apos;&quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;  &quot;, &quot; &quot;)))</expression>
    </formulas>
    <interviewLabel>Autolaunch - User - Create Employee Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - User - Create Employee/Doctor Account Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <inputReference>rec_Account</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_By_Employee_Id</name>
        <label>Get Account - By Employee Id</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_An_Employee_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doctor_Account_Record_Type</name>
        <label>Get Doctor Account Record Type</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Doctor_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Affiliate_Doctor_Account_Record_Type</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Account_Record_Type</name>
        <label>Get Employee Account Record Type</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Employee_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee_Account_Record_Type</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_Accounts_For_Same_Email</name>
        <label>Search Accounts For Same Email</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Account_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <inputReference>rec_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Type_of_Change</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bool_IsActiveChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rec_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rec_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
