prod-metadata/flows/Autolaunch_Lab_Order_Create_Collection_of_Serviceable_Items_and_Their_Lab_SKU_s.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Fault_Failed_to_get_OLI</name>
        <label>Log - Fault- Failed to get OLI</label>
        <locationX>1986</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to get Opportunity Line Item</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Failed_to_get_Product_Lab_Order_Configuration</name>
        <label>Log - Fault- Failed to get Product Lab Order Configuration</label>
        <locationX>1458</locationX>
        <locationY>1082</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to get Product Lab Order Configuration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_finished_looping_through_Items</name>
        <label>Log finished looping through Items</label>
        <locationX>622</locationX>
        <locationY>3890</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Requires_Shipping</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully finished looping through line items</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Entry</name>
        <label>Log Flow Entry</label>
        <locationX>1711</locationX>
        <locationY>134</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_There_Line_Items</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Autolaunch - Lab Order - Create Collection of Serviceable Items and Their Lab SKU&apos;s Flow Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Found_Servicable_Items</name>
        <label>Log Found Servicable Items</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Thru_Line_Items_Get_Product_Ids</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Found Servicable Items</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_In_Person</name>
        <label>Log In Person</label>
        <locationX>490</locationX>
        <locationY>4106</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Requested_Item_InPerson</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>In-Person Product, doesn&apos;t require shipping</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Missing_Demographics</name>
        <label>Log - Missing Demographics</label>
        <locationX>490</locationX>
        <locationY>4730</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>txt_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_No_Line_Items_on_Opportunity</name>
        <label>Log - No Line Items on Opportunity</label>
        <locationX>2250</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>txt_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_No_Serviceable_Lab</name>
        <label>Log - No Serviceable Lab</label>
        <locationX>1722</locationX>
        <locationY>674</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>txt_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Number_of_configuration_found</name>
        <label>Log Number of configuration found</label>
        <locationX>622</locationX>
        <locationY>1190</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Thru_Line_Items</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!num_CountProductLabOrderConfiguration} Product Lab Order Configuration found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Service_Didn_t_Need_Validation_Checks</name>
        <label>Log - Service Didn&apos;t Need Validation Checks</label>
        <locationX>1194</locationX>
        <locationY>4514</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No Demographic Validation Checks Were Needed For the Product</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Validated_Only</name>
        <label>Log - Validated Only</label>
        <locationX>50</locationX>
        <locationY>4514</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Validated Only. No Demographics were Checked</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Validation_Checks_Passed</name>
        <label>Log - Validation Checks Passed</label>
        <locationX>622</locationX>
        <locationY>5114</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Demographic Validation Checks Passed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Virtual</name>
        <label>Log Virtual</label>
        <locationX>754</locationX>
        <locationY>4106</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>What_Service_and_Is_Required_Shipping</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Virtual Product, requires shipping</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This just adds the Product2 Id to a collection.</description>
        <name>Add_Product_Id_to_Collection_of_Product_Ids</name>
        <label>Add Product Id to Collection of Product Ids</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>col_txtProductIds</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Loop_Thru_Line_Items_Get_Product_Ids.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Line_Items_Get_Product_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Requested_Item_InPerson</name>
        <label>Add Requested Item - InPerson</label>
        <locationX>490</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>col_txtRequestedItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>InPerson</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Service_and_Is_Required_Shipping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>1018</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>col_PrecisionSupplementOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Error_Not_Lab_Serviceable</name>
        <label>Set Error - Flow Fault</label>
        <locationX>1986</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>bool_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Fault_Failed_to_get_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To help with performance we will set a count which can be used in a decision later on to determine if we need to do further checks or not.</description>
        <name>Set_Count_of_Product_Lab_Order_Configuration</name>
        <label>Set Count of Product Lab Order Configuration</label>
        <locationX>622</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>num_CountProductLabOrderConfiguration</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Product_Lab_Order_Configuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Number_of_configuration_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_No_Items_On_Opportunity</name>
        <label>Set Error - No Items On Opportunity</label>
        <locationX>2250</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>bool_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There are no line items on the opportunity.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_No_Line_Items_on_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Not_Lab_Serviceable</name>
        <label>Set Error - Not Lab Serviceable</label>
        <locationX>1722</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>bool_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There are No Labs that Support the Service: {!rec_OpportunityLineItem.Product2.Services_Provided__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_No_Serviceable_Lab</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Filtered_Value_from_Lab_Order_Configuration</name>
        <label>Set Filtered Value from Lab Order Configuration</label>
        <locationX>1590</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>col_FilteredLabOrderConfigurations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Lab_Provider_For_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Filtered_Lab_Provider_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lab_Order_Status_Order_Held_Missing_Demographics</name>
        <label>Set Lab Order Status - Order Held - Missing Demographics</label>
        <locationX>490</locationX>
        <locationY>4622</locationY>
        <assignmentItems>
            <assignToReference>bool_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Opportunity Product is Missing Demographics. Please go to the Opportunity and add the missing demographics.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Missing_Demographics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_for_Line_Item</name>
        <label>Set Output for Line Item</label>
        <locationX>1150</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>rec_OpportunityLineItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Services_Provided_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Request_Type</name>
        <label>Set Request Type</label>
        <locationX>2074</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>txt_requestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Filtered_Lab_Provider_Configuration.Request_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Filtered_Lab_Provider_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Requested_Items_Distribution_Center</name>
        <label>Set Requested Items - Distribution Center</label>
        <locationX>1854</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>col_txtRequestedItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Filtered_Lab_Provider_Configuration.Distribution_Center_SKU__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Request_Type_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Requested_Items_Lab</name>
        <label>Set Requested Items - Lab</label>
        <locationX>2294</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>col_txtRequestedItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Filtered_Lab_Provider_Configuration.Lab_Product_SKU__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Request_Type_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Here we will set the output value to true to allow other flows know there is at least one item that requires shipping.</description>
        <name>Set_Requires_Shipping_to_TRUE</name>
        <label>Set Requires Shipping to TRUE</label>
        <locationX>1018</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>bool_isRequiredShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Product_Lab_Provider_Configuration_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Here we set the services provided from the opportunity line item product. This will be used in this flow and as an output value.</description>
        <name>Set_Services_Provided</name>
        <label>Set Services Provided</label>
        <locationX>1238</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>txt_ServiceProvided</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Line_Items.Product2.Services_Provided__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_This_Item_Require_Shipping</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Lab_Provider_For_Product</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Lab Provider For Product</label>
        <locationX>1590</locationX>
        <locationY>2222</locationY>
        <assignNextValueToReference>currentItem_Filter_Lab_Provider_For_Product</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Product_Lab_Order_Configuration</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Lab_Provider_For_Product.Lab_Provider__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>rec_Opportunity.Lab_Provider__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Lab_Provider_For_Product.Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Thru_Line_Items.Product2Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Filtered_Value_from_Lab_Order_Configuration</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Autolaunch_Lab_Order_Create_Collection_of_Serviceable_Items_and_Their_Lab_SKU_s</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_There_Line_Items</name>
        <label>Are There Line Items</label>
        <locationX>1711</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Error_No_Items_On_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Line Items</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Has_Line_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Opportunity.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Line_Items</targetReference>
            </connector>
            <label>Opportunity Has Line Items</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here wewill check if there are any product lab provider configuration records. If there is then we will continue, else we will skip these steps</description>
        <name>Are_There_Product_Lab_Provider_Configuration_Records</name>
        <label>Are There Product Lab Provider Configuration Records</label>
        <locationX>1150</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Filter_Lab_Provider_For_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Product Lab Provider Configuration Records</defaultConnectorLabel>
        <rules>
            <name>No_Product_Lab_Provider_Configuration_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_CountProductLabOrderConfiguration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_a_Precision_Medication</targetReference>
            </connector>
            <label>No Product Lab Provider Configuration Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_We_Missing_Patient_Demographics_GT</name>
        <label>Are We Missing Patient Demographics - GT</label>
        <locationX>402</locationX>
        <locationY>4514</locationY>
        <defaultConnector>
            <targetReference>Set_Lab_Order_Status_Order_Held_Missing_Demographics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Patient Demographic Data</defaultConnectorLabel>
        <rules>
            <name>All_Patient_Demographic_Data_Filled_In_GT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_OpportunityLineItem.Customer_Name_GT__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_OpportunityLineItem.Gender__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_OpportunityLineItem.Date_of_Birth__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Validation_Checks_Passed</targetReference>
            </connector>
            <label>All Patient Demographic Data Filled In - GT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_We_Missing_Patient_Demographics_PGT</name>
        <label>Are We Missing Patient Demographics - PGT</label>
        <locationX>842</locationX>
        <locationY>4514</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Lab_Order_Status_Order_Held_Missing_Demographics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Patient Demographic Data</defaultConnectorLabel>
        <rules>
            <name>All_Patient_Demographic_Data_Filled_In_PGT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_OpportunityLineItem.Customer_Name_GT__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_OpportunityLineItem.Gender__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_OpportunityLineItem.Date_of_Birth__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_OpportunityLineItem.Patient_Height__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_OpportunityLineItem.Patient_Weight__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Validation_Checks_Passed</targetReference>
            </connector>
            <label>All Patient Demographic Data Filled In - PGT</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we are checking if the item we are looping over requires shipping or not. If it does then we will mark the bool_isRequiresShipping to true. We will never reset this and set to false once we have set this to true.</description>
        <name>Does_This_Item_Require_Shipping</name>
        <label>Does This Item Require Shipping</label>
        <locationX>1150</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Are_There_Product_Lab_Provider_Configuration_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Require Shipping</defaultConnectorLabel>
        <rules>
            <name>Product_Requires_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Line_Items.Product2.Requires_Shipping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Requires_Shipping_to_TRUE</targetReference>
            </connector>
            <label>Product Requires Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Distribution_SKU_Blank</name>
        <label>Is Distribution SKU Blank</label>
        <locationX>1766</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Set_Requested_Items_Distribution_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Distribution SKU is not blank</defaultConnectorLabel>
        <rules>
            <name>Distribution_SKU_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Filtered_Lab_Provider_Configuration.Distribution_Center_SKU__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Request_Type_Set</targetReference>
            </connector>
            <label>Distribution SKU is blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>For Precision medication it is possible that there will be multiple line items which later need to create multiple lab orders. If it is true, we need to store them in a collection</description>
        <name>Is_it_a_Precision_Medication</name>
        <label>Is it a Precision Medication or Book</label>
        <locationX>1150</locationX>
        <locationY>3506</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Precision Supplement</defaultConnectorLabel>
        <rules>
            <name>Precision_Supplement</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Line_Items.Product2.Services_Provided__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Supplements</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Thru_Line_Items.Product2.Services_Provided__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Book</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_collection</targetReference>
            </connector>
            <label>Precision Supplement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lab_SKU_Blank</name>
        <label>Is Lab SKU Blank</label>
        <locationX>2206</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Set_Requested_Items_Lab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lab SKU is not blank</defaultConnectorLabel>
        <rules>
            <name>Lab_SKU_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Filtered_Lab_Provider_Configuration.Lab_Product_SKU__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Request_Type_Set</targetReference>
            </connector>
            <label>Lab SKU is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Request_Type_Set</name>
        <label>Is Request Type Set</label>
        <locationX>1986</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Set_Request_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Request Type is Null</defaultConnectorLabel>
        <rules>
            <name>Request_Type_is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_requestType</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Filtered_Lab_Provider_Configuration</targetReference>
            </connector>
            <label>Request Type is Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Requires_Shipping</name>
        <label>Is Requires Shipping</label>
        <locationX>622</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>Log_Virtual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Virtual (Requires Shipping)</defaultConnectorLabel>
        <rules>
            <name>In_Person_Not_Requires_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_isRequiredShipping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_In_Person</targetReference>
            </connector>
            <label>In-Person (Not Requires Shipping)</label>
        </rules>
    </decisions>
    <decisions>
        <description>To be honest not sure if we need this. But if it is filled in we will just leave it. Normally there won&apos;t be two different services that will be provided from a single opportunity. As of today this will be true.</description>
        <name>Is_Services_Provided_Set</name>
        <label>Is Services Provided Set</label>
        <locationX>1150</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Set_Services_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Services Provided is NOT filled in</defaultConnectorLabel>
        <rules>
            <name>Services_Provided_is_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_ServiceProvided</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_This_Item_Require_Shipping</targetReference>
            </connector>
            <label>Services Provided is set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_There_a_Line_Item_Found</name>
        <label>Was There a Line Item Found</label>
        <locationX>1172</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Not_Lab_Serviceable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lab Serviceable Items Found</defaultConnectorLabel>
        <rules>
            <name>Lab_Serviceable_Items_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Found_Servicable_Items</targetReference>
            </connector>
            <label>Lab Serviceable Items Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Service_and_Is_Required_Shipping</name>
        <label>What Service and Is Required Shipping</label>
        <locationX>622</locationX>
        <locationY>4406</locationY>
        <defaultConnector>
            <targetReference>Log_Service_Didn_t_Need_Validation_Checks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Validation_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_Validate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Validated_Only</targetReference>
            </connector>
            <label>Validation Check</label>
        </rules>
        <rules>
            <name>Service_Provided_Genetic_Testing_In_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_ServiceProvided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genetic Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_We_Missing_Patient_Demographics_GT</targetReference>
            </connector>
            <label>Service Provided = Genetic Testing - In Person</label>
        </rules>
        <rules>
            <name>Service_Provided_Precision_Genetic_Testing_In_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_ServiceProvided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Genetic Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_We_Missing_Patient_Demographics_PGT</targetReference>
            </connector>
            <label>Service Provided = Precision Genetic Testing - In Person</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based on if we need to use the lab or the distribution centers sku we will add this to the collection of skus</description>
        <name>What_Type_of_SKU_is_needed</name>
        <label>What Type of SKU is needed</label>
        <locationX>1986</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Is_Lab_SKU_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use the Lab&apos;s SKU</defaultConnectorLabel>
        <rules>
            <name>Use_the_Distribution_Center_s_SKU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_useDistributionSku</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Distribution_SKU_Blank</targetReference>
            </connector>
            <label>Use the Distribution Center&apos;s SKU</label>
        </rules>
    </decisions>
    <description>This will go through the Opportunity Line Items that provide a service and return the lab SKU&apos;s in a collection.</description>
    <environments>Default</environments>
    <interviewLabel>Autolaunch - Lab Order - Create Collection of Serviceable Items and Their Lab SKU&apos;s {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Lab Order - Create Collection of Serviceable Items and Their Lab SKU&apos;s</label>
    <loops>
        <name>Loop_Thru_Filtered_Lab_Provider_Configuration</name>
        <label>Loop Thru Filtered Lab Provider Configuration</label>
        <locationX>1590</locationX>
        <locationY>2438</locationY>
        <collectionReference>col_FilteredLabOrderConfigurations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Type_of_SKU_is_needed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_it_a_Precision_Medication</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Line_Items</name>
        <label>Loop Thru Line Items</label>
        <locationX>622</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Output_for_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Log_finished_looping_through_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop strictly gets the product ids to be used in the Get Product Lab Order Configuration Get Query</description>
        <name>Loop_Thru_Line_Items_Get_Product_Ids</name>
        <label>Loop Thru Line Items - Get Product Ids</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_Id_to_Collection_of_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Product_Lab_Order_Configuration</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>1172</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_There_a_Line_Item_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Set_Error_Not_Lab_Serviceable</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Service_Provided__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Lab_Order_Configuration</name>
        <label>Get Product Lab Order Configuration</label>
        <locationX>622</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_of_Product_Lab_Order_Configuration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Failed_to_get_Product_Lab_Order_Configuration</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>col_txtProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lab_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_Opportunity.Lab_Provider__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Lab_Order_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1585</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Flow_Entry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>If any product is set to requires shipping then this will be true.</description>
        <name>bool_isRequiredShipping</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>We have two different SKU&apos;s that can be used we need to be able to dictate within this flow what we return out of requested items array.</description>
        <name>bool_useDistributionSku</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This will be useed to validate that there are line items that are servicable for shipping purposes.</description>
        <name>bool_Validate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_FilteredLabOrderConfigurations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Lab_Order_Configuration__c</objectType>
    </variables>
    <variables>
        <name>col_PrecisionSupplementOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>col_txtProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_txtRequestedItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Lab_Provider_For_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Lab_Order_Configuration__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_the_Product_from_the_Lab_Order_Configuration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Lab_Order_Configuration__c</objectType>
    </variables>
    <variables>
        <name>num_CountProductLabOrderConfiguration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rec_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>rec_OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>txt_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txt_requestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will get the service that is provided. A single opportunity should</description>
        <name>txt_ServiceProvided</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
