prod-metadata/flows/Autolaunch_Get_To_Email_Address_From_Email_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Account_Id_Left_Email</name>
        <label>Set Account Id - Left Email</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rec_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Left_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Left_Email.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Account_Id_Get_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Id_Right_Email</name>
        <label>Set Account Id - Right Email</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rec_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Right_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Right_Email.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Account_Id_Get_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_To_Address</name>
        <label>Set To Address</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>txt_ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Message.ToAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Email_is_Dan_s</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_Account_Id_Get_Set</name>
        <label>Did Account Id Get Set</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Account Id Not Set</defaultConnectorLabel>
        <rules>
            <name>Account_Id_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Account Id Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Email_is_Dan_s</name>
        <label>Which Email is Dan&apos;s</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Left_Email_Dan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_LeftEmailAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>drodas@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txt_RightEmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>drodas@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Right_Email</targetReference>
            </connector>
            <label>Left Email = Dan</label>
        </rules>
        <rules>
            <name>Right_Email_Dan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_RightEmailAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>drodas@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txt_LeftEmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>drodas@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Left_Email</targetReference>
            </connector>
            <label>Right Email = Dan</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>txt_LeftEmailAddress</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT(TRIM({!txt_ToAddress}), FIND(&quot;;&quot;, TRIM({!txt_ToAddress})) - 1))</expression>
    </formulas>
    <formulas>
        <name>txt_RightEmailAddress</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT(TRIM({!txt_ToAddress}), LEN(TRIM({!txt_ToAddress})) - FIND(&quot;;&quot;, TRIM({!txt_ToAddress}))))</expression>
    </formulas>
    <interviewLabel>Autolaunch - Get To Email Address From Email Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Get To Email Address From Email Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Message</name>
        <label>Get Email Message</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_To_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Left_Email</name>
        <label>Get Record - Left Email</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Id_Left_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_LeftEmailAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Right_Email</name>
        <label>Get Record - Right Email</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Id_Right_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_RightEmailAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Convert_Case_to_Patient_Agreement</targetReference>
        </connector>
        <inputReference>rec_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_Message</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Convert_Case_to_Patient_Agreement</name>
        <label>Convert Case to Patient Agreement</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <flowName>Autolaunch_Patient_Document_Case_to_Patient_Agreement</flowName>
        <inputAssignments>
            <name>rec_Case</name>
            <value>
                <elementReference>rec_Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>rec_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>txt_ToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
