prod-metadata/flows/Knowledge_Article_Edited.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Article_New</name>
        <label>Is Article New</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Article_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Published_Fields</targetReference>
            </connector>
            <label>Article Is New</label>
        </rules>
        <rules>
            <name>Publish_Date_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Publish_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Publish_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Review_Date</targetReference>
            </connector>
            <label>Publish Date Is Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fx_NextReviewDate</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS(DATETIMEVALUE({!$Record.Publish_Date__c}+1),3)</expression>
    </formulas>
    <interviewLabel>Knowledge Article Edited {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Knowledge - Knowledge Article Edited</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Published_Fields</name>
        <label>Clear Published Fields</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextReviewDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Publish_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Publish__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_Date</name>
        <label>Update Review Date</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>NextReviewDate</field>
            <value>
                <elementReference>fx_NextReviewDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Article_New</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Publish_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PublishDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
