prod-metadata/flows/PolicyCondition_kkTXdBfwOsHuKwFLQIyX.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>EvaluationOutcomeAssignment</name>
        <label>EvaluationOutcomeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>EvaluationOutcomeAssignmentFalse</name>
        <label>EvaluationOutcomeAssignmentFalse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EvaluationOutcomeAssignmentFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>integration@10x.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>noliva@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>integration-calendly@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>mc.admin@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>mrados@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ahaas@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>rapid7@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>juan_canas@healthgains.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>emodeste@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>esebea@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>aperry@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>kkrupnik@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ymalik@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ijean@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.SourceIp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>20.25.131.192</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.SourceIp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>20.25.131.193</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>gabe@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>cauclair@10xhealthsystem.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>vcartaya@10xhealthsytem.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EvaluationOutcomeAssignment</targetReference>
            </connector>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <interviewLabel>PolicyCondition_kkTXdBfwOsHuKwFLQIyX</interviewLabel>
    <label>PolicyCondition_kkTXdBfwOsHuKwFLQIyX</label>
    <processType>TransactionSecurityFlow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>EvaluationOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_myEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ApiEvent</objectType>
    </variables>
</Flow>
