prod-metadata/flows/Record_Trigger_Lab_Order_Scheduled_Lab_Order_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Flow_Entry</name>
        <label>Log - Flow Entry</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Autolaunch_Lab_Order_Submit_Lab_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Trigger - Lab Order - Scheduled Lab Order Submission</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Lab_Order_Submitted_To_Lab</name>
        <label>Log - Lab Order Submitted To Lab</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Submit to Lab has finished</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Record_Trigger_Lab_Order_Scheduled_Lab_Order_Submission</stringValue>
        </value>
    </constants>
    <description>Schedules the API Lab Order submission based on Scheduled Date to Be Submitted to Lab field</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Lab Order - Scheduled Lab Order Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Lab Order - Scheduled Lab Order Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scheduled_Date_to_Be_Submitted_to_Lab__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Services_Rendered__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Precision Supplements</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsError__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lab_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>API_Callout_Delay</name>
            <connector>
                <targetReference>Log_Flow_Entry</targetReference>
            </connector>
            <label>API Callout Delay</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Scheduled_Date_to_Be_Submitted_to_Lab__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Autolaunch_Lab_Order_Submit_Lab_Order</name>
        <label>Autolaunch - Lab Order - Submit Lab Order</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Log_Lab_Order_Submitted_To_Lab</targetReference>
        </connector>
        <flowName>Autolaunch_Lab_Order_Submit_Lab_Order</flowName>
        <inputAssignments>
            <name>rec_LabOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>1500</triggerOrder>
</Flow>
