prod-metadata/flows/Record_Trigger_Account_Update_Validate_Billing_and_Shipping_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Timezone_Billing_Address</name>
        <label>Get Timezone - Billing Address</label>
        <locationX>297</locationX>
        <locationY>600</locationY>
        <actionName>mc_GetTimeZone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Billing_Timezone_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>googleApiKey</name>
            <value>
                <elementReference>$Label.Google_Maps_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>latitude</name>
            <value>
                <elementReference>Validate_Billing_Address_mc.latitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>longitude</name>
            <value>
                <elementReference>Validate_Billing_Address_mc.longitude</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_GetTimeZone</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Timezone_Shipping_Address</name>
        <label>Get Timezone - Shipping Address</label>
        <locationX>297</locationX>
        <locationY>1416</locationY>
        <actionName>mc_GetTimeZone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Shipping_Timezone_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>googleApiKey</name>
            <value>
                <elementReference>$Label.Google_Maps_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>latitude</name>
            <value>
                <elementReference>Validate_Shipping_Address_mc.latitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>longitude</name>
            <value>
                <elementReference>Validate_Shipping_Address_mc.longitude</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_GetTimeZone</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Publish_Logs</name>
        <label>Publish Logs</label>
        <locationX>451</locationX>
        <locationY>1908</locationY>
        <actionName>mc_LogPublish</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Account_ID_and_Toggle_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>mc_LogPublish</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Validate_Billing_Address_mc</name>
        <label>Validate Billing Address</label>
        <locationX>451</locationX>
        <locationY>276</locationY>
        <actionName>mc_ValidateAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Billing_Address_Validation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>googleApiKey</name>
            <value>
                <elementReference>$Label.Google_Maps_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_ValidateAddress</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Validate_Shipping_Address_mc</name>
        <label>Validate Shipping Address</label>
        <locationX>451</locationX>
        <locationY>1092</locationY>
        <actionName>mc_ValidateAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Shipping_Address_Validation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>googleApiKey</name>
            <value>
                <elementReference>$Label.Google_Maps_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_ValidateAddress</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Admin_Flag_Billing_Address</name>
        <label>Admin Flag - Billing Address</label>
        <locationX>605</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>rec_AdminFlag.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Billing_Address_mc.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_AdminFlag.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Standardization (Billing Address)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_AdminFlag.Target_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_AdminFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_AdminFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Shipping_Address_mc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Admin_Flag_Shipping_Address</name>
        <label>Admin Flag - Shipping Address</label>
        <locationX>605</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>rec_AdminFlag.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Shipping_Address_mc.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_AdminFlag.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Standardization (Shipping Address)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_AdminFlag.Target_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_AdminFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_AdminFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_ID_and_Toggle_Flag</name>
        <label>Set Account ID and Toggle Flag</label>
        <locationX>451</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>TempAccount.Flow_Toggle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_Toggle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_IncorrectAddress_Flag_True</name>
        <label>Set Account IncorrectAddress Flag True</label>
        <locationX>605</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TempAccount.IncorrectAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.Billing_Address_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Billing_Address_mc.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Admin_Flag_Billing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_IncorrectAddress_Flag_True_Shipping</name>
        <label>Set Account IncorrectAddress Flag True Shipping</label>
        <locationX>605</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>TempAccount.IncorrectAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.Shipping_Address_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Shipping_Address_mc.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Admin_Flag_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Timezone</name>
        <label>Set Billing Timezone</label>
        <locationX>165</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>TempAccount.Billing_TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timezone_Billing_Address.timeZoneName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Shipping_Address_mc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Timezone</name>
        <label>Set Shipping Timezone</label>
        <locationX>165</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>TempAccount.Shipping_TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timezone_Shipping_Address.timeZoneName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Address</name>
        <label>Update Account Address</label>
        <locationX>297</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>TempAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Billing_Address_mc.rtnCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Billing_Address_mc.rtnStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Billing_Address_mc.rtnCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Billing_Address_mc.rtnState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Billing_Address_mc.rtnPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.BillingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Billing_Address_mc.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.BillingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Billing_Address_mc.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.IncorrectAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.Billing_Address_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Address Validated Successfully</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Timezone_Billing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shipping_Account_Addr</name>
        <label>Update Shipping Account Addr</label>
        <locationX>297</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>TempAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Shipping_Address_mc.rtnCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Shipping_Address_mc.rtnStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Shipping_Address_mc.rtnCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Shipping_Address_mc.rtnState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Shipping_Address_mc.rtnPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.ShippingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Shipping_Address_mc.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.ShippingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Shipping_Address_mc.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.IncorrectAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.Shipping_Address_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Shipping_Address_mc.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Timezone_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_Address_Validation</name>
        <label>Billing Address Validation</label>
        <locationX>451</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Set_Account_IncorrectAddress_Flag_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Billing Address</defaultConnectorLabel>
        <rules>
            <name>Corrected_Billing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_Billing_Address_mc.isCorrect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Address</targetReference>
            </connector>
            <label>Corrected Billing Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Timezone_Success</name>
        <label>Billing Timezone Success?</label>
        <locationX>297</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Validate_Shipping_Address_mc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success_Billing_Timezone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Timezone_Billing_Address.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Timezone</targetReference>
            </connector>
            <label>Success - Billing Timezone</label>
        </rules>
    </decisions>
    <decisions>
        <description>We check to see if there are any admin flags to create and if there is then we will create them.</description>
        <name>Is_There_Admin_Flags_to_Create</name>
        <label>Is There Admin Flags to Create</label>
        <locationX>451</locationX>
        <locationY>2232</locationY>
        <defaultConnectorLabel>No Admin Flags to Create</defaultConnectorLabel>
        <rules>
            <name>Admin_Flags_to_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_AdminFlags</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Admin_Flags</targetReference>
            </connector>
            <label>Admin Flags to Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Address_Validation</name>
        <label>Shipping Address Validation</label>
        <locationX>451</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Set_Account_IncorrectAddress_Flag_True_Shipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Shipping Address</defaultConnectorLabel>
        <rules>
            <name>Corrected_Shipping_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_Shipping_Address_mc.isCorrect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Account_Addr</targetReference>
            </connector>
            <label>Corrected Shipping Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Timezone_Success</name>
        <label>Shipping Timezone Success?</label>
        <locationX>297</locationX>
        <locationY>1524</locationY>
        <defaultConnector>
            <targetReference>Publish_Logs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success_Shipping_Timezone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Timezone_Shipping_Address.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Timezone</targetReference>
            </connector>
            <label>Success - Shipping Timezone</label>
        </rules>
    </decisions>
    <description>This flow will validate the billing and shipping address on an Account record and if there is anything wrong this flow will notate the issue.</description>
    <environments>Default</environments>
    <formulas>
        <name>Flow_Toggle</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Record.Flow_Toggle__c})</expression>
    </formulas>
    <interviewLabel>Record Trigger - Account - Update - Validate Billing and Shipping Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Account - Update - Validate Billing and Shipping Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Admin_Flags</name>
        <label>Create Admin Flags</label>
        <locationX>319</locationX>
        <locationY>2340</locationY>
        <inputReference>col_AdminFlags</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>451</locationX>
        <locationY>2124</locationY>
        <connector>
            <targetReference>Is_There_Admin_Flags_to_Create</targetReference>
        </connector>
        <inputReference>TempAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 7 OR 8 OR 9 OR 10 OR 11) AND 6</filterLogic>
        <filters>
            <field>BillingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingState</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingStreet</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Flow_Toggle__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingState</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingStreet</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Validate_Billing_Address_mc</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>200</triggerOrder>
    <variables>
        <name>col_AdminFlags</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Admin_Flag__c</objectType>
    </variables>
    <variables>
        <name>rec_AdminFlag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Admin_Flag__c</objectType>
    </variables>
    <variables>
        <name>TempAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
