prod-metadata/flows/Record_Trigger_Send_Patient_Document_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error_Create_Task</name>
        <label>Log - Error - Create Task</label>
        <locationX>1337</locationX>
        <locationY>492</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Patient_Agreement__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to create Task for the owner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Email_Bounced</name>
        <label>Log - Error - Email Bounced</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Patient_Agreement__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient&apos;s Email is Marked Bounced, no email sent to the patient.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Email_Sent_Failed</name>
        <label>Log - Error - Email Sent Failed</label>
        <locationX>1106</locationX>
        <locationY>1259</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Patient_Agreement__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Email send failed. No mail sent to the patient.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Email_Template_Missing</name>
        <label>Log - Error - Email Template Missing</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Patient_Agreement__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>There is no email template to send email to the patient. No mail sent to the patient.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Update_Patient_Agreement</name>
        <label>Log - Error - Update Patient Agreement</label>
        <locationX>842</locationX>
        <locationY>1475</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Patient_Agreement__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Update of  Patient Agreement has failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Info_Email_Sent</name>
        <label>Log - Info - Email Sent</label>
        <locationX>578</locationX>
        <locationY>1259</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Patient_Email</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Patient_Agreement__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Email Sent. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Initial_Email</name>
        <label>Send Initial Email</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Log_Info_Email_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Email_Sent_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@10xhealthsystem.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Patient__r.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>txt_EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_Email_Template_Initial</name>
        <label>Set Email Template - First Reminder</label>
        <locationX>545</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>txt_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_First_Reminder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Bounced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Task_For_Account_Owner</name>
        <label>Create Task For Account Owner</label>
        <locationX>1073</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>rec_Task.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_TaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient Follow Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient Agreement Form Is Incomplete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please reach out to the patient to remind them to complete their required documents in the patient portal.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Template_Initial</name>
        <label>Set Email Template - Initial</label>
        <locationX>281</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>txt_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Initial.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Bounced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Template_Second_Reminder</name>
        <label>Set Email Template - Second Reminder</label>
        <locationX>809</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>txt_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Second_Reminder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Bounced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Sent_Date_First_Reminder</name>
        <label>Set Last Sent Date - First Reminder</label>
        <locationX>545</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_Of_Times_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template_First_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Sent_Date_Second_Reminder</name>
        <label>Set Last Sent Date - Second Reminder</label>
        <locationX>809</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_Of_Times_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template_Second_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patient_Document_Sent_Information</name>
        <label>Set Patient Document Sent Information</label>
        <locationX>281</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_Of_Times_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template_Initial</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Record_Trigger_Send_Patient_Document_Email</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Here, we check to see if the email address has bounced. If it has, we won&apos;t send an email.</description>
        <name>Is_Email_Bounced</name>
        <label>Is Email Bounced</label>
        <locationX>677</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_patient_assigned_to_the_Patient_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email is Valid</defaultConnectorLabel>
        <rules>
            <name>Email_is_Bounced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient__r.PersonEmailBouncedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Error_Email_Bounced</targetReference>
            </connector>
            <label>Email is Bounced</label>
        </rules>
        <rules>
            <name>Email_template_is_missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>txt_EmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>txt_EmailTemplate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Error_Email_Template_Missing</targetReference>
            </connector>
            <label>Email template is missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_ContactId_on_Account</name>
        <label>Is there a ContactId on Account</label>
        <locationX>974</locationX>
        <locationY>1043</locationY>
        <defaultConnectorLabel>No Contact Id on Account</defaultConnectorLabel>
        <rules>
            <name>Contact_Id_on_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient__r.PersonContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Initial_Email</targetReference>
            </connector>
            <label>Contact Id on Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_patient_assigned_to_the_Patient_Agreement</name>
        <label>Is there a patient assigned to the Patient Agreement</label>
        <locationX>1304</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>No Patient Assigned</defaultConnectorLabel>
        <rules>
            <name>Patient_Assigned_to_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_ContactId_on_Account</targetReference>
            </connector>
            <label>Patient Assigned to Agreement</label>
        </rules>
    </decisions>
    <description>This flow will send the intial reminder and sny reminder emails to the patient.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_EmailTemplate1</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        {!$Record.Patient__r.Do_Not_Sync_to_Biocanic__c},
        {!$Setup.AutomationControlSettings__c.Do_Not_Sync_to_Biocanic__c}
    ),
    {!$Record.Patient_Agreement_Configuration__r.First_Email__c},
    IF(
        ISBLANK({!$Record.Patient_Agreement_Configuration__r.First_Email__c}),
        &apos;Consent_Assigned_NEW_1710959119814&apos;,
        IF(
            NOT({!$Record.Patient__r.Do_Not_Sync_to_Biocanic__c}) 
            &amp;&amp; NOT({!$Setup.AutomationControlSettings__c.Do_Not_Sync_to_Biocanic__c}),
            &apos;Consent_Assigned_NEW_1710959119814&apos;,
            {!$Record.Patient_Agreement_Configuration__r.First_Email__c}
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>form_EmailTemplate2</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        {!$Record.Patient__r.Do_Not_Sync_to_Biocanic__c},
        {!$Setup.AutomationControlSettings__c.Do_Not_Sync_to_Biocanic__c}
    ),
    {!$Record.Patient_Agreement_Configuration__r.Second_Email__c},
    IF(
        ISBLANK({!$Record.Patient_Agreement_Configuration__r.Second_Email__c}),
        &apos;Consent_Assigned_NEW_1710959119814&apos;,
        IF(
            NOT({!$Record.Patient__r.Do_Not_Sync_to_Biocanic__c}) 
            &amp;&amp; NOT({!$Setup.AutomationControlSettings__c.Do_Not_Sync_to_Biocanic__c}),
            &apos;Consent_Assigned_NEW_1710959119814&apos;,
            {!$Record.Patient_Agreement_Configuration__r.Second_Email__c}
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>form_EmailTemplate3</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        {!$Record.Patient__r.Do_Not_Sync_to_Biocanic__c},
        {!$Setup.AutomationControlSettings__c.Do_Not_Sync_to_Biocanic__c}
    ),
    {!$Record.Patient_Agreement_Configuration__r.Third_Email__c},
    IF(
        ISBLANK({!$Record.Patient_Agreement_Configuration__r.Third_Email__c}),
        &apos;Consent_Assigned_NEW_1710959119814&apos;,
        IF(
            NOT({!$Record.Patient__r.Do_Not_Sync_to_Biocanic__c}) 
            &amp;&amp; NOT({!$Setup.AutomationControlSettings__c.Do_Not_Sync_to_Biocanic__c}),
            &apos;Consent_Assigned_NEW_1710959119814&apos;,
            {!$Record.Patient_Agreement_Configuration__r.Third_Email__c}
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>form_TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <interviewLabel>Record Trigger - Send Patient Document Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Send Patient Document Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Account_Owner</name>
        <label>Create Task - Account Owner</label>
        <locationX>1073</locationX>
        <locationY>384</locationY>
        <faultConnector>
            <targetReference>Log_Error_Create_Task</targetReference>
        </faultConnector>
        <inputReference>rec_Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_Template_First_Reminder</name>
        <label>Get Email Template - First Reminder</label>
        <locationX>545</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Set_Email_Template_Initial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_EmailTemplate2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Initial</name>
        <label>Get Email Template - Initial</label>
        <locationX>281</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Template_Initial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_EmailTemplate1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Second_Reminder</name>
        <label>Get Email Template - Second Reminder</label>
        <locationX>809</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Template_Second_Reminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_EmailTemplate3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient_Email</name>
        <label>Update Patient Email</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <faultConnector>
            <targetReference>Log_Error_Update_Patient_Agreement</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Patient_Document_Sent_Information</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Signed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Created_From_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Policy</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inferred Consent</stringValue>
            </value>
        </filters>
        <object>Patient_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>First_Reminder</name>
            <connector>
                <targetReference>Set_Last_Sent_Date_First_Reminder</targetReference>
            </connector>
            <label>First Reminder</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Second_Reminder</name>
            <connector>
                <targetReference>Set_Last_Sent_Date_Second_Reminder</targetReference>
            </connector>
            <label>Second Reminder</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Send_Task_To_Account_Owner</name>
            <connector>
                <targetReference>Create_Task_For_Account_Owner</targetReference>
            </connector>
            <label>Send Task To Account Owner</label>
            <offsetNumber>9</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>rec_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>txt_EmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
