prod-metadata/flows/Record_Trigger_Appointment_Delete_Event_when_Appointment_is_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Reduce_the_Number_of_Appointments</name>
        <label>Reduce the Number of Appointments</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>rec_UpdatedAppointment.Number_of_Appointments__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Updated_Opportunity_Default_Values</name>
        <label>Set Updated Opportunity Default Values</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>rec_UpdatedAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_UpdatedAppointment.Number_of_Appointments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Number_of_Appointments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Event_for_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_Event_Record</name>
        <label>Did We Find Event Record</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Reduce_the_Number_of_Appointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Event Record Found</defaultConnectorLabel>
        <rules>
            <name>Event_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Event_for_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Event</targetReference>
            </connector>
            <label>Event Record Found</label>
        </rules>
    </decisions>
    <description>To ensure we keep the data clean and incase an appointment is deleted we want to ensure that we delete any related event records as well to ensure the event gets removed from the Office 365 Calendar.</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Appointment - Delete Event when Appointment is Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Appointment - Delete Event when Appointment is Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Event</name>
        <label>Delete Event</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Reduce_the_Number_of_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__InviteeUuid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly_UUID__c</elementReference>
            </value>
        </filters>
        <object>Event</object>
    </recordDeletes>
    <recordLookups>
        <name>Find_Event_for_Appointment</name>
        <label>Find Event for Appointment</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Event_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__InviteeUuid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <inputReference>rec_UpdatedAppointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Updated_Opportunity_Default_Values</targetReference>
        </connector>
        <object>Appointment__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_UpdatedAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
