prod-metadata/flows/Screenflow_Chargent_New_Credit_Card.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Log_Entered_Billing_Info</name>
        <label>Log Entered Billing Info</label>
        <locationX>1106</locationX>
        <locationY>2690</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Tokenize_Credit_Card</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>User entered billing info, starting Tokenization</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_getting_Account</name>
        <label>Log Error getting Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error getting Account record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_getting_Gateway</name>
        <label>Log Error getting Gateway</label>
        <locationX>2690</locationX>
        <locationY>1466</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error getting Gateway records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_getting_Opportunity</name>
        <label>Log Error getting Opportunity</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error getting Opportunity record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_getting_Order</name>
        <label>Log Error getting Order</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error getting Order record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Start</name>
        <label>Log Flow Start</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>What_Object_Was_Flow_Triggered_From</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Screenflow - Chargent - New Credit Card started by {!$User.FirstName} {!$User.LastName} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_in_Tokenization</name>
        <label>Log in Tokenization</label>
        <locationX>2426</locationX>
        <locationY>2906</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while Tokenizing CC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Multiple_Gateways_found</name>
        <label>Log Multiple Gateways found</label>
        <locationX>1106</locationX>
        <locationY>1790</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Billing_Info_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Multiple Gateways found. User will be offered a choice</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_No_Gateways_found</name>
        <label>Log No Gateways found</label>
        <locationX>1370</locationX>
        <locationY>1682</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>No_Gateway_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Log No Gateways found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_One_Gateway_found</name>
        <label>Log One Gateway found</label>
        <locationX>842</locationX>
        <locationY>1982</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Billing_Info_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>One Gateway found and assigned as tokenization gateway id {!txt_GatewayId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Selected_Gateway</name>
        <label>Log Selected Gateway</label>
        <locationX>974</locationX>
        <locationY>2498</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Entered_Billing_Info</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>User selected Gateway {!txt_GatewayId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Started_From_Account</name>
        <label>Log Started From Account</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Gateway</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Flow initiated from Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Started_From_Opportunity</name>
        <label>Log Started From Opportunity</label>
        <locationX>908</locationX>
        <locationY>1166</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Gateway</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Flow initiated from Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Started_From_Order</name>
        <label>Log Started From Order</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Gateway</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Flow initiated from Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Started_From_Unsupported_Record</name>
        <label>Log Started From Unsupported Record</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Not_Supported_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Flow initiated from Unsupported Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Success</name>
        <label>Log Success</label>
        <locationX>974</locationX>
        <locationY>3122</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Payment Method Successfully Added</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Tokenization_Failed</name>
        <label>Log Tokenization Failed</label>
        <locationX>1238</locationX>
        <locationY>3014</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Failure_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Tokenization Failed, returning to billing info screen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Tokenization_Successfull</name>
        <label>Log Tokenization Successfull</label>
        <locationX>974</locationX>
        <locationY>3014</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Tokenization Successfull, Payment Method {!Tokenize_Credit_Card.paymentMethodId} created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Tokenizes the credit card and creates a payment method that can be used later to make a charge</description>
        <name>Tokenize_Credit_Card</name>
        <label>Tokenize Credit Card</label>
        <locationX>1106</locationX>
        <locationY>2798</locationY>
        <actionName>ChargentBase__FlowPMTokenization</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_Tokenization_Successfull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_in_Tokenization</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>txt_AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cardHolderFirstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cardHolderLastName</name>
            <value>
                <elementReference>Last_name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cardNumber</name>
            <value>
                <elementReference>Credit_Card_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cardType</name>
            <value>
                <elementReference>Credit_Card_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>Billing_Address.city</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>companyName</name>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>txt_ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>Billing_Address.country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cvv</name>
            <value>
                <elementReference>CCV</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expiryMonth</name>
            <value>
                <elementReference>form_Expiration_Month</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expiryYear</name>
            <value>
                <elementReference>form_Expiration_Year</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headless</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>multipleTokenization</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentGatewayId</name>
            <value>
                <elementReference>txt_GatewayId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethod</name>
            <value>
                <stringValue>cardPaymentMethod</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalcode</name>
            <value>
                <elementReference>Billing_Address.postalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>txt_BillingState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>Billing_Address.street</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ChargentBase__FlowPMTokenization</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Ids for Tokenization</description>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>txt_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_TriggeringObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Started_From_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Ids for Tokenization</description>
        <name>Assign_Account_Id_Account</name>
        <label>Assign Account Id</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>txt_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_TriggeringObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Started_From_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Ids for Tokenization</description>
        <name>Assign_Account_Id_FRP</name>
        <label>Assign Account Id FRP</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>txt_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Financial_Responsible_Party__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Financial_Responsible_Party__r.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_TriggeringObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Started_From_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Ids for Tokenization</description>
        <name>Assign_Account_Id_main_Account</name>
        <label>Assign Account Id</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>txt_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_TriggeringObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Started_From_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Ids for Tokenization</description>
        <name>Assign_Account_Id_Order</name>
        <label>Assign Account Id</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>txt_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_TriggeringObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Started_From_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_found_gateways</name>
        <label>Assign Count of found gateways</label>
        <locationX>1106</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>num_GatewayCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Gateway</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Gateways_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Gateway_Id</name>
        <label>Assign Gateway Id</label>
        <locationX>930</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>txt_GatewayId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Gateway_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Gateway_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Multiple_Gateways_Present</name>
        <label>Assign Multiple Gateways Present</label>
        <locationX>1106</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>bool_MultipleGateways</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Multiple_Gateways_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Gateway_Id</name>
        <label>Assign Selected Gateway Id</label>
        <locationX>974</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>txt_GatewayId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Payment_Gateway</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Selected_Gateway</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Screenflow_Chargent_New_Credit_Card</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if there are multiple gateway options present. If yes, assign the selected one</description>
        <name>Are_there_multiple_Gateways_present</name>
        <label>Are there multiple Gateways present</label>
        <locationX>1106</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Log_Entered_Billing_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Gateway</defaultConnectorLabel>
        <rules>
            <name>Multiple_Gateways</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_MultipleGateways</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Gateway_Id</targetReference>
            </connector>
            <label>Multiple Gateways</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_Have_Custom_Permission_Assigned</name>
        <label>Does User Have Custom Permission Assigned</label>
        <locationX>2030</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>User_Doesn_t_Have_Permissions_to_Create_Credit_Cards</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Doesn&apos;t Have Permissions</defaultConnectorLabel>
        <rules>
            <name>Custom_Permission_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Can_Add_Credit_Cards_Manually</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Flow_Start</targetReference>
            </connector>
            <label>Custom Permission Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Gateways_Found</name>
        <label>How Many Gateways Found</label>
        <locationX>1106</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Log_No_Gateways_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Gateway found</defaultConnectorLabel>
        <rules>
            <name>X1_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_GatewayCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Gateway_Collection</targetReference>
            </connector>
            <label>1 found</label>
        </rules>
        <rules>
            <name>Multiple_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_GatewayCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Multiple_Gateways_Present</targetReference>
            </connector>
            <label>Multiple Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_FRP</name>
        <label>Is there an FRP</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Id_main_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No FRP</defaultConnectorLabel>
        <rules>
            <name>FRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Financial_Responsible_Party__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FRP_Or_Account</targetReference>
            </connector>
            <label>FRP</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the CC was tokenized successfully</description>
        <name>Was_Tokenization_Successfull</name>
        <label>Was Tokenization Successfull</label>
        <locationX>1106</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Log_Tokenization_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tokenize_Credit_Card.paymentMethodId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Tokenization_Successfull</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the flow was started from Account, Opportunity or Order record based on the passed in recordId</description>
        <name>What_Object_Was_Flow_Triggered_From</name>
        <label>What Object Was Flow Triggered From</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Log_Started_From_Unsupported_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Supported</defaultConnectorLabel>
        <rules>
            <name>Account_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Order_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_was_selected</name>
        <label>What was selected</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Selected</defaultConnectorLabel>
        <rules>
            <name>FRP_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frp_decision.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FRP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id_FRP</targetReference>
            </connector>
            <label>FRP</label>
        </rules>
    </decisions>
    <description>Screenflow used to add a new credit card as a tokenized chargent payment method</description>
    <dynamicChoiceSets>
        <name>Credit_Card_Type_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Credit_Card_Type__c</picklistField>
        <picklistObject>Credit_Card__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gateway_Choice_Set</name>
        <collectionReference>Get_Gateway</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ChargentBase__Gateway__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Returns true if expiration date is in correct format and card is not expired</description>
        <name>bool_FinalExpirationValidation</name>
        <dataType>Boolean</dataType>
        <expression>AND({!bool_IsCardValid},{!bool_IsExpirationDateInCorrectFormat})</expression>
    </formulas>
    <formulas>
        <name>bool_IsCardValid</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    {!num_EnteredExpiryYear} &gt; {!num_CurrentYear},
    AND(
        {!num_EnteredExpiryYear} = {!num_CurrentYear},
        {!num_EnteredExpiryMonth} &gt;= {!num_CurrentMonth}
    )
)</expression>
    </formulas>
    <formulas>
        <name>bool_IsExpirationDateInCorrectFormat</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Expiration_Date}, &quot;^(0[1-9]|1[0-2])/[0-9]{2}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>bool_UseAccountBillingInfo</name>
        <dataType>Boolean</dataType>
        <expression>{!use_account_info.value}</expression>
    </formulas>
    <formulas>
        <description>Checks if all address values are passed in</description>
        <name>bool_ValidAddressInfo</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    NOT(ISBLANK({!Billing_Address.country})), 
    OR(
        NOT(
            OR(
                LOWER({!Billing_Address.country}) = &quot;united states&quot;,
                LOWER({!Billing_Address.country}) = &quot;usa&quot;,
                LOWER({!Billing_Address.country}) = &quot;u.s.&quot;,
                LOWER({!Billing_Address.country}) = &quot;u.s.a&quot;,
                LOWER({!Billing_Address.country}) = &quot;us&quot;
            )
        ),
        AND(
            NOT(ISBLANK({!Billing_Address.street})),
            NOT(ISBLANK({!Billing_Address.city})),
            NOT(ISBLANK({!Billing_Address.postalCode})),
            NOT(ISBLANK({!Billing_Address.province}))
        )
    ),
    AND(
        NOT(ISBLANK({!Billing_Address.street})),
        NOT(ISBLANK({!Billing_Address.city})),
        NOT(ISBLANK({!Billing_Address.postalCode}))
    )
)</expression>
    </formulas>
    <formulas>
        <name>form_BillingCity</name>
        <dataType>String</dataType>
        <expression>IF(
    {!bool_UseAccountBillingInfo},
    CASE(
        {!txt_TriggeringObject},
        &quot;Account&quot;, {!Get_Account.BillingCity},
        &quot;Opportunity&quot;,
            IF(
                {!frp_decision.value} = &quot;FRP&quot;,
                {!Get_Opportunity.Financial_Responsible_Party__r.BillingCity},
                {!Get_Opportunity.Account.BillingCity}
            ),
        &quot;Order&quot;, {!Get_Order.Account.BillingCity},
        &quot;&quot;
    ),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>form_BillingCountry</name>
        <dataType>String</dataType>
        <expression>IF(
    {!bool_UseAccountBillingInfo},
    CASE(
        {!txt_TriggeringObject},
        &quot;Account&quot;, {!Get_Account.BillingCountry},
        &quot;Opportunity&quot;,
            IF(
                {!frp_decision.value} = &quot;FRP&quot;,
                {!Get_Opportunity.Financial_Responsible_Party__r.BillingCountry},
                {!Get_Opportunity.Account.BillingCountry}
            ),
        &quot;Order&quot;, {!Get_Order.Account.BillingCountry},
        &quot;&quot;
    ),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>form_BillingEmail</name>
        <dataType>String</dataType>
        <expression>IF(
    {!bool_UseAccountBillingInfo},
    CASE(
        {!txt_TriggeringObject},
        &quot;Account&quot;, {!Get_Account.PersonEmail},
        &quot;Opportunity&quot;,
            IF(
                {!frp_decision.value} = &quot;FRP&quot;,
                {!Get_Opportunity.Financial_Responsible_Party__r.PersonEmail},
                {!Get_Opportunity.Account.PersonEmail}
            ),
        &quot;Order&quot;, {!Get_Order.Account.PersonEmail},
        &quot;&quot;
    ),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>form_BillingFirstName</name>
        <dataType>String</dataType>
        <expression>IF(
    {!bool_UseAccountBillingInfo},
    CASE(
        {!txt_TriggeringObject},
        &quot;Account&quot;, {!Get_Account.FirstName},
        &quot;Opportunity&quot;,
            IF(
                {!frp_decision.value} = &quot;FRP&quot;,
                {!Get_Opportunity.Financial_Responsible_Party__r.FirstName},
                {!Get_Opportunity.Account.FirstName}
            ),
        &quot;Order&quot;, {!Get_Order.Account.FirstName},
        &quot;&quot;
    ),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>form_BillingLastName</name>
        <dataType>String</dataType>
        <expression>IF(
    {!bool_UseAccountBillingInfo},
    CASE(
        {!txt_TriggeringObject},
        &quot;Account&quot;, {!Get_Account.LastName},
        &quot;Opportunity&quot;,
            IF(
                {!frp_decision.value} = &quot;FRP&quot;,
                {!Get_Opportunity.Financial_Responsible_Party__r.LastName},
                {!Get_Opportunity.Account.LastName}
            ),
        &quot;Order&quot;, {!Get_Order.Account.LastName},
        &quot;&quot;
    ),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>form_BillingPhone</name>
        <dataType>String</dataType>
        <expression>IF(
    {!bool_UseAccountBillingInfo},
    CASE(
        {!txt_TriggeringObject},
        &quot;Account&quot;, {!Get_Account.Phone},
        &quot;Opportunity&quot;,
            IF(
                {!frp_decision.value} = &quot;FRP&quot;,
                {!Get_Opportunity.Financial_Responsible_Party__r.Phone},
                {!Get_Opportunity.Account.Phone}
            ),
        &quot;Order&quot;, {!Get_Order.Account.Phone},
        &quot;&quot;
    ),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>form_BillingPostalCode</name>
        <dataType>String</dataType>
        <expression>IF(
    {!bool_UseAccountBillingInfo},
    CASE(
        {!txt_TriggeringObject},
        &quot;Account&quot;, {!Get_Account.BillingPostalCode},
        &quot;Opportunity&quot;,
            IF(
                {!frp_decision.value} = &quot;FRP&quot;,
                {!Get_Opportunity.Financial_Responsible_Party__r.BillingPostalCode},
                {!Get_Opportunity.Account.BillingPostalCode}
            ),
        &quot;Order&quot;, {!Get_Order.Account.BillingPostalCode},
        &quot;&quot;
    ),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>form_BillingState</name>
        <dataType>String</dataType>
        <expression>IF(
    {!bool_UseAccountBillingInfo},
    CASE(
        {!txt_TriggeringObject},
        &quot;Account&quot;, {!Get_Account.BillingState},
        &quot;Opportunity&quot;,
            IF(
                {!frp_decision.value} = &quot;FRP&quot;,
                {!Get_Opportunity.Financial_Responsible_Party__r.BillingState},
                {!Get_Opportunity.Account.BillingState}
            ),
        &quot;Order&quot;, {!Get_Order.Account.BillingState},
        &quot;&quot;
    ),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>form_BillingStreet</name>
        <dataType>String</dataType>
        <expression>IF(
    {!bool_UseAccountBillingInfo},
    CASE(
        {!txt_TriggeringObject},
        &quot;Account&quot;, {!Get_Account.BillingStreet},
        &quot;Opportunity&quot;,
            IF(
                {!frp_decision.value} = &quot;FRP&quot;,
                {!Get_Opportunity.Financial_Responsible_Party__r.BillingStreet},
                {!Get_Opportunity.Account.BillingStreet}
            ),
        &quot;Order&quot;, {!Get_Order.Account.BillingStreet},
        &quot;&quot;
    ),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Extracts expiration month</description>
        <name>form_Expiration_Month</name>
        <dataType>String</dataType>
        <expression>LEFT({!Expiration_Date}, 2)</expression>
    </formulas>
    <formulas>
        <description>Extracts Expiration year</description>
        <name>form_Expiration_Year</name>
        <dataType>String</dataType>
        <expression>MID({!Expiration_Date}, FIND(&quot;/&quot;, {!Expiration_Date}) + 1, LEN({!Expiration_Date}))</expression>
    </formulas>
    <formulas>
        <name>num_CurrentMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Last 2 digits of current year</description>
        <name>num_CurrentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())-2000</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>num_EnteredExpiryMonth</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!Expiration_Date}, FIND(&quot;/&quot;, {!Expiration_Date}) - 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Returns last 2 digits</description>
        <name>num_EnteredExpiryYear</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!Expiration_Date}, 2))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Returns the correct error</description>
        <name>text_ExpirationErrorMessage</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT({!bool_IsExpirationDateInCorrectFormat}), 
    &quot;Please enter a valid expiration date in MM/YY format (e.g., 08/29).&quot;, 
    IF(
        NOT({!bool_IsCardValid}), 
        &quot;Credit Card expired. Please enter a valid Credit Card.&quot;, 
        &quot;&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <description>Returns N/A if there is no state entered which covers for the international addresses</description>
        <name>txt_BillingState</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Billing_Address.province}),
    &quot;N/A&quot;,
    {!Billing_Address.province}
)</expression>
    </formulas>
    <interviewLabel>Screenflow - Chargent - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Chargent - New Credit Card</label>
    <loops>
        <description>Loop through Gateway Collection to get ID</description>
        <name>Loop_through_Gateway_Collection</name>
        <label>Loop through Gateway Collection</label>
        <locationX>842</locationX>
        <locationY>1682</locationY>
        <collectionReference>Get_Gateway</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Gateway_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Log_One_Gateway_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Id_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_getting_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Authorize.net gateways. We will use the record type Id 0120b000000EuaYAAS to identify them</description>
        <name>Get_Gateway</name>
        <label>Get Gateway</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_of_found_gateways</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_getting_Gateway</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120b000000EuaYAAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargentBase__Gateway__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_FRP</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_getting_Opportunity</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Id_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_getting_Order</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Screen used to enter billing info for ne Credit Card</description>
        <name>Billing_Info_Screen</name>
        <label>Billing Info Screen</label>
        <locationX>1106</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_multiple_Gateways_present</targetReference>
        </connector>
        <fields>
            <name>Billing_Information</name>
            <fieldText>Billing Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Billing_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>use_account_info</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Use Account Billing Information</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue> </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>form_BillingFirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>bool_UseAccountBillingInfo</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Last_name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>form_BillingLastName</elementReference>
                    </defaultValue>
                    <fieldText>Last name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>bool_UseAccountBillingInfo</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>bool_UseAccountBillingInfo</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>form_BillingPhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>bool_UseAccountBillingInfo</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>form_BillingEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Billing_Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLookupLabel</name>
                        <value>
                            <stringValue>Search Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>bool_UseAccountBillingInfo</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>form_BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>form_BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>form_BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>form_BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>form_BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please make sure to fill all the address fields before proceeding&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!bool_ValidAddressInfo}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Credit_Card_Informaion</name>
            <fieldText>Credit Card Informaion</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Credit_Card_Informaion_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Credit_Card_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Credit Card Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid Credit Card number containing up to 16 digits.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
        REGEX({!Credit_Card_Number}, &quot;^[0-9]{1,16}$&quot;),
        LEN({!Credit_Card_Number}) &lt;= 16
    )</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CCV</name>
                    <dataType>Number</dataType>
                    <fieldText>CCV</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;CCV must be exactly 3 digits&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX(TEXT({!CCV}), &quot;^[0-9]{3}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Expiration_Date</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>MM/YY</stringValue>
                    </defaultValue>
                    <fieldText>Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter Expiration date in the MM/YY format&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!text_ExpirationErrorMessage}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!bool_FinalExpirationValidation}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Credit_Card_Type</name>
                    <choiceReferences>Credit_Card_Type_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Credit Card Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Gateway_Selection</name>
            <fieldText>Payment Gateway Selection</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Gateway_Selection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Payment_Gateway</name>
                    <choiceReferences>Gateway_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Payment Gateway</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bool_MultipleGateways</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Flow Automation Error:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure_Screen</name>
        <label>Failure Screen</label>
        <locationX>1238</locationX>
        <locationY>3122</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Billing_Info_Screen</targetReference>
        </connector>
        <fields>
            <name>Failure_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Failure_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Failure_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>failure_message</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.Style_Header_Red}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 255, 255);&quot;&gt;Failed to add a credit card!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 255, 255);&quot;&gt;{!Tokenize_Credit_Card.message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Failure_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FRP_Or_Account</name>
        <label>FRP Or Account</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_was_selected</targetReference>
        </connector>
        <fields>
            <name>frp_decision</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Financially Responsible Party&quot;,&quot;value&quot;:&quot;FRP&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Opportunity Account&quot;,&quot;value&quot;:&quot;Account&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>For who would you like to add a new Credit Card</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Gateway_Screen</name>
        <label>No Gateway Screen</label>
        <locationX>1370</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Gateway_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;No matching Payment Gateways found!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Supported_Screen</name>
        <label>Not Supported Screen</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not_Supported_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Credit Card creation not supported from this object.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This feature can be used only from Account, Opportunity or Order record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>974</locationX>
        <locationY>3230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>success_message</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;{!$Label.Style_Header_Green}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Successfully added Credit Card!&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Doesn_t_Have_Permissions_to_Create_Credit_Cards</name>
        <label>User Doesn&apos;t Have Permissions to Create Credit Cards</label>
        <locationX>2954</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText_UserDoesntHavePermissions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You do not have permission to create a credit card. Due to new PCI compliance rules, we can no longer take credit card numbers over the phone. Please send the customer a Payment Request Link via email for them to complete their payment. If needed, a manager can assist with adding a credit card and processing the payment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_User_Have_Custom_Permission_Assigned</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <description>Are there more that 1 Gateway available</description>
        <name>bool_MultipleGateways</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargentBase__Gateway__c</objectType>
    </variables>
    <variables>
        <name>num_GatewayCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_BillingFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_BillingLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_GatewayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_TriggeringObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
