temp_retrieve/flows/Autolaunch_Account_Set_TimeZone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Time_Zone</name>
        <label>Get Time Zone</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>mc_GetTimeZone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Which_Time_Zone_Field_to_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>googleApiKey</name>
            <value>
                <elementReference>$Label.Google_Maps_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>latitude</name>
            <value>
                <elementReference>txtLatitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>longitude</name>
            <value>
                <elementReference>txtLongitude</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_GetTimeZone</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Which_Time_Zone_Field_to_Update</name>
        <label>Which Time Zone Field to Update</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Set_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Shipping</defaultConnectorLabel>
        <rules>
            <name>Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolBillingAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Set_Billing_Address</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Autolaunch - Account - Set TimeZone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Account - Set TimeZone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Set_Billing_Address</name>
        <label>Update Account - Set Billing Address</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_TimeZone__c</field>
            <value>
                <elementReference>Get_Time_Zone.timeZoneName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Set_Shipping_Address</name>
        <label>Update Account - Set Shipping Address</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Shipping_TimeZone__c</field>
            <value>
                <elementReference>Get_Time_Zone.timeZoneName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Time_Zone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>boolBillingAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>txtLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
