temp_retrieve/flows/Autolaunch_ValidateShippingAddress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Address_is_Not_Valid</name>
        <label>Log - Address is Not Valid</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Lab_Order_Status_Order_Held_Missing_Incorrect_Shipping_Information</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Invalid Shipping Address: {!txt_ValidateShippingAddress_ErrorMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Address_is_Valid</name>
        <label>Log - Address is Valid</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Validated_Address</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Address has been validated successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Validating_Address</name>
        <label>Log Error Validating Address</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Lab_Order_Status_Order_Held_Missing_Incorrect_Shipping_Information</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Validating Address</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Entry</name>
        <label>Log Flow Entry</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Address</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Autolaunch - Lab Order - Opportunity - Validate Shipping Address When Submitting Lab Request Flow Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Validate_Address</name>
        <label>Validate Address</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>mc_ValidateAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Shipping_Address_Valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Validating_Address</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>rec_Opportunity.Shipping_City__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>rec_Opportunity.Shipping_Country__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>googleApiKey</name>
            <value>
                <elementReference>$Setup.Google_Maps__c.Key__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>rec_Opportunity.Shipping_Zip_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>rec_Opportunity.Shipping_State__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>rec_Opportunity.Shipping_Street_Address__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_ValidateAddress</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Lab_Order_Status_Order_Held_Missing_Incorrect_Shipping_Information</name>
        <label>Set Lab Order Status - Order Held - Missing/Incorrect Shipping Information</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Held</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Missing or Incorrect Shipping Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ValidateShippingAddress_ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Shipping Address: {!txt_ValidateShippingAddress_ErrorMessage}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Validated_Address</name>
        <label>Set Validated Address</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Shipping_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Address.rtnCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Address.rtnCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Shipping_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Address.rtnState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Shipping_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Address.rtnPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Shipping_Street_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Address.rtnStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Autolaunch_ValidateShippingAddress</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Shipping_Address_Valid</name>
        <label>Is Shipping Address Valid</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Log_Address_is_Not_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Shipping Address Invalid</defaultConnectorLabel>
        <rules>
            <name>Shipping_Address_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_Address.isCorrect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Address_is_Valid</targetReference>
            </connector>
            <label>Shipping Address Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Autolaunch - ValidateShippingAddress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Lab Order - Opportunity - Validate Shipping Address When Submitting Lab Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Flow_Entry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_ValidateShippingAddress_ErrorMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Validate Address Error Message:
{!Validate_Address.errorMessage}

Automation Error Message:
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rec_LabOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lab_Order__c</objectType>
    </variables>
    <variables>
        <name>rec_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
