temp_retrieve/flows/Autolaunch_Create_Bitly_Short_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Shorten_URL</name>
        <label>Shorten URL</label>
        <locationX>116</locationX>
        <locationY>566</locationY>
        <actionName>Bitly_Link</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>col_apexDefined_LinkDetails</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bitly_Link</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Bitly_Error_Message_No_Referral_Code</name>
        <label>Set Bitly Error Message - No Referral Code</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rec_Account.Bitly_Is_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.Bitly_Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account doesn&apos;t have a referral code. Bitly Link can&apos;t be created till there is a referral code.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Bitly_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_No_Account_Referral_Code</name>
        <label>Set Error Message - No Account Referral Code</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rec_CampaignEmployee.Is_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_CampaignEmployee.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The selected Employee doesn&apos;t have a referral code. A Short Link can&apos;t be created till there is a referral code.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_No_Campaign_Code</name>
        <label>Set Error Message - No Campaign Code</label>
        <locationX>1172</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rec_CampaignEmployee.Is_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_CampaignEmployee.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The selected Campaign doesn&apos;t have an Affiliate Code. A Short Link can&apos;t be created till there is a Affiliate Code.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Link_Details</name>
        <label>Set Link Details</label>
        <locationX>116</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.domain</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.http_method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.long_url</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txtLongUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.relatedRecordObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.relatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.relatedRecordFieldToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bitly_Link__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_bitlyQrTitle_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.group_guid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bn9rlerDsag</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_apexDefined_LinkDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>apexDefined_LinkDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shorten_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Link_Details_Campaign_Employe</name>
        <label>Set Link Details - Campaign Employe</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.domain</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.http_method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.long_url</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_CampaignEmployee.Long_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.relatedRecordObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Campaign_Employee__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.relatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_CampaignEmployee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.relatedRecordFieldToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Short_URL__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_bitlyQrTitle_CampaignEmployee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_LinkDetails.group_guid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bn9rlerDsag</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_apexDefined_LinkDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>apexDefined_LinkDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Shorten_URL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_we_need_to_create_Short_Code</name>
        <label>Do we need to create Short Code</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Does_Account_Have_Referral_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Short Code</defaultConnectorLabel>
        <rules>
            <name>Don_t_Create_Short_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Account.Bitly_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Create Short Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Have_Referral_Code</name>
        <label>Does Account Have Referral Code</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Bitly_Error_Message_No_Referral_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account  Doesn&apos;t Have Referral Code</defaultConnectorLabel>
        <rules>
            <name>Account_Has_Referral_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Account.Referral_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Link_Details</targetReference>
            </connector>
            <label>Account Has Referral Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Have_Referral_Code_Campaign</name>
        <label>Does Account Have Referral Code</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_No_Account_Referral_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Referral Code</defaultConnectorLabel>
        <rules>
            <name>Referral_Code_Filled_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_CampaignEmployee.Employee__r.Referral_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Link_Details_Campaign_Employe</targetReference>
            </connector>
            <label>Referral Code Filled In</label>
        </rules>
    </decisions>
    <decisions>
        <description>We do a check to ensure that the Campaign has a QR Code before continuing.</description>
        <name>Does_Campaign_Have_Affiliate_Code</name>
        <label>Does Campaign Have Affiliate Code</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_No_Campaign_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Affiliate Code</defaultConnectorLabel>
        <rules>
            <name>Affiliate_Code_Filled_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_CampaignEmployee.Campaign__r.Affiliate_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Account_Have_Referral_Code_Campaign</targetReference>
            </connector>
            <label>Affiliate Code Filled In</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Object_Passed_In</name>
        <label>Which Object Passed In</label>
        <locationX>743</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No Object</defaultConnectorLabel>
        <rules>
            <name>Account_Passed_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_need_to_create_Short_Code</targetReference>
            </connector>
            <label>Account Passed In</label>
        </rules>
        <rules>
            <name>Campaign_Employee_Passed_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_CampaignEmployee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Campaign_Have_Affiliate_Code</targetReference>
            </connector>
            <label>Campaign Employee Passed In</label>
        </rules>
    </decisions>
    <description>This flow will verify that the user doesn&apos;t have a short URL and they have a referral code before creating a bitly link.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_bitlyQrTitle_Account</name>
        <dataType>String</dataType>
        <expression>&quot;QR Code for &quot;+ {!rec_Account.FirstName} + &quot; &quot; + {!rec_Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>form_bitlyQrTitle_CampaignEmployee</name>
        <dataType>String</dataType>
        <expression>&quot;QR Code for &quot;+ {!rec_CampaignEmployee.Employee__r.FirstName} + &quot; &quot; + {!rec_CampaignEmployee.Employee__r.LastName}+ &quot; - &quot; + {!rec_CampaignEmployee.Campaign__r.Name}</expression>
    </formulas>
    <formulas>
        <name>form_txtLongUrl</name>
        <dataType>String</dataType>
        <expression>&quot;https://shop.10xhealthsystem.com?utm_source=&quot;+{!rec_Account.Referral_Code__c}+&quot;&amp;utm_medium=salesforce&amp;utm_campaign=qr_code&quot;</expression>
    </formulas>
    <interviewLabel>Autolaunch - Create Bitly Short Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Create Bitly Short Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Bitly_Error_Message</name>
        <label>Update Bitly Error Message</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <inputReference>rec_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Employee</name>
        <label>Update Campaign Employee</label>
        <locationX>974</locationX>
        <locationY>800</locationY>
        <inputReference>rec_CampaignEmployee</inputReference>
    </recordUpdates>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Object_Passed_In</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>apexDefined_LinkDetails</name>
        <apexClass>Bitly_DTO_CreateLink_Request</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_apexDefined_LinkDetails</name>
        <apexClass>Bitly_DTO_CreateLink_Request</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rec_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rec_CampaignEmployee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign_Employee__c</objectType>
    </variables>
</Flow>
