temp_retrieve/flows/Autolaunch_Opportunity_Update_Shopify_Tracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error_in_Apex</name>
        <label>Log Error in Apex</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Apex Update Shopify Tracking action</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Entry</name>
        <label>Log Flow Entry</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Map_Fields_To_Apex_Request_Object</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Flow Autolaunch - Opportunity - Update Shopify Tracking Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Logs</name>
        <label>Save Logs</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Calls apex invocable method that initiates a callout to update tracking info on Shopify order</description>
        <name>Update_Shopify_Tracking</name>
        <label>Update Shopify Tracking</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>mc_ShopifyTrackingUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Logs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_in_Apex</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunity</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackingInfo</name>
            <value>
                <elementReference>Map_Fields_To_Apex_Request_Object</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_ShopifyTrackingUpdate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Autolaunch_Opportunity_Update_Shopify_Tracking</stringValue>
        </value>
    </constants>
    <description>Makes a callout to update tracking info on Shopify orders</description>
    <environments>Default</environments>
    <interviewLabel>Autolaunch - Opportunity - Update Shopify Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Opportunity - Update Shopify Tracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Flow_Entry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>Maps record fields to the apex defined request object for callout</description>
        <name>Map_Fields_To_Apex_Request_Object</name>
        <label>Map Fields To Apex Request Object</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <apexClass>mc_DTO_ShopifyTrackingUpdateRequest</apexClass>
        <connector>
            <targetReference>Update_Shopify_Tracking</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>trackingCompany</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.First_Shipping_Company__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>trackingUrl</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.First_Tracking_URL__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>trackingNumber</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.First_Tracking_Num__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>shop</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.Transaction_Source__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>orderNumber</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.Transaction_Source_Order_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>notifyCustomer</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Setup.AutomationControlSettings__c.Notify_Customer__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>apex_TrackingUpdateRequest</name>
        <apexClass>mc_DTO_ShopifyTrackingUpdateRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rec_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
