temp_retrieve/flows/Record_Trigger_Lead_Link_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Campaign_on_Oppty</name>
        <label>Set Campaign on Oppty</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>rec_CampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Matching_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_CampaignMember.LeadOrContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_CampaignMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Found</name>
        <label>Campaign Found</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No Campaign Found</defaultConnectorLabel>
        <rules>
            <name>Campaign_Found_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Matching_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Campaign_on_Oppty</targetReference>
            </connector>
            <label>Campaign Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the campaign code is filled in, look at the campaign object and see if we can find a campaign</description>
        <name>Is_Campaign_Code_Filled_In</name>
        <label>Is Campaign Code Filled In</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Campaign Code</defaultConnectorLabel>
        <rules>
            <name>Campaign_Code_Filled_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Campaign_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Matching_Campaign</targetReference>
            </connector>
            <label>Campaign Code Filled In</label>
        </rules>
    </decisions>
    <description>This automation will take the Campaign code if it is filled in it will look at the campaigns and find one that matches that and link that record.</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Lead - Link Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Lead - Link Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>rec_CampaignMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Matching_Campaign</name>
        <label>Find Matching Campaign</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Affiliate_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Campaign_Source__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Campaign_Code_Filled_In</targetReference>
        </connector>
        <filterFormula>IF( 
AND(
OR(ISNEW(), ISCHANGED({!$Record.External_Campaign_Source__c}), ISCHANGED({!$Record.External_Campaign_Source__c})),
AND(NOT(ISNULL({!$Record.External_Campaign_Source__c})), NOT(ISBLANK({!$Record.External_Campaign_Source__c})))
)
, TRUE, FALSE )</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_CampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
