temp_retrieve/flows/Record_Trigger_Patient_Document_Received_Via_API.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>The API is bringing these PA&apos;s in as Received which will break the below function. We need to set to Sent to make the automation work</description>
        <name>Fix_API_Data_Issue</name>
        <label>Fix API Data Issue</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Autolaunch_Patient_Agreement_Received</targetReference>
        </connector>
    </assignments>
    <description>This flow will trigger when the API creates a Patient Agreement that is signed. This flow will then create a task for the Patient Document team to review the document.</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Patient Document Received - Via API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Creation_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shopify</stringValue>
            </value>
        </filters>
        <filters>
            <field>Creation_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MyWellnessPortal</stringValue>
            </value>
        </filters>
        <object>Patient_Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_Delay</name>
            <connector>
                <targetReference>Fix_API_Data_Issue</targetReference>
            </connector>
            <label>Run Delay</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Autolaunch_Patient_Agreement_Received</name>
        <label>Autolaunch - Patient Agreement Received</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <flowName>Autolaunch_Patient_Agreement_Received</flowName>
        <inputAssignments>
            <name>rec_PatientAgreement</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>101</triggerOrder>
</Flow>
