temp_retrieve/flows/Record_Trigger_Lab_Order_Lab_Order_Rejected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_3_of_Log_Error_Sending_Email_to_Patient</name>
        <label>Log - Error - Getting Email Template - GT</label>
        <locationX>842</locationX>
        <locationY>1619</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Did_Not_Send_Rejection_Email_To_Patient_Email_Bounced</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while getting the rejection email template</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_No_Auto_Reship</name>
        <label>Log Debug No Auto Reship</label>
        <locationX>2602</locationX>
        <locationY>539</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No Auto Reship</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Did_Not_Send_Rejection_Email_To_Patient_Email_Bounced</name>
        <label>Log Did Not Send Rejection Email To Patient - Email Bounced</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Do_we_need_to_update_Opportunity</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Did not send the rejection email to patient as their email is on the account is currently marked bounced.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Getting_Email_Template_PGT</name>
        <label>Log - Error - Getting Email Template - PGT</label>
        <locationX>1634</locationX>
        <locationY>1619</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Did_Not_Send_Rejection_Email_To_Patient_Email_Bounced</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while getting the rejection email template</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Sending_Email_to_Patient</name>
        <label>Log - Error - Sending Email to Patient</label>
        <locationX>1370</locationX>
        <locationY>1835</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Did_Not_Send_Rejection_Email_To_Patient_Email_Bounced</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while sending patient rejection email.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Update_Lab_Order</name>
        <label>Log Error Update Lab Order</label>
        <locationX>2338</locationX>
        <locationY>2849</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating New Lab Order Record: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Update_Opportunity</name>
        <label>Log Error Update Opportunity</label>
        <locationX>578</locationX>
        <locationY>2417</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating Opportunity Record: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Update_Original_Lab_Order</name>
        <label>Log Error Update Original Lab Order</label>
        <locationX>2074</locationX>
        <locationY>3473</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating Original Lab Order Record: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Entry</name>
        <label>Log Flow Entry</label>
        <locationX>1194</locationX>
        <locationY>323</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Do_we_need_to_Auto_Reship_on_Rejection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Trigger - Lab Order - Lab Order Rejected Flow Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Greater_than_3_attempts</name>
        <label>Log Greater than 3 attempts</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Do_we_need_to_update_Opportunity</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>More than 3 reship attempts, email sent to the Account owner: {!$Record.Opportunity__r.Account.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Submitted_new_Lab_Request</name>
        <label>Log Submitted new Lab Request</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Do_We_Need_to_Send_a_Rejection_Email_to_Patient</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Submitted new Lab Request after rejection. New Lab Order Id: {!rec_LabOrder.Id} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_Action</name>
        <label>Save Log Action</label>
        <locationX>578</locationX>
        <locationY>3473</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Internal_Account_Owner</name>
        <label>Send Email - Internal Account Owner</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Log_Greater_than_3_attempts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Patient__r.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Genetic Test Reshipment Limit Exceeded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txt_EmailBody_AccountOwnerRejectionNotice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_Email_To_Patient</name>
        <label>Send Rejection Email To Patient</label>
        <locationX>1106</locationX>
        <locationY>1727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Do_we_need_to_update_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Sending_Email_to_Patient</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@10xhealthsystem.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>rec_LabOrder.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>rec_LabOrder.Patient__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>txtEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opp_Variable</name>
        <label>Assign Opp Variable</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Total_Reship_Attempt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_Id</name>
        <label>Assign Request Id</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Request_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_LabOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Stage_Kit_Needs_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_new_Lab_Order_Values</name>
        <label>Assing new Lab Order Values</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_New_Lab_Order_Values</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lab_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Template_Genetic_Testing</name>
        <label>Set Email Template - Genetic Testing</label>
        <locationX>578</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>txtEmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Genetic_Testing_Rejection_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Rejection_Email_To_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Template_Precision_Genetic_Testing</name>
        <label>Set Email Template - Precision Genetic Testing</label>
        <locationX>1106</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>txtEmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Precision_Genetic_Testing_Rejection_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Rejection_Email_To_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lab_Order_Values_Too_Many_Requests</name>
        <label>Set Lab Order Values - Too Many Requests</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Too Many Lab Requests Attempts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Internal_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Stage_Kit_Needs_Sent</name>
        <label>Set Opportunity Stage - Kit Needs Sent</label>
        <locationX>1106</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kit Needs Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Submitted_new_Lab_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If there are more than 3 attempts we will fail out and manual intervention will need to happen from a PSR/Wellness Advisor.</description>
        <name>Set_Opportunity_Values_Too_Many_Requests</name>
        <label>Set Opportunity Values - Too Many Requests</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need More Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Opportunity_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Too Many Lab Requests Attempts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Lab_Order_Values_Too_Many_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Lab_Order_Closed</name>
        <label>Set Original Lab Order - Closed</label>
        <locationX>578</locationX>
        <locationY>3257</locationY>
        <assignmentItems>
            <assignToReference>rec_OriginalLabOrder.IsClosed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Original_Lab_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Lab_Order_Id</name>
        <label>Set Original Lab Order - Id</label>
        <locationX>578</locationX>
        <locationY>2849</locationY>
        <assignmentItems>
            <assignToReference>rec_OriginalLabOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Order_a_Rejected_Reship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Lab_Order_Rejected_Status</name>
        <label>Set Original Lab Order - Rejected Status</label>
        <locationX>446</locationX>
        <locationY>3065</locationY>
        <assignmentItems>
            <assignToReference>rec_OriginalLabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_OriginalLabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sample Invalid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Original_Lab_Order_Closed</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Record_Trigger_Lab_Order_Lab_Order_Rejected</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Sample is Rejected by the lab, a new test will be auto-shipped out</description>
        <name>Do_we_need_to_Auto_Reship_on_Rejection</name>
        <label>Do we need to Auto Reship on Rejection</label>
        <locationX>1194</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Log_Debug_No_Auto_Reship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Auto Reship Is False</defaultConnectorLabel>
        <rules>
            <name>Is_Order_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Order Closed</label>
        </rules>
        <rules>
            <name>Auto_Reship_Is_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lab_Provider_Configuration__r.Auto_Reship_on_Rejection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Lab</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Supported State</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reship_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_Variable</targetReference>
            </connector>
            <label>Auto Reship Is True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on the Services Rendered we will send a rejection email to the patient informing them that they will get a new kit.</description>
        <name>Do_We_Need_to_Send_a_Rejection_Email_to_Patient</name>
        <label>Do We Need to Send a Rejection Email to Patient</label>
        <locationX>1106</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Do_we_need_to_update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service doesn&apos;t have a rejection email.</defaultConnectorLabel>
        <rules>
            <name>Patient_s_Email_is_Bounced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient__r.PersonEmailBouncedDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Did_Not_Send_Rejection_Email_To_Patient_Email_Bounced</targetReference>
            </connector>
            <label>Patient&apos;s Email is Bounced</label>
        </rules>
        <rules>
            <name>Genetic_Testing_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_LabOrder.Services_Rendered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genetic Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Genetic_Testing_Rejection_Id</targetReference>
            </connector>
            <label>Genetic Testing Service</label>
        </rules>
        <rules>
            <name>Precision_Genetic_Testing_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_LabOrder.Services_Rendered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Genetic Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Precision_Genetic_Testing_Rejection_Id</targetReference>
            </connector>
            <label>Precision Genetic Testing Service</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there is an Opportunity Id</description>
        <name>Do_we_need_to_update_Opportunity</name>
        <label>Do we need to update Opportunity</label>
        <locationX>578</locationX>
        <locationY>2201</locationY>
        <defaultConnector>
            <targetReference>Update_Lab_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Update_Opportunity_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Update Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we will check if the Reship Reorder field is set to true; if so then we will reset the status and values.</description>
        <name>Is_Order_a_Rejected_Reship</name>
        <label>Is Order a Rejected Reship</label>
        <locationX>578</locationX>
        <locationY>2957</locationY>
        <defaultConnector>
            <targetReference>Set_Original_Lab_Order_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Order</defaultConnectorLabel>
        <rules>
            <name>Rejected_Reship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reship_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Lab_Order_Rejected_Status</targetReference>
            </connector>
            <label>Rejected Reship</label>
        </rules>
    </decisions>
    <decisions>
        <description>We now need to decide whether to resubmit the lab request or submit a notification to the end user.</description>
        <name>What_is_the_Total_Reship_Attempt</name>
        <label>What is the Total Reship Attempt</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_New_Lab_Order_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Rejections</defaultConnectorLabel>
        <rules>
            <name>Greater_than_3_Attempts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Number_of_Reships__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Values_Too_Many_Requests</targetReference>
            </connector>
            <label>Greater than 3 Attempts</label>
        </rules>
    </decisions>
    <description>This will have all of the logic needed when a lab order has been rejected.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_OpportunityDirectLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))+{!$Record.Id}, &quot;Link To Lab Order&quot;)</expression>
    </formulas>
    <interviewLabel>Record Trigger - Lab Order - Lab Order Rejected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Lab Order - Lab Order Rejected</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lab_Order</name>
        <label>Create Lab Order</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Assign_Request_Id</targetReference>
        </connector>
        <inputReference>rec_LabOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_Template_Genetic_Testing_Rejection_Id</name>
        <label>Get Email Template - Genetic Testing Rejection Id</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Template_Genetic_Testing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Log_Error_Sending_Email_to_Patient</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Methylation_Genetic_Test_Reswab_Email_1720646849910</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Precision_Genetic_Testing_Rejection_Id</name>
        <label>Get Email Template - Precision Genetic Testing Rejection Id</label>
        <locationX>1106</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Template_Precision_Genetic_Testing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Getting_Email_Template_PGT</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Precision_Genetic_Test_Reswab_Email_1720646263515</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lab_Order</name>
        <label>Update Lab Order</label>
        <locationX>578</locationX>
        <locationY>2741</locationY>
        <connector>
            <targetReference>Set_Original_Lab_Order_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Update_Lab_Order</targetReference>
        </faultConnector>
        <inputReference>rec_LabOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>314</locationX>
        <locationY>2309</locationY>
        <connector>
            <targetReference>Update_Lab_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Update_Opportunity</targetReference>
        </faultConnector>
        <inputReference>rec_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Lab_Order</name>
        <label>Update Original Lab Order</label>
        <locationX>578</locationX>
        <locationY>3365</locationY>
        <connector>
            <targetReference>Save_Log_Action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Update_Original_Lab_Order</targetReference>
        </faultConnector>
        <inputReference>rec_OriginalLabOrder</inputReference>
    </recordUpdates>
    <start>
        <locationX>1068</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Flow_Entry</targetReference>
        </connector>
        <filterLogic>(7 AND 9) OR (1 AND 2 AND 8) OR (3 AND 8 AND (4 OR 5 OR 6))</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sample Invalid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled 10x</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reship</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Supported State</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Lab</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reship_Order__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reship_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lab_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_EmailBody_AccountOwnerRejectionNotice</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey {!$Record.Patient__r.Owner.FirstName},&lt;/p&gt;&lt;p&gt;{!$Record.&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Patient__r&lt;/span&gt;.FirstName} has attempted to submit a Genetic Test Swab but the lab has rejected their submission X times. Please reach out to the customer to get them to:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Come to a Physical Clinic for a Genetic Test Lab&lt;/li&gt;&lt;li&gt;Purchase Another Genetic Test&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;{!form_OpportunityDirectLink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Yours Truly,&lt;/p&gt;&lt;p&gt;10x Automated Service&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <name>Set_New_Lab_Order_Values</name>
        <label>Set New Lab Order Values</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assing_new_Lab_Order_Values</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Lab_Order__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Date_of_Birth__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>IF(TEXT({!$Record.Services_Rendered__c}) = &quot;Precision Genetic Test&quot;, NULL, {!$Record.Date_of_Birth__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>First_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF(TEXT({!$Record.Services_Rendered__c}) = &quot;Precision Genetic Test&quot;, &quot;&quot;, {!$Record.First_Name__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Gender__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF(TEXT({!$Record.Services_Rendered__c}) = &quot;Precision Genetic Test&quot;, &quot;&quot;, TEXT({!$Record.Gender__c}))</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Lab_Provider__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Lab_Provider__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Lab_Provider_Configuration__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Lab_Provider_Configuration__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Last_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF(TEXT({!$Record.Services_Rendered__c}) = &quot;Precision Genetic Test&quot;, &quot;&quot;, {!$Record.Last_Name__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Opportunity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Opportunity__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Original_Lab_Order__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF(ISBLANK({!$Record.Original_Lab_Order__c}), {!$Record.Id}, {!$Record.Original_Lab_Order__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Patient__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Patient__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Patient_Height_cm__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>IF(TEXT({!$Record.Services_Rendered__c}) = &quot;Precision Genetic Test&quot;, NULL, {!$Record.Patient_Height_cm__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Patient_Weight_kg__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>IF(TEXT({!$Record.Services_Rendered__c}) = &quot;Precision Genetic Test&quot;, NULL, {!$Record.Patient_Weight_kg__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Product__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Request_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Request_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Services_Rendered__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Services_Rendered__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__City__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipping_Address__City__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__CountryCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipping_Address__CountryCode__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__GeocodeAccuracy__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipping_Address__GeocodeAccuracy__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__Latitude__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipping_Address__Latitude__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__Longitude__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipping_Address__Longitude__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__PostalCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipping_Address__PostalCode__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__StateCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipping_Address__StateCode__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__Street__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipping_Address__Street__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Height__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>IF(TEXT({!$Record.Services_Rendered__c}) = &quot;Precision Genetic Test&quot;, NULL, {!$Record.Height__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Weight__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>IF(TEXT({!$Record.Services_Rendered__c}) = &quot;Precision Genetic Test&quot;, NULL, {!$Record.Weight__c})</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>bool_LabOrderCreationSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rec_LabOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Order__c</objectType>
    </variables>
    <variables>
        <name>rec_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>rec_OriginalLabOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Order__c</objectType>
    </variables>
    <variables>
        <name>txt_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
