temp_retrieve/flows/Record_Trigger_Opportunity_Validate_Credit_Card.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <description>Error message to warn about the mismatch between CC and FRP</description>
        <name>Not_matching_error</name>
        <label>Not matching error</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!txt_ErrorMsg}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Error message to warn about the mismatch between CC and FRP</description>
        <name>Not_matching_error_FRP</name>
        <label>Not matching error</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>{!txt_ErrorMsgFRP}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Check if the FRP is present on the Opportunity</description>
        <name>Is_FRP_Present</name>
        <label>Is FRP Present</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_the_CC_linked_to_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No FRP</defaultConnectorLabel>
        <rules>
            <name>FRP_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financial_Responsible_Party__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Validation_Necessary</targetReference>
            </connector>
            <label>FRP present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Compare the account ID of the selected credit card with the Opp.accountID to verify if the credit card is linked to patient account</description>
        <name>Is_the_CC_linked_to_Account</name>
        <label>Is the CC linked to Account</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Not_matching_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Matching</defaultConnectorLabel>
        <rules>
            <name>Match_noFRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Card_Details.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Compare the account ID of the selected credit card with the FRP&apos;s account ID to verify if the credit card is linked to the FRP&apos;s account</description>
        <name>Is_the_CC_linked_to_FRP_Account</name>
        <label>Is the CC linked to FRP Account</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Not_matching_error_FRP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT Matching</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Card_Details.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Financial_Responsible_Party__r.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the validation is necessary in case there was a change on FRP field</description>
        <name>Is_Validation_Necessary</name>
        <label>Is Validation Necessary</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No Validation</defaultConnectorLabel>
        <rules>
            <name>Validate</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>form_IsNewOrFRPChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Card__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Skip_Automation_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_CC_linked_to_FRP_Account</targetReference>
            </connector>
            <label>Validate</label>
        </rules>
    </decisions>
    <description>This flow will validate if the correct credit card was selected for the opportunity. 
**Exclude the users which have field Skip_Automation_Rules__c set to true from the validation. In the Is_Validation_Necessary element.**</description>
    <environments>Default</environments>
    <formulas>
        <description>Check if the record is new or if the FRP was changed</description>
        <name>form_IsNewOrFRPChange</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() &amp;&amp; NOT(ISBLANK({!$Record.Financial_Responsible_Party__c})) &amp;&amp; NOT(ISBLANK({!$Record.Credit_Card__r.Id}))) || (ISCHANGED({!$Record.Financial_Responsible_Party__c}) &amp;&amp; NOT(ISBLANK({!$Record.Credit_Card__r.Id})) &amp;&amp; NOT(ISBLANK({!$Record.Financial_Responsible_Party__c})))</expression>
    </formulas>
    <interviewLabel>Record Trigger - Opportunity - Validate Credit Card {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Opportunity - Validate Credit Card</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get details of the related Credit Card</description>
        <name>Get_Credit_Card_Details</name>
        <label>Get Credit Card Details</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_FRP_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Credit_Card__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Credit_Card_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Credit_Card__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>txt_ErrorMsg</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The selected credit card on the opportunity is not associated with the account related to the opportunity. Please choose a credit card related to the account on the opportunity.</text>
    </textTemplates>
    <textTemplates>
        <name>txt_ErrorMsgFRP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The selected credit card on the opportunity is not associated with the FRP&apos;s account. Either remove the FRP or choose a credit card from the FRP&apos;s account.</text>
    </textTemplates>
</Flow>
