temp_retrieve/flows/Record_Trigger_Case_Send_New_Creator_and_Reviewer_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_Case_New_Creator_Internal</name>
        <label>Send Email Alert Case New Creator - Internal</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Case.Case_New_Creator_Internal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Email_Alert_Case_New_Reviewer_Internal</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_New_Creator_Internal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_Case_New_Reviewer_Internal</name>
        <label>Send Email Alert Case New Reviewer - Internal</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.Case_New_Reviewer_Internal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_New_Reviewer_Internal</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_the_Owner_Operations_Queue</name>
        <label>Is the Owner Operations Queue</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not Operations Queue</defaultConnectorLabel>
        <rules>
            <name>Operations_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operations Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_Case_New_Creator_Internal</targetReference>
            </connector>
            <label>Operations Queue</label>
        </rules>
    </decisions>
    <description>If a new case is created with Operations Queue as an owner, the flow will send out email alerts</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Case - Send New Creator and Reviewer Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Case - Send New Creator and Reviewer Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_Owner_Operations_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00G</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
