temp_retrieve/flows/Scheduled_Flow_Opportunity_GT_Nurture_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GT_In_Person_Waiting_for_Results_Nurture_1</name>
        <label>GT In Person: Waiting for Results Nurture 1</label>
        <locationX>314</locationX>
        <locationY>756</locationY>
        <actionName>Opportunity.GT_In_Person_Waiting_for_Results_Nurture_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.GT_In_Person_Waiting_for_Results_Nurture_1</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GT_In_Person_Waiting_for_Results_Nurture_2</name>
        <label>GT In Person: Waiting for Results Nurture 2</label>
        <locationX>578</locationX>
        <locationY>636</locationY>
        <actionName>Opportunity.GT_In_Person_Waiting_for_Results_Nurture_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.GT_In_Person_Waiting_for_Results_Nurture_2</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GT_In_Person_Waiting_for_Results_Nurture_3</name>
        <label>GT In Person: Waiting for Results Nurture 3</label>
        <locationX>842</locationX>
        <locationY>636</locationY>
        <actionName>Opportunity.GT_In_Person_Waiting_for_Results_Nurture_3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.GT_In_Person_Waiting_for_Results_Nurture_3</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GT_In_Person_Waiting_for_Results_Nurture_4</name>
        <label>GT In Person: Waiting for Results Nurture 4</label>
        <locationX>1106</locationX>
        <locationY>636</locationY>
        <actionName>Opportunity.GT_In_Person_Waiting_for_Results_Nurture_4</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.GT_In_Person_Waiting_for_Results_Nurture_4</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GT_In_Person_Waiting_for_Results_Nurture_5</name>
        <label>GT In Person: Waiting for Results Nurture 5</label>
        <locationX>1370</locationX>
        <locationY>636</locationY>
        <actionName>Opportunity.GT_In_Person_Waiting_for_Results_Nurture_5</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.GT_In_Person_Waiting_for_Results_Nurture_5</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GT_Virtual_Waiting_for_Results_Nurture_1</name>
        <label>GT Virtual: Waiting for Results Nurture 1</label>
        <locationX>1898</locationX>
        <locationY>636</locationY>
        <actionName>Opportunity.GT_Virtual_Waiting_for_Results_Nurture_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.GT_Virtual_Waiting_for_Results_Nurture_1</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GT_Virtual_Waiting_for_Results_Nurture_2</name>
        <label>GT Virtual: Waiting for Results Nurture 2</label>
        <locationX>2162</locationX>
        <locationY>636</locationY>
        <actionName>Opportunity.GT_Virtual_Waiting_for_Results_Nurture_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.GT_Virtual_Waiting_for_Results_Nurture_2</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GT_Virtual_Waiting_for_Results_Nurture_3</name>
        <label>GT Virtual: Waiting for Results Nurture 3</label>
        <locationX>2426</locationX>
        <locationY>636</locationY>
        <actionName>Opportunity.GT_Virtual_Waiting_for_Results_Nurture_3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.GT_Virtual_Waiting_for_Results_Nurture_3</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GT_Virtual_Waiting_for_Results_Nurture_4</name>
        <label>GT Virtual: Waiting for Results Nurture 4</label>
        <locationX>2690</locationX>
        <locationY>636</locationY>
        <actionName>Opportunity.GT_Virtual_Waiting_for_Results_Nurture_4</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.GT_Virtual_Waiting_for_Results_Nurture_4</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GT_Virtual_Waiting_for_Results_Nurture_5</name>
        <label>GT Virtual: Waiting for Results Nurture 5</label>
        <locationX>2954</locationX>
        <locationY>636</locationY>
        <actionName>Opportunity.GT_Virtual_Waiting_for_Results_Nurture_5</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.GT_Virtual_Waiting_for_Results_Nurture_5</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Last_Nurture_Email_Sent_to_Close_Date</name>
        <label>Set Last Nurture Email Sent to Close Date</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Nurture_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Number_of_Nurture_Emails_Sent_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Nurture_Emails_to_0</name>
        <label>Set Number of Nurture Emails to 0</label>
        <locationX>1601</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Nurture_Emails_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Oppty_Record</name>
        <label>Update Oppty Record</label>
        <locationX>1733</locationX>
        <locationY>1620</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Nurture_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Nurture_Emails_Sent__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the nurture email has been sent within the last seven days we do no need to send another email. If the nurture email hasn&apos;t been sent within the last seven days we will send an email to the patient.</description>
        <name>Has_Nuture_Email_Been_Sent_in_the_last_7_Days</name>
        <label>Has Nuture Email Been Sent in the last 7 Days</label>
        <locationX>759</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_This_In_Person_or_Virtual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Has Not Been Sent Within the last seven days</defaultConnectorLabel>
        <rules>
            <name>Email_Sent_Within_the_Last_7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formNum_EmailSentInLastSevenDays</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <label>Email Sent Within the Last 7 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Number_of_Days_Null</name>
        <label>Is Number of Days Null</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>GT_In_Person_Waiting_for_Results_Nurture_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Number_of_Days_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Nurture_Email_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Nurture_Email_Sent_to_Close_Date</targetReference>
            </connector>
            <label>Number of Days Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Number_of_Nurture_Emails_Sent_Null</name>
        <label>Is Number of Nurture Emails Sent Null</label>
        <locationX>1733</locationX>
        <locationY>1164</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Number_of_Nurture_Emails_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Number_of_Nurture_Emails_to_0</targetReference>
            </connector>
            <label>Number of Nurture Emails is Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on the Required Shipping field we will determine if the opportunity is In-Person or Virtual as there are two different emails sent.</description>
        <name>Is_This_In_Person_or_Virtual</name>
        <label>Is This In Person or Virtual</label>
        <locationX>1733</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Which_Nurture_Email_Virtual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Virtual</defaultConnectorLabel>
        <rules>
            <name>In_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requires_Shipping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Nurture_Email_In_Person</targetReference>
            </connector>
            <label>In Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Nurture_Email_In_Person</name>
        <label>Which Nurture Email - In-Person</label>
        <locationX>908</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Don&apos;t Send Email</defaultConnectorLabel>
        <rules>
            <name>Nurture_1_In_Person</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Number_of_Days_Null</targetReference>
            </connector>
            <label>Nurture 1 - In-Person</label>
        </rules>
        <rules>
            <name>Nurture_2_In_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GT_In_Person_Waiting_for_Results_Nurture_2</targetReference>
            </connector>
            <label>Nurture 2 - In-Person</label>
        </rules>
        <rules>
            <name>Nurture_3_In_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GT_In_Person_Waiting_for_Results_Nurture_3</targetReference>
            </connector>
            <label>Nurture 3 - In-Person</label>
        </rules>
        <rules>
            <name>Nurture_4_In_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GT_In_Person_Waiting_for_Results_Nurture_4</targetReference>
            </connector>
            <label>Nurture 4 - In-Person</label>
        </rules>
        <rules>
            <name>Nurture_5_In_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GT_In_Person_Waiting_for_Results_Nurture_5</targetReference>
            </connector>
            <label>Nurture 5 - In-Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Nurture_Email_Virtual</name>
        <label>Which Nurture Email - Virtual</label>
        <locationX>2558</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Don&apos;t Send Email</defaultConnectorLabel>
        <rules>
            <name>Nurture_1_Virtual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GT_Virtual_Waiting_for_Results_Nurture_1</targetReference>
            </connector>
            <label>Nurture 1 - Virtual</label>
        </rules>
        <rules>
            <name>Nurture_2_Virtual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GT_Virtual_Waiting_for_Results_Nurture_2</targetReference>
            </connector>
            <label>Nurture 2 - Virtual</label>
        </rules>
        <rules>
            <name>Nurture_3_Virtual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GT_Virtual_Waiting_for_Results_Nurture_3</targetReference>
            </connector>
            <label>Nurture 3 - Virtual</label>
        </rules>
        <rules>
            <name>Nurture_4_Virtual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GT_Virtual_Waiting_for_Results_Nurture_4</targetReference>
            </connector>
            <label>Nurture 4 - Virtual</label>
        </rules>
        <rules>
            <name>Nurture_5_Virtual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Nurture_Emails_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GT_Virtual_Waiting_for_Results_Nurture_5</targetReference>
            </connector>
            <label>Nurture 5 - Virtual</label>
        </rules>
    </decisions>
    <description>This scheduled flow will run every day at 9AM EST and will send out nurture emails to GT Oppty if the Stage is in Kit Needs Sent or Pending Results. There will be two different emails depending on of they are in person ( Not Required Shipping ) or virtual ( Requires Shipping ).</description>
    <environments>Default</environments>
    <formulas>
        <name>formNum_EmailSentInLastSevenDays</name>
        <dataType>Number</dataType>
        <expression>IF ( ISNULL({!$Record.Last_Nurture_Email_Sent__c}), 7,TODAY() - DATEVALUE({!$Record.Last_Nurture_Email_Sent__c}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Scheduled Flow - Opportunity - GT Nurture Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow - Opportunity - GT Nurture Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1733</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Update_Oppty_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>txtTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>txtTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1733</locationX>
        <locationY>1740</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>633</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Nuture_Email_Been_Sent_in_the_last_7_Days</targetReference>
        </connector>
        <filterLogic>( 1 OR 2 ) AND 3 AND ( 4 OR 5 )</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kit Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Results</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2023-02-13T04:59:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Nurture_Emails_Sent__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Nurture_Emails_Sent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-22</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>txtTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Last Email Sent: {!$Record.Last_Nurture_Email_Sent__c}
Email Cadence Number: {!$Record.Number_of_Nurture_Emails_Sent__c}</text>
    </textTemplates>
    <textTemplates>
        <name>txtTaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Email Sent to: {!$Record.Opportunity_Patient_Full_Name__c} | {!$Record.Patient_Email__c} | Opportunity: {!$Record.Id}</text>
    </textTemplates>
    <variables>
        <name>txtContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOrgWideEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSenderDisplayName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
