instance1/temp-retrieve/flows/Autolaunch_Opportunity_Approved_Confirmation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Email_Template_GH</name>
        <label>Set Email Template - GH</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>txt_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Order_Confirmation_GH.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Email_Template_GT</name>
        <label>Set Email Template - GT</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>txt_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Order_Confirmation_GT.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Email_Template_GT_In_Person</name>
        <label>Set Email Template - GT In Person</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>txt_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Pending_Results_In_Person.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Email_Template_PGT</name>
        <label>Set Email Template - PGT</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>txt_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Order_Confirmation_PGT.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Email_Template_Precision_Book</name>
        <label>Set Email Template - Precision Book</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>txt_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Order_Confirmation_Precision_Book.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Email_Template_Precision_Supplement</name>
        <label>Set Email Template - Precision Supplement</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>txt_EmailTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Medication.txt_EmailTemplate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Required_Shipping_Approved</name>
        <label>Is Required Shipping - Approved</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template_Order_Confirmation_GT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Shipping</defaultConnectorLabel>
        <rules>
            <name>In_Person_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_IsThisInPerson_RequiresShipping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Pending_Results_In_Person</targetReference>
            </connector>
            <label>In-Person | Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on what was bought will determine what email we need to send out.</description>
        <name>What_Service_Was_Purchased</name>
        <label>What Service Was Purchased</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Product Not Defined</defaultConnectorLabel>
        <rules>
            <name>Precision_Genetic_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_ServiceProvided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Genetic Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bool_IsThisInPerson_RequiresShipping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Order_Confirmation_PGT</targetReference>
            </connector>
            <label>Precision Genetic Test</label>
        </rules>
        <rules>
            <name>Gut_Health</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_ServiceProvided</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gut Health</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Order_Confirmation_GH</targetReference>
            </connector>
            <label>Gut Health</label>
        </rules>
        <rules>
            <name>Genetic_Testing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_ServiceProvided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genetic Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Required_Shipping_Approved</targetReference>
            </connector>
            <label>Genetic Testing</label>
        </rules>
        <rules>
            <name>Precision_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_ServiceProvided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Book</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Order_Confirmation_Precision_Book</targetReference>
            </connector>
            <label>Precision Book</label>
        </rules>
        <rules>
            <name>Precision_Supplement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txt_ServiceProvided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Supplements</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Medication</targetReference>
            </connector>
            <label>Precision Supplement</label>
        </rules>
    </decisions>
    <description>This flow will handle when an Opportunity is Approved to get the correct email template for the confirmation emails that will need to be sent to the patient</description>
    <environments>Default</environments>
    <interviewLabel>Autolaunch - Opportunity Approved Confirmation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Opportunity Approved Confirmation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template_Order_Confirmation_GH</name>
        <label>Get Email Template - Order Confirmation - GH</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Template_GH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X10X_Gut_Health_Test_Order_Confirmed_1710944618645</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Order_Confirmation_GT</name>
        <label>Get Email Template - Order Confirmation - GT</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Template_GT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X10X_GT_Congrats_Visual_1707259969764</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Order_Confirmation_PGT</name>
        <label>Get Email Template - Order Confirmation - PGT</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Template_PGT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X10X_PGT_Congrats_Visual_2025_1757429031403</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Order_Confirmation_Precision_Book</name>
        <label>Get Email Template - Order Confirmation - Precision Book</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Template_Precision_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X10X_PGT_Printed_Report_Post_Purchase_1730384828414</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Pending_Results_In_Person</name>
        <label>Get Email Template - Pending Results - In Person</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Email_Template_GT_In_Person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X10X_GT_Congrats_In_Person_NEW_1709305578624</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Service_Was_Purchased</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Email_Template_Medication</name>
        <label>Get Email Template Medication</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Set_Email_Template_Precision_Supplement</targetReference>
        </connector>
        <flowName>Autolaunch_Opportunity_Approved_Confirmation_Email_Medication</flowName>
        <inputAssignments>
            <name>bool_isSubscription</name>
            <value>
                <elementReference>bool_IsSubscription</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>bool_IsSubscription</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_IsThisInPerson_RequiresShipping</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>txt_EmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txt_ServiceProvided</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
