instance1/temp-retrieve/flows/Autolaunch_Patient_Agreement_Received.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>No_Queue_Found_Post_To_Chatter</name>
        <label>No Queue Found - Post To Chatter</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>What_is_the_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>No Queue Patient Document was found. No task was created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>rec_PatientAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Patient_Agreement_Status</name>
        <label>Set Patient Agreement Status</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>rec_PatientAgreement.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Expiration_Date_to_the_Date_Signed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patient_Agreement_Status_Approved</name>
        <label>Set Patient Agreement Status - Approved</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>rec_PatientAgreement.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Expiration_Date_to_the_Date_Signed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patient_Agreement_Status_Review</name>
        <label>Set Patient Agreement Status - Review</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>rec_PatientAgreement.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Expiration_Date_to_the_Date_Signed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Values</name>
        <label>Set Task Values</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rec_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Patient_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_PatientAgreement.Patient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_PatientAgreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_TaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please review the patient agreement and either approve or reject the Patient Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_TaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Document Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_PatientAgreement.Patient__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_For_Patient_Document_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We are setting the expiration date when we create the patient agreement, but we want to update it to reflect when they signed the agreement.</description>
        <name>Update_Expiration_Date_to_the_Date_Signed</name>
        <label>Update Expiration Date to the Date Signed</label>
        <locationX>512</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>rec_PatientAgreement.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Agreement_Received</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_Queue</name>
        <label>Did We Find Queue</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Queue_Found_Post_To_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue Not Found</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue_Patient_Documents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Values</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the document is configured auto approved then we need to not set to received but to approved</description>
        <name>Is_Document_Auto_Approval</name>
        <label>Is Document Auto Approval</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Patient_Agreement_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_PatientAgreement.Patient_Agreement_Configuration__r.Auto_Approved_Upon_Receive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Patient_Agreement_Status_Approved</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Status</name>
        <label>What is the Status</label>
        <locationX>512</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Status_is_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_PatientAgreement.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Document_Auto_Approval</targetReference>
            </connector>
            <label>Status is Sent</label>
        </rules>
        <rules>
            <name>Status_is_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_PatientAgreement.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Patient_Agreement_Status_Review</targetReference>
            </connector>
            <label>Status is Received</label>
        </rules>
    </decisions>
    <description>This will take a patient agreement that has been received and will set the appropriate status and create task for the team to look over the document and approve or reject if needed.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},{!rec_PatientAgreement.Patient_Agreement_Configuration__r.Number_of_Months_for_Recurrence__c})</expression>
    </formulas>
    <formulas>
        <name>form_TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+5</expression>
    </formulas>
    <formulas>
        <name>form_TaskSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Patient &apos; + TEXT({!rec_PatientAgreement.Agreement_Type__c}) + &apos;Received: &apos; + {!rec_PatientAgreement.Name}</expression>
    </formulas>
    <interviewLabel>Autolaunch - Patient Agreement Received {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Patient Agreement Received</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_For_Patient_Document_Queue</name>
        <label>Create Task For Patient Document Queue</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>What_is_the_Status</targetReference>
        </connector>
        <inputReference>rec_Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue_Patient_Documents</name>
        <label>Get Queue - Patient Documents</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient_Documents</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient_Agreement_Received</name>
        <label>Update Patient Agreement - Received</label>
        <locationX>512</locationX>
        <locationY>1250</locationY>
        <inputReference>rec_PatientAgreement</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue_Patient_Documents</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_PatientAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Agreement__c</objectType>
    </variables>
    <variables>
        <name>rec_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
