instance1/temp-retrieve/flows/Chargent_Orders_On_Create_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Decrypt_Credit_Card_1</name>
        <label>Decrypt Credit Card 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>mc_getCreditCardNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditCardId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_getCreditCardNumber</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Decrypt_Credit_Card_2</name>
        <label>Decrypt Credit Card 2</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>mc_getCreditCardNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_4_A1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditCardId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_getCreditCardNumber</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Create Chargent Order Credit Card Full Payment</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Create Chargent Order Credit Card Full Payment</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrypt_Credit_Card_1</targetReference>
            </connector>
            <label>TRUE_Create Chargent Order Credit Card Full Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10</name>
        <label>All Other Payments Partial</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>FALSE_All Other Payments Partial</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_10</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Money Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wire Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prepaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Card Swipe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>TRUE_All Other Payments Partial</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>Create Chargent Order Credit Card Partial Payment</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Create Chargent Order Credit Card Partial Payment</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrypt_Credit_Card_2</targetReference>
            </connector>
            <label>TRUE_Create Chargent Order Credit Card Partial Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>All Other Payments Full</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>myRule_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_All Other Payments Full</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Money Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wire Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prepaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Card Swipe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Payment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_All Other Payments Full</label>
        </rules>
    </decisions>
    <description>Migrated from the Chargent Orders - On Create process using multiple criteria.
Process that updates Chargent Orders w/Opp Data AND creates Transaction records</description>
    <environments>Default</environments>
    <formulas>
        <name>form_RoundedBalanceDue</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!$Record.Opportunity__r.Opportunity_Balance_Due__c},2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>form_RoundedPartialAmount</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!$Record.Opportunity__r.Partial_Amount__c},2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_1_myRule_1_A1_5827844026</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_4_A1_3773517298</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_7_A1_6028135430</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_10_A1_5637460611</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Chargent Orders - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chargent Orders - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_10_A1</name>
        <label>Copy From Opportunity</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>ChargentOrders__Account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Date__c</field>
            <value>
                <elementReference>formula_4_myRule_10_A1_5637460611</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Invoice_Number__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Invoice_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Transaction_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Received__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>form_RoundedPartialAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Payment_Amount__c</field>
            <value>
                <elementReference>form_RoundedPartialAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Copy Info From Opportunity</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>myRule_4</targetReference>
        </connector>
        <inputAssignments>
            <field>ChargentOrders__Account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Billing_Address__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Street_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Billing_City__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Billing_First_Name__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Billing_State__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Billing_Zip_Postal__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Card_Expiration_Month__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Expiration_Month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Card_Expiration_Year__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Expiration_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Card_Number__c</field>
            <value>
                <elementReference>Decrypt_Credit_Card_1.returnValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Card_Type__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Credit_Card_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Charge_Amount__c</field>
            <value>
                <elementReference>form_RoundedBalanceDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Date__c</field>
            <value>
                <elementReference>formula_1_myRule_1_A1_5827844026</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Gateway__c</field>
            <value>
                <stringValue>a0h5a00000WF93qAAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Invoice_Number__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Invoice_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Transaction_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Received__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>form_RoundedBalanceDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_4_A1</name>
        <label>Copy Info From Opportunity</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>myRule_7</targetReference>
        </connector>
        <inputAssignments>
            <field>ChargentOrders__Account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Billing_Address__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Street_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Billing_City__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Billing_First_Name__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Billing_State__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Billing_Zip_Postal__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Card_Expiration_Month__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Expiration_Month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Card_Expiration_Year__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Expiration_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Card_Number__c</field>
            <value>
                <elementReference>Decrypt_Credit_Card_2.returnValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Card_Type__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Credit_Card__r.Credit_Card_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Charge_Amount__c</field>
            <value>
                <elementReference>form_RoundedPartialAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Date__c</field>
            <value>
                <elementReference>formula_2_myRule_4_A1_3773517298</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Gateway__c</field>
            <value>
                <stringValue>a0h5a00000WF93qAAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Invoice_Number__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Invoice_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Transaction_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Received__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>form_RoundedPartialAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A1</name>
        <label>Copy From Opportunity</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>myRule_10</targetReference>
        </connector>
        <inputAssignments>
            <field>ChargentOrders__Account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Date__c</field>
            <value>
                <elementReference>formula_3_myRule_7_A1_6028135430</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Invoice_Number__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Invoice_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Payment_Method__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Transaction_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargentOrders__Subtotal__c</field>
            <value>
                <elementReference>form_RoundedBalanceDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Payment_Amount__c</field>
            <value>
                <elementReference>form_RoundedBalanceDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>ChargentOrders__ChargentOrder__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
