instance1/temp-retrieve/flows/Knowledge_Update_URL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>fx_Link_To_Knowledge_Article</name>
        <dataType>String</dataType>
        <expression>{!Get_Domain.datamask__Id__c}&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>fx_LinkToArticle</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!Get_Domain.datamask__Id__c}&amp;{!$Record.Id},{!$Record.Title})</expression>
    </formulas>
    <interviewLabel>Knowledge | Update URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Knowledge - Update URL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Domain</name>
        <label>Get Domain</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FAQ_Portal_URL</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>datamask__API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domain</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>datamask__Object_Metadata__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>datamask__Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FAQ_Portal_URL</name>
        <label>Get FAQ Portal URL</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_URL</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>datamask__API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FAQ_Portal_Domain</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>datamask__Object_Metadata__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>datamask__Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_URL</name>
        <label>Update URL</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ArticleURL__c</field>
            <value>
                <elementReference>$Record.Article_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Article_URL__c</field>
            <value>
                <elementReference>fx_Link_To_Knowledge_Article</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Answer__c</field>
            <value>
                <elementReference>text_PortalAnswer</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Domain</targetReference>
        </connector>
        <object>Knowledge__kav</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_PortalAnswer</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Summary}

{!$Record.Article_URL__c}</text>
    </textTemplates>
    <variables>
        <name>SFDomain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
