instance1/temp-retrieve/flows/Record_Trigger_Order_Products_Set_NDC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_NDC_Price_Book_Entry</name>
        <label>Set NDC - Price Book Entry</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.NDC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PricebookEntry.NDC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Protocol_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PricebookEntry.Protocol_Code__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_NDC_Product</name>
        <label>Set NDC - Product</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.NDC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.NDC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Protocol_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Protocol_Code__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>If the Price Book Entry has an NDC this is used. Else the Product NDC is used.</description>
        <name>Does_Price_Book_Entry_Have_NDC</name>
        <label>Does Price Book Entry Have NDC</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_NDC_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Price Book Entry doesn&apos;t have NDC</defaultConnectorLabel>
        <rules>
            <name>Price_Book_Entry_has_NDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PricebookEntry.NDC__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NDC_Price_Book_Entry</targetReference>
            </connector>
            <label>Price Book Entry has NDC</label>
        </rules>
    </decisions>
    <description>This will set the NDC and Protocol Code on the line item to be used in the pharmacy order</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Order Products - Set NDC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Order Products - Set NDC/Protocol Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Price_Book_Entry_Have_NDC</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
