instance1/temp-retrieve/flows/Record_Trigger_Opportunity_Send_Receipt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Receipt</name>
        <label>Generate Receipt</label>
        <locationX>1271</locationX>
        <locationY>1079</locationY>
        <actionName>Loop__RunDocGenAsync</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Receipt_TimeStamp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Couldn_t_Generate_Receipt</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ddpId</name>
            <value>
                <elementReference>Get_Nintex_Package.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deliveryOptionId</name>
            <value>
                <elementReference>Get_Delivery_Option.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Loop__RunDocGenAsync</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Receipt_for_FRP</name>
        <label>Generate Receipt for FRP</label>
        <locationX>578</locationX>
        <locationY>2051</locationY>
        <actionName>Loop__RunDocGenAsync</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_FRP_Time_Stamp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Couldn_t_Generate_Receipt_FRP</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Financial_Responsible_Party__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ddpId</name>
            <value>
                <elementReference>Get_FRP_Nintex_Package.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deliveryOptionId</name>
            <value>
                <elementReference>Get_FRP_Delivery_Option.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Loop__RunDocGenAsync</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Email_Bounced</name>
        <label>Log - Account Email Bounced</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Message_Email_Bounced</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <stringValue>Account&apos;s Email is bounced. So the Receipts are not generated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error While Generating Receipt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Couldn_t_Generate_Receipt</name>
        <label>Log - Error - Couldn&apos;t Generate Receipt</label>
        <locationX>2074</locationX>
        <locationY>1187</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while generating the receipt for the patient</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Couldn_t_Generate_Receipt_FRP</name>
        <label>Log - Error - Couldn&apos;t Generate Receipt - FRP</label>
        <locationX>842</locationX>
        <locationY>2159</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while generating the receipt for the FRP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_FRP_Account_Email_Bounced</name>
        <label>Log - FRP Account Email Bounced</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <stringValue>Financially Responsible Person&apos;s Email is bounced. So the FRP Receipts are not generated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error While Generating Receipt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_FRP_Receipts_Package_not_found</name>
        <label>Log - FRP Receipts Package not found</label>
        <locationX>1370</locationX>
        <locationY>1835</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Message_No_Nintex_Package</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <stringValue>FRP Receipts Nintex package is not found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error While Generating FRP Receipt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Get_Delivery_Option_Fault</name>
        <label>Log - Get Delivery Option Fault</label>
        <locationX>2338</locationX>
        <locationY>971</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while Fetching the Receipts Delivery Option</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Get_Delivery_Option_Success</name>
        <label>Log - Get Delivery Option Success</label>
        <locationX>1271</locationX>
        <locationY>971</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Receipt</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Loop__DDP_Integration_Option__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Delivery Option for Receipts package is fetched successfully </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Delivery_Option</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Get_FRP_Delivery_Option_Fault</name>
        <label>Log - Get FRP Delivery Option Fault</label>
        <locationX>1106</locationX>
        <locationY>1943</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while Fetching the FRP Receipts Delivery Option</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Get_FRP_Delivery_Option_Success</name>
        <label>Log - Get FRP Delivery Option Success</label>
        <locationX>578</locationX>
        <locationY>1943</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Receipt_for_FRP</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Loop__DDP_Integration_Option__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Delivery Option for FRP Receipts package is fetched successfully </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_FRP_Delivery_Option</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Get_FRP_Nintex_Package_Fault</name>
        <label>Log - Get FRP Nintex Package Fault</label>
        <locationX>1634</locationX>
        <locationY>1619</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while Fetching the FRP Receipts Package</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Get_FRP_Nintex_Package_Success</name>
        <label>Log - Get FRP Nintex Package Success</label>
        <locationX>974</locationX>
        <locationY>1619</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_FRP_Package_Found</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Loop__DDP__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>FRP Receipts Package is fetched successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_FRP_Nintex_Package</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Get_Nintex_Package_Fault</name>
        <label>Log - Get Nintex Package Fault</label>
        <locationX>2866</locationX>
        <locationY>647</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while Fetching the Receipts Package</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Get_Nintex_Package_Success</name>
        <label>Log - Get Nintex Package Success</label>
        <locationX>1936</locationX>
        <locationY>647</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Package_Found</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Loop__DDP__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Receipts Package is fetched successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Nintex_Package</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Initialized</name>
        <label>Log - Initialized</label>
        <locationX>993</locationX>
        <locationY>323</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Email_Bounced</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Trigger - Opportunity - Send Receipt initialized process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Receipts_Package_not_found</name>
        <label>Log - Receipts Package not found</label>
        <locationX>2602</locationX>
        <locationY>863</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Nintex_Gen_Package_Not_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <stringValue>Receipts Nintex package is not found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error While Generating Receipt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_FRP_Time_Stamp</name>
        <label>Assign FRP Time Stamp</label>
        <locationX>578</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>$Record.FRP_Receipt_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timestamp_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt_TimeStamp</name>
        <label>Assign Receipt TimeStamp</label>
        <locationX>1271</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Receipt_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_FRP_same_as_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Record Trigger - Opportunity - Send Receipt</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>Error_Message_Email_Bounced</name>
        <label>Error Message - Email Bounced</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>The customer&apos;s email address {!$Record.Account.PersonEmail} is Bounced, please verify and make sure the customer&apos;s email has a correct email address on their Account record.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Message_No_Nintex_Package</name>
        <label>Error Message - No Nintex Package</label>
        <locationX>1370</locationX>
        <locationY>1943</locationY>
        <customErrorMessages>
            <errorMessage>Unable to find Nintex Package named &quot;FRP Receipts&quot; please contact your System Administrator.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Nintex_Gen_Package_Not_Found</name>
        <label>Nintex Gen Package Not Found</label>
        <locationX>2602</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>Unable to find Nintex Package, please contact System Administrator.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_Email_Bounced</name>
        <label>Is Email Bounced</label>
        <locationX>993</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Nintex_Package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Email Not Bounced</defaultConnectorLabel>
        <rules>
            <name>Account_Email_Bounced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmailBouncedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Account_Email_Bounced</targetReference>
            </connector>
            <label>Account Email Bounced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FRP_Email_Bounced</name>
        <label>Is FRP Email Bounced</label>
        <locationX>644</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Get_FRP_Nintex_Package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FRP Email Not Bounced</defaultConnectorLabel>
        <rules>
            <name>FRP_Email_Bounced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financial_Responsible_Party__r.PersonEmailBouncedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_FRP_Account_Email_Bounced</targetReference>
            </connector>
            <label>FRP Email Bounced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FRP_Package_Found</name>
        <label>Is FRP Package Found</label>
        <locationX>974</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Log_FRP_Receipts_Package_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FRP Package Not Found</defaultConnectorLabel>
        <rules>
            <name>FRP_Package_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FRP_Nintex_Package.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FRP_Delivery_Option</targetReference>
            </connector>
            <label>FRP Package Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FRP_same_as_Account</name>
        <label>Is FRP same as Account</label>
        <locationX>1271</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Update_Timestamp_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FRP Same as Account or empty</defaultConnectorLabel>
        <rules>
            <name>FRP_Not_Same_as_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Financial_Responsible_Party__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financial_Responsible_Party__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FRP_Receipt_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_FRP_Email_Bounced</targetReference>
            </connector>
            <label>FRP Not Same as Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Package_Found</name>
        <label>Is Package Found</label>
        <locationX>1936</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Log_Receipts_Package_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found Package</defaultConnectorLabel>
        <rules>
            <name>Found_Package</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Nintex_Package.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Delivery_Option</targetReference>
            </connector>
            <label>Found Package</label>
        </rules>
    </decisions>
    <description>This flow will run whenever there an Opportunity is approved. This will also send once based on a date field we fill in whenever this runs. This will ensure that only one receipt is sent to the end customer.</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Opportunity - Send Receipt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Opportunity - Send Receipt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Delivery_Option</name>
        <label>Get Delivery Option</label>
        <locationX>1271</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Get_Delivery_Option_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Get_Delivery_Option_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Receipt to the Patient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loop__DDP_Integration_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FRP_Delivery_Option</name>
        <label>Get FRP Delivery Option</label>
        <locationX>578</locationX>
        <locationY>1835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Get_FRP_Delivery_Option_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Get_FRP_Delivery_Option_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Receipt to the FRP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loop__DDP_Integration_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FRP_Nintex_Package</name>
        <label>Get FRP Nintex Package</label>
        <locationX>974</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Get_FRP_Nintex_Package_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Get_FRP_Nintex_Package_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Receipt for FRP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loop__DDP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nintex_Package</name>
        <label>Get Nintex Package</label>
        <locationX>1936</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Get_Nintex_Package_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Get_Nintex_Package_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Receipt for Patient</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loop__DDP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Timestamp_Fields</name>
        <label>Update Timestamp Fields</label>
        <locationX>1271</locationX>
        <locationY>2651</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>867</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Initialized</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 5 AND (2 OR 4)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>FRP_Receipt_Sent_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Receipt_Sent_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Transaction_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Direct Sale</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
