instance1/temp-retrieve/flows/Record_Trigger_Account_Set_Shipping_TimeZone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Shipping_Time_Zone</name>
        <label>Set Shipping Time Zone</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <actionName>mc_GetTimeZone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_GET_was_Successful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>googleApiKey</name>
            <value>
                <elementReference>$Label.Google_Maps_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>latitude</name>
            <value>
                <elementReference>$Record.ShippingLatitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>longitude</name>
            <value>
                <elementReference>$Record.ShippingLongitude</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_GetTimeZone</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Was_GET_was_Successful</name>
        <label>Was GET was Successful</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>X200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Shipping_Time_Zone.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>200</label>
        </rules>
    </decisions>
    <description>Shipping longitude and latitude can&apos;t be null</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Account - Set Shipping TimeZone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Account - Set Shipping TimeZone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Shipping_TimeZone__c</field>
            <value>
                <elementReference>Set_Shipping_Time_Zone.timeZoneName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2 OR ( 3 AND 6 )) AND 4 AND 5</filterLogic>
        <filters>
            <field>ShippingLongitude</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingLatitude</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipping_TimeZone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingLongitude</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingLatitude</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipping_TimeZone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Set_Shipping_Time_Zone</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>800</triggerOrder>
</Flow>
