instance1/temp-retrieve/flows/Record_Trigger_Lab_Order_Set_Scheduled_Date_to_Be_Submitted_to_Lab.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check if the flow is running as test. If yes, assign 5 min delay</description>
        <name>Run_in_test</name>
        <label>Run in test</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Date_to_be_Submitted_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT a test</defaultConnectorLabel>
        <rules>
            <name>Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_IsTest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_to_be_Submitted_field_test</targetReference>
            </connector>
            <label>Test</label>
        </rules>
    </decisions>
    <description>Sets Scheduled Date to Be Submitted to Lab for PGT Supplements and PGT Genetic tests. This is then used as a 2 day delay when submitting the API call towards the lab</description>
    <environments>Default</environments>
    <formulas>
        <name>bool_IsTest</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.AutomationControlSettings__c.Scheduled_Labs_Run_In_Test__c}</expression>
    </formulas>
    <formulas>
        <name>date_Add5Minutes</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (5 / 1440)</expression>
    </formulas>
    <formulas>
        <description>Adds number of days specified in Days to delay field of Automation Control Settings Custom Settings</description>
        <name>date_AddDelayDays</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!$Setup.AutomationControlSettings__c.Days_to_delay__c}</expression>
    </formulas>
    <formulas>
        <description>Check if the new date after adding the delay is a business day. If not it adds necessary number of days to get the next business day</description>
        <name>date_VerifiedDelayDate</name>
        <dataType>DateTime</dataType>
        <expression>CASE( MOD( DATEVALUE({!date_AddDelayDays}) - DATE( 1900, 1, 7 ), 7 ),
  0, {!date_AddDelayDays} + 1, /* Sun: $Flow.CurrentDateTime + 1 wknd day + 2 days */
  6, {!date_AddDelayDays} + 2,  /* Sat: $Flow.CurrentDateTime + 2 wknd days + 2 days */
  {!date_AddDelayDays}  /* Default (Mon/Tue/Wed): $Flow.CurrentDateTime + 2 days */
)</expression>
    </formulas>
    <interviewLabel>Record T {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Lab Order - Set Scheduled Date to Be Submitted to Lab</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the Scheduled Date to Be Submitted to Lab field with the delayed date while making sure it returns a business day. To adjust the number of days to delay, change the value in the num_DaysToDelay constant</description>
        <name>Update_Date_to_be_Submitted_field</name>
        <label>Update Date to be Submitted field</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Scheduled_Date_to_Be_Submitted_to_Lab__c</field>
            <value>
                <elementReference>date_VerifiedDelayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Scheduled Date to Be Submitted to Lab field with a 5 min delay</description>
        <name>Update_Date_to_be_Submitted_field_test</name>
        <label>Update Date to be Submitted field test</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Scheduled_Date_to_Be_Submitted_to_Lab__c</field>
            <value>
                <elementReference>date_Add5Minutes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_in_test</targetReference>
        </connector>
        <filterFormula>OR(
    AND(
        ISNEW(),
        TEXT({!$Record.Services_Rendered__c}) = &apos;Precision Supplements&apos;
    ),
    AND(
        ISCHANGED({!$Record.Is_Kit_Registered__c}),
        {!$Record.Is_Kit_Registered__c} = TRUE,
        TEXT({!$Record.Services_Rendered__c}) = &apos;Precision Genetic Test&apos;
    )
)</filterFormula>
        <object>Lab_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
