instance1/temp-retrieve/flows/Screenflow_Patient_Agreement_Configuration_Version_Create_New_PACV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Updated_PAC</name>
        <label>Log Updated PAC</label>
        <locationX>1700</locationX>
        <locationY>2864</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Patient_Agreement_Configuration__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>PAC updated with new PACV and Link</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_PACRelated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Updated_PACV</name>
        <label>Log Updated PACV</label>
        <locationX>1876</locationX>
        <locationY>2198</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_today_effective_date_for_new_PACV</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Patient_Agreement_Configuration_Version__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Updated Replacement Version and Retirement Date</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_OldPACV</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_new_PACV_values</name>
        <label>Assign new PACV values</label>
        <locationX>1700</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>rec_NewPACV.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_NewPACV.Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Version_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_NewPACV.CDN_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CDN_Link_Input.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_NewPACV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_NewPACVName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PACV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PAC_to_variable</name>
        <label>Assign PAC to variable</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rec_PACRelated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PAC_that_uses_this_PACV.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_PACName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PAC_that_uses_this_PACV.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_previous_version</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PACV_and_Link_to_PAC</name>
        <label>Assign PACV and Link to PAC</label>
        <locationX>1700</locationX>
        <locationY>2648</locationY>
        <assignmentItems>
            <assignToReference>rec_PACRelated.Patient_Agreement_Configuration_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_NewPACV.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_PACRelated.Agreement_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CDN_Link_Input.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PAC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_PAC_to_variable</name>
        <label>Assign Selected PAC to variable</label>
        <locationX>1524</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>rec_PACRelated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Patient_Agreement_Configuration_that_will_use_this_version.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PACV_and_Link_to_PAC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_As_Previous_Version</name>
        <label>Set As Previous Version</label>
        <locationX>1150</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rec_OldPACV</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PACV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PAC_that_uses_this_PACV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_PACV_variable</name>
        <label>Set Previous PACV variable</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rec_OldPACV</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Old_PACV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_previous_version</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Replacement_version_and_date</name>
        <label>Set Replacement version and date</label>
        <locationX>1876</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>rec_OldPACV.Replacement_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_NewPACV.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_OldPACV.Retirement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_NewPACV.Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Replaced_PACV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_PAC_in_variable</name>
        <label>Store PAC in variable</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rec_PACRelated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PAC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_PACName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PAC.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_PAC_already_has_PACV_assigned</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Screenflow_Patient_Agreement_Configuration_Version_Create_New_PACV</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_PAC_already_has_PACV_assigned</name>
        <label>Check if PAC already has PACV assigned</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_previous_version</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No previous PACV</defaultConnectorLabel>
        <rules>
            <name>Already_has_PACV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PAC.Patient_Agreement_Configuration_Version__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_PACV</targetReference>
            </connector>
            <label>Already has PACV</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if we created a new version or replace existing one. If new was created, set selected PAC to variable for update</description>
        <name>Did_we_create_or_replace</name>
        <label>Did we create or replace</label>
        <locationX>1700</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Set_Replacement_version_and_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Replaced</defaultConnectorLabel>
        <rules>
            <name>Created_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Replace_Or_Create.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Replace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Replace_Only.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Replace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_PAC_to_variable</targetReference>
            </connector>
            <label>Created New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_find_PAC_that_uses_this_PACV</name>
        <label>Did we find PAC that uses this PACV</label>
        <locationX>1150</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_previous_version</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PAC</defaultConnectorLabel>
        <rules>
            <name>Found_PAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PAC_that_uses_this_PACV</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PAC_to_variable</targetReference>
            </connector>
            <label>Found PAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_Record_ID_passed_in</name>
        <label>Do we have Record ID passed in</label>
        <locationX>1700</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Create_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Id</defaultConnectorLabel>
        <rules>
            <name>Record_Id_passed_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action</targetReference>
            </connector>
            <label>Record Id passed in</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if we have found a previous version, if yes show the screen with info</description>
        <name>Is_there_a_previous_version</name>
        <label>Is there a previous version</label>
        <locationX>1150</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Create_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No previous version</defaultConnectorLabel>
        <rules>
            <name>Previous_Version_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_OldPACV</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Replace_Or_New_Screen</targetReference>
            </connector>
            <label>Previous Version Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if today is the effective date for new PACV, if yes we need to update PAC with new values</description>
        <name>Is_today_effective_date_for_new_PACV</name>
        <label>Is today effective date for new PACV</label>
        <locationX>1876</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Effective Date</defaultConnectorLabel>
        <rules>
            <name>It_is_Effective_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Effective_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PACV_and_Link_to_PAC</targetReference>
            </connector>
            <label>It is Effective Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check which quick action started the flow</description>
        <name>Where_was_the_flow_started_from</name>
        <label>Where was the flow started from</label>
        <locationX>1150</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Actions</defaultConnectorLabel>
        <rules>
            <name>PAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quick_Action_Name.quickActionAPIName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient_Agreement_Configuration__c.Create_PACV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PAC</targetReference>
            </connector>
            <label>PAC</label>
        </rules>
        <rules>
            <name>Existing_PACV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quick_Action_Name.quickActionAPIName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient_Agreement_Configuration_Version__c.Create_New_Version</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PACV</targetReference>
            </connector>
            <label>Existing PACV</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>col_PAC_Without_PACV</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Agreement_Configuration_Version__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Patient_Agreement_Configuration__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>num_NextVersionNumber</name>
        <dataType>Number</dataType>
        <expression>IF(
    AND(
        {!Replace_Or_Create.value} != &quot;Replace&quot;,
        {!Replace_Only.value} != &quot;Replace&quot;
    ),
    1,
    {!rec_OldPACV.Version_Number__c} + 1
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Combine PAC Name and new version to get the name</description>
        <name>txt_NewPACVName</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Select_Patient_Agreement_Configuration_that_will_use_this_version.selectedChoiceLabels}), 
    {!txt_PACName} &amp; &quot; - V&quot; &amp; TEXT({!Version_Number}), 
    {!Select_Patient_Agreement_Configuration_that_will_use_this_version.selectedChoiceLabels} &amp; &quot; - V&quot; &amp; TEXT({!Version_Number})
)</expression>
    </formulas>
    <interviewLabel>Screenflow - Patient Agreement Configuration Version - Create New PACV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Patient Agreement Configuration Version - Create New PACV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PACV</name>
        <label>Create PACV</label>
        <locationX>1700</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Did_we_create_or_replace</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>rec_NewPACV</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Old_PACV</name>
        <label>Get Old PACV</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Previous_PACV_variable</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PAC.Patient_Agreement_Configuration_Version__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Agreement_Configuration_Version__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get triggering PAC</description>
        <name>Get_PAC</name>
        <label>Get PAC</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_PAC_in_variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Agreement_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check if there is a PAC that uses this PACV</description>
        <name>Get_PAC_that_uses_this_PACV</name>
        <label>Get PAC that uses this PACV</label>
        <locationX>1150</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_PAC_that_uses_this_PACV</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Agreement_Configuration_Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Agreement_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get PACV that the flow was started from</description>
        <name>Get_PACV</name>
        <label>Get PACV</label>
        <locationX>1150</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_As_Previous_Version</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Agreement_Configuration_Version__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update related PAC with new PACV and link</description>
        <name>Update_PAC</name>
        <label>Update PAC</label>
        <locationX>1700</locationX>
        <locationY>2756</locationY>
        <connector>
            <targetReference>Log_Updated_PAC</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>rec_PACRelated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Replaced PACV with Retirement date and Replacement version</description>
        <name>Update_Replaced_PACV</name>
        <label>Update Replaced PACV</label>
        <locationX>1876</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Log_Updated_PACV</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>rec_OldPACV</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1700</locationX>
        <locationY>2972</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Message_Replace_Future</name>
            <fieldText>&lt;p&gt;New version of Patient Agreement Configuration Version created successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Screen</name>
        <label>Create Screen</label>
        <locationX>1700</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_new_PACV_values</targetReference>
        </connector>
        <fields>
            <name>Version_Number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>num_NextVersionNumber</elementReference>
            </defaultValue>
            <fieldText>Version Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CDN_Link_Input</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CDN Link</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>https://</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Patient_Agreement_Configuration_that_will_use_this_version</name>
            <choiceReferences>col_PAC_Without_PACV</choiceReferences>
            <defaultValue>
                <elementReference>rec_PACRelated.Id</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Patient Agreement Configuration that will use this version</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Replace_Or_Create.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Replace</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Replace_Only.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Replace</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create PACV</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Get the name of action that started the screenflow</description>
        <name>Get_Action</name>
        <label>Get Action</label>
        <locationX>1150</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Where_was_the_flow_started_from</targetReference>
        </connector>
        <fields>
            <name>Get_Quick_Action_Name</name>
            <extensionName>c:getQuickActionName</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Used to collect values for the PACV that will be created</description>
        <name>Replace_Or_New_Screen</name>
        <label>Replace Or New Screen</label>
        <locationX>1018</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Screen</targetReference>
        </connector>
        <fields>
            <name>Replace_Or_New_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Replace_Or_New_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExistingPAVC_Headline</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Existing Version&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Display_existing_info</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!txt_ExistingPACVInfo}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Replace_Or_New_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Replace_Or_Create</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Replace Existing Version&quot;,&quot;value&quot;:&quot;Replace&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:replace&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Create New PACV&quot;,&quot;value&quot;:&quot;Create&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:record_create&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quick_Action_Name.quickActionAPIName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Patient_Agreement_Configuration__c.Create_PACV</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Replace_Only</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Create new version&quot;,&quot;value&quot;:&quot;Replace&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:replace&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quick_Action_Name.quickActionAPIName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Patient_Agreement_Configuration_Version__c.Create_New_Version</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1574</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_we_have_Record_ID_passed_in</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_ExistingPACVInfo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Name: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!rec_OldPACV.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Version:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!rec_OldPACV.Version_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;CND Link:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!rec_OldPACV.CDN_Link__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Effective Date:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!rec_OldPACV.Effective_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related Patient Agreement Configuration: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!txt_PACName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txt_PACVName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;d&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>rec_NewPACV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Agreement_Configuration_Version__c</objectType>
    </variables>
    <variables>
        <name>rec_OldPACV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Agreement_Configuration_Version__c</objectType>
    </variables>
    <variables>
        <name>rec_PACRelated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Agreement_Configuration__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_ButtonPressed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of the PAC that is using the old version</description>
        <name>txt_PACName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
