instance1/temp-retrieve/flows/Screenflow_Opportunity_Create_Chargeback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error_Getting_Commission_and_Chargeback_Records</name>
        <label>Log - Error - Getting Commission and Chargeback Records</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Logs_Before_Error_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting the Commission Records for this Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Getting_Previous_Opportunity_Status</name>
        <label>Log - Error - Getting Previous Opportunity Status</label>
        <locationX>1018</locationX>
        <locationY>1430</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Logs_Before_Error_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting the Previous Value that Opportunity Status was set to</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Getting_Referred_By_Account</name>
        <label>Log - Error - Getting Referred By Account</label>
        <locationX>490</locationX>
        <locationY>1646</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Logs_Before_Error_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting the Employee Referred By Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Updating_the_Opportunity</name>
        <label>Log - Error - Updating the Opportunity</label>
        <locationX>1810</locationX>
        <locationY>2570</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Logs_Before_Error_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating the Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_User_Selected_10x_Won_Chargeback</name>
        <label>Log User Selected 10x Won Chargeback</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_History_of_Status</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>form_10xWonChargeback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_User_Selected_Customer_Initiated_Chargeback</name>
        <label>Log User Selected Customer Initiated Chargeback</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Opportunity_Status</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>form_LogCustInitiatedChargeback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_User_Selected_Customer_Won_Chargeback</name>
        <label>Log User Selected Customer Won Chargeback</label>
        <locationX>1282</locationX>
        <locationY>1214</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Opportunity_Values</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>form_CustomerWonChargeback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Logs</name>
        <label>Save Logs</label>
        <locationX>666</locationX>
        <locationY>2570</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Chargeback_process_completed_sucessfully</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Logs_Before_Error_Screen</name>
        <label>Save Logs - Before Error Screen</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Rollback_Changes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Count_of_Chargeback_Commissions</name>
        <label>Assign Count of Chargeback Commissions</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>num_ChargebackCommissionsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Chargeback_Commission_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_There_a_Chargeback_and_Is_Opportunity_Status_Pending_Chargeback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_Positive_Commissions</name>
        <label>Assign Count of Positive Commissions</label>
        <locationX>1810</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>num_PositiveCommissionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Positive_Commission_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Positive_Commission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Status</name>
        <label>Assign Opportunity Status</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>recordId.Opportunity_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Chargeback</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Type_of_Chargeback_Pending_Chargeback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Values</name>
        <label>Assign Opportunity Values</label>
        <locationX>1282</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Closed_Lost_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient Chargeback</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Opportunity_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Previous_Status</name>
        <label>Assign Previous Status</label>
        <locationX>754</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>recordId.Opportunity_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_History_of_Status.OldValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Type_of_Chargeback_Won_Chargeback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_of_Chargeback_Pending_Chargeback</name>
        <label>Set Type of Chargeback - Pending Chargeback</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>txt_typeOfCharageBack</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Chargeback</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Get_Referred_By</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_of_Chargeback_Won_Chargeback</name>
        <label>Set Type of Chargeback - Won Chargeback</label>
        <locationX>754</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>txt_typeOfCharageBack</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Won Chargeback</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_Get_Referred_By</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Customer</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10x</name>
        <choiceText>10x</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10x</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Chargeback_Commission_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Chargeback Commission Filter</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Chargeback_Commission_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Commissions_and_Chargebacks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Chargeback_Commission_Filter.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Chargeback</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_of_Chargeback_Commissions</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Positive_Commission_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Positive Commission Filter</label>
        <locationX>1810</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Positive_Commission_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Commissions_and_Chargebacks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Positive_Commission_Filter.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Commission</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_of_Positive_Commissions</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Screenflow_Opportunity_Create_Chargeback</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_We_Get_Error_From_Creating_Commission_Record</name>
        <label>Did We Get Error From Creating Commission Record</label>
        <locationX>182</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Positive_Chargeback_Commission.bool_isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Logs_Before_Error_Screen</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Positive_Commission</name>
        <label>Found Positive Commission?</label>
        <locationX>1810</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Empty_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Commissions Found - Don&apos;t Show Anything</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Positive_Commission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_PositiveCommissionCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chargeback_Commission_Filter</targetReference>
            </connector>
            <label>Yes - Found Positive Commission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Chargeback_and_Is_Opportunity_Status_Pending_Chargeback</name>
        <label>Is There a Chargeback and Is Opportunity Status Pending Chargeback</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Empty_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Show Screen</defaultConnectorLabel>
        <rules>
            <name>Show_Screen</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>num_ChargebackCommissionsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Opportunity_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Chargeback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>num_ChargebackCommissionsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chargeback_Screen_Initial</targetReference>
            </connector>
            <label>Show Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Happened</name>
        <label>What Happened?</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Chargeback_Screen_Initial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Button_Pressed_Was_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btn_confirmationPage.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_All_Commissions_and_Chargebacks</targetReference>
            </connector>
            <label>Button Pressed Was Cancel</label>
        </rules>
        <rules>
            <name>Customer_Initiated_Chargeback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_Customer_initiate_a_Chargeback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_User_Selected_Customer_Initiated_Chargeback</targetReference>
            </connector>
            <label>Customer Initiated Chargeback</label>
        </rules>
        <rules>
            <name>X10x_Won_Chargeback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_won_the_Chargeback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X10x</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_User_Selected_10x_Won_Chargeback</targetReference>
            </connector>
            <label>10x Won Chargeback</label>
        </rules>
        <rules>
            <name>Customer_Won_Chargeback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_won_the_Chargeback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_User_Selected_Customer_Won_Chargeback</targetReference>
            </connector>
            <label>Customer Won Chargeback</label>
        </rules>
    </decisions>
    <description>This screen will allow users to initiate or close out a chargeback.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_10xWonChargeback</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+ &quot; &quot;+{!$User.LastName} + &quot; selected that the 10x won a Chargeback on this Opportunity&quot;</expression>
    </formulas>
    <formulas>
        <name>form_AreYouSureDisplay</name>
        <dataType>String</dataType>
        <expression>IF({!Who_won_the_Chargeback}=&quot;Customer&quot;, &quot;update the Opportunity to Closed Lost with a Closed Lost Reason of Chargeback?&quot;,
IF({!Who_won_the_Chargeback}=&quot;10x&quot;, &quot;create a positive Chargeback record and revert the Opportunity to its previous Opportunity Status?&quot;,
IF({!Did_Customer_initiate_a_Chargeback}=&quot;Yes&quot;, &quot;create a negative Chargeback record and set the Opportunity Status to Pending Chargeback?&quot;,
Null)))</expression>
    </formulas>
    <formulas>
        <name>form_CustomerWonChargeback</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+ &quot; &quot;+{!$User.LastName} + &quot; selected that the Customer Won a Chargeback on this Opportunity&quot;</expression>
    </formulas>
    <formulas>
        <name>form_LogCustInitiatedChargeback</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+ &quot; &quot;+{!$User.LastName} + &quot; selected that the Customer initiated a Chargeback on this Opportunity&quot;</expression>
    </formulas>
    <formulas>
        <name>form_SuccessDisplayText</name>
        <dataType>String</dataType>
        <expression>IF({!Who_won_the_Chargeback}=&quot;Customer&quot;, &quot;The Opportunity to Closed Lost with a Closed Lost Reason of Chargeback.&quot;,
IF({!Who_won_the_Chargeback}=&quot;10x&quot;, &quot;The Chargeback record  was created and the Opportunity was updated to its previous Opportunity Status, &quot; + TEXT({!recordId.Opportunity_Status__c})+&quot;.&quot;,
IF({!Did_Customer_initiate_a_Chargeback}=&quot;Yes&quot;, &quot;A negative Chargeback record was created and the Opportunity Status was set to Pending Chargeback.&quot;,
Null)))</expression>
    </formulas>
    <formulas>
        <name>txt_Month</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>txt_Year</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>Screenflow - Opportunity - Create Chargeback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Opportunity - Create Chargeback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_2_of_Get_Referred_By</name>
        <label>Get Referred By</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Positive_Chargeback_Commission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Getting_Referred_By_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Referred_By__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Commissions_and_Chargebacks</name>
        <label>Get All Commissions and Chargebacks</label>
        <locationX>1810</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Positive_Commission_Filter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Getting_Commission_and_Chargeback_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_History_of_Status</name>
        <label>Get History of Status</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Previous_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Getting_Previous_Opportunity_Status</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Status__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityFieldHistory</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_Changes</name>
        <label>Rollback Changes</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>666</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Save_Logs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Updating_the_Opportunity</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Chargeback_process_completed_sucessfully</name>
        <label>Chargeback process completed sucessfully</label>
        <locationX>666</locationX>
        <locationY>2678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_DisplaySuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&lt;img src=&quot;https://10xhealth--centraldev.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068U9000001ezU1?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;       &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!form_SuccessDisplayText} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Chargeback_Screen_Confirmation</name>
        <label>Chargeback Screen Confirmation</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>What_Happened</targetReference>
        </connector>
        <fields>
            <name>AreYouSureYouWantToDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;Are you sure you want to {!form_AreYouSureDisplay}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>btn_confirmationPage</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;I am sure&quot;,&quot;value&quot;:&quot;I am sure&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>I&apos;m Sure</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Chargeback_Screen_Initial</name>
        <label>Chargeback Screen Initial</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chargeback_Screen_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Did_Customer_initiate_a_Chargeback</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did Customer initiate a Chargeback?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>num_PositiveCommissionCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>num_ChargebackCommissionsCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Who_won_the_Chargeback</name>
            <choiceReferences>X10x</choiceReferences>
            <choiceReferences>Customer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who won the Chargeback?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>num_ChargebackCommissionsCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>num_PositiveCommissionCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Empty_Screen</name>
        <label>Empty Screen</label>
        <locationX>1810</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_DisplayError</name>
            <fieldText>&lt;p&gt;There was an error while trying to create a chargeback commission record. Please see the following error.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message&lt;/p&gt;&lt;p&gt;{!Create_Positive_Chargeback_Commission.txt_ErrorMessage}&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1684</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Commissions_and_Chargebacks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Positive_Chargeback_Commission</name>
        <label>Create Positive Chargeback Commission</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Did_We_Get_Error_From_Creating_Commission_Record</targetReference>
        </connector>
        <flowName>Autolaunch_Commission_Create_Commission</flowName>
        <inputAssignments>
            <name>rec_Employee</name>
            <value>
                <elementReference>Copy_2_of_Get_Referred_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rec_Opportunity</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_Month</name>
            <value>
                <elementReference>txt_Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_Type</name>
            <value>
                <elementReference>txt_typeOfCharageBack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_Year</name>
            <value>
                <elementReference>txt_Year</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Chargeback_Commission_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Positive_Commission_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission__c</objectType>
    </variables>
    <variables>
        <name>num_ChargebackCommissionsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>num_PositiveCommissionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>txt_typeOfCharageBack</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Chargeback</stringValue>
        </value>
    </variables>
</Flow>
