instance1/temp-retrieve/flows/Screenflow_Send_Patient_Agreement_Forms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Log_Info_Start</name>
        <label>Log - Info - Start</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Patient_Synced</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_txtFlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Started {!const_txtFlowApiName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Account_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_Action</name>
        <label>Save Log Action</label>
        <locationX>182</locationX>
        <locationY>3038</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Count_Number_of_Times_Sent</name>
        <label>Set Count - Number of Times Sent</label>
        <locationX>886</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>num_TimesSent</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Patient_Agreement_Configuration_from_what_was_Sent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Patient_Agreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Take the gender the user selected and assign on the account record</description>
        <name>Set_Gender_on_Account_Record</name>
        <label>Set Gender on Account Record</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>rec_UpdatedAccount.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Patient_Gender.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_UpdatedAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patient_Agreement_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will be used in the data table to show values that aren&apos;t really stored on the record but can be displayed on the data table</description>
        <name>Set_Ghost_Field_Values</name>
        <label>Set Ghost Field Values</label>
        <locationX>886</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Patient_Agreement_Configurations.Times_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>num_TimesSent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Patient_Agreement_Configurations.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTime_LastSent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Patient_Agreement_Configurations.LastActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>date_NextTimeToSend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_Collection_Patient_Agreement_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will track the last time this form has been sent</description>
        <name>Set_Last_Sent_Date</name>
        <label>Set Last Sent Date</label>
        <locationX>974</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>dateTime_LastSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Patient_Agreements.Date_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Next_Time_To_Send</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Collection_Patient_Agreement_Configuration</name>
        <label>Set New Collection - Patient Agreement Configuration</label>
        <locationX>886</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>col_PatientAgreementConfigurations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Patient_Agreement_Configurations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Patient_Agreement_Configurations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Time_To_Send</name>
        <label>Set Next Time To Send</label>
        <locationX>974</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>date_NextTimeToSend</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Patient_Agreements.Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Patient_Agreements</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Patient_Agreement_Configuration_from_what_was_Sent</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Patient Agreement Configuration from what was Sent</label>
        <locationX>886</locationX>
        <locationY>1490</locationY>
        <assignNextValueToReference>currentItem_Filter_Patient_Agreement_Configuration_from_what_was_Sent_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Patient_Agreements</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Patient_Agreement_Configuration_from_what_was_Sent_0.Patient_Agreement_Configuration__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Patient_Agreement_Configurations.Id</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Patient_Agreement_Configuration_from_what_was_Sent_0.Date_Sent__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Count_Number_of_Times_Sent</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>const_txtFlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Screenflow_Send_Patient_Agreement_Forms</stringValue>
        </value>
    </constants>
    <decisions>
        <description>This will check if Last Sent is NULL if so it needs set. Else if the Last Sent is before then it needs updated to the latest date.</description>
        <name>Check_Last_Sent</name>
        <label>Check Last Sent</label>
        <locationX>1238</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Loop_Filtered_Patient_Agreements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Need To Set</defaultConnectorLabel>
        <rules>
            <name>Last_Sent_Date_Never_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Last_Sent_Date</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Sent_Date</targetReference>
            </connector>
            <label>Last Sent Date Never Set</label>
        </rules>
        <rules>
            <name>Last_Sent_is_Before_New_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dateTime_LastSent</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_Filtered_Patient_Agreements.Date_Sent__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Last_Sent_Date</targetReference>
            </connector>
            <label>Last Sent is Before New Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Since forms are gender specific gender must be set before continuing.</description>
        <name>Is_Gender_Set</name>
        <label>Is Gender Set</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_Agreement_Configuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gender Set</defaultConnectorLabel>
        <rules>
            <name>No_Gender_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Gender__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ask_For_Gender</targetReference>
            </connector>
            <label>No Gender Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based on the Biocanic id field we can tell if this patient has been synced or not.</description>
        <name>Is_Patient_Synced</name>
        <label>Is Patient Synced</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Is_Gender_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Synced to Biocanic</defaultConnectorLabel>
        <rules>
            <name>MyWellnessPortal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Do_Not_Sync_to_Biocanic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.AutomationControlSettings__c.Do_Not_Sync_to_Biocanic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Gender_Set</targetReference>
            </connector>
            <label>MyWellnessPortal</label>
        </rules>
        <rules>
            <name>Not_Synced_to_Biocanic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Biocanic_External_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Biocanic_Id</targetReference>
            </connector>
            <label>Not Synced to Biocanic</label>
        </rules>
    </decisions>
    <description>This screen flow is designed to be on the Account record page and to allow end users to send out Patient Agreement forms manually to the end user.</description>
    <dynamicChoiceSets>
        <name>picklistChoiceSet_Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Account</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screenflow - Send Patient Agreement Forms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Send Patient Agreement Forms</label>
    <loops>
        <description>Loop Through the Patient Agreements to get specific data points for the data table</description>
        <name>Loop_Filtered_Patient_Agreements</name>
        <label>Loop Filtered Patient Agreements</label>
        <locationX>886</locationX>
        <locationY>1706</locationY>
        <collectionReference>Filter_Patient_Agreement_Configuration_from_what_was_Sent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Last_Sent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Ghost_Field_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Patient_Agreement_Configurations</name>
        <label>Loop Through Patient Agreement Configurations</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <collectionReference>Get_Patient_Agreement_Configuration</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Patient_Agreement_Configuration_from_what_was_Sent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Info_Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This will get all of the patient configurations for this specific gender.</description>
        <name>Get_Patient_Agreement_Configuration</name>
        <label>Get Patient Agreement Configuration</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Agreements</targetReference>
        </connector>
        <filterLogic>3 AND ((1 AND 2) OR NOT(1))</filterLogic>
        <filters>
            <field>Is_Gender_Specific__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Gender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Gender__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Agreement_Configuration__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We want to grab everything that has been sent to the customer before so we can add to ghost records.</description>
        <name>Get_Patient_Agreements</name>
        <label>Get Patient Agreements</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Patient_Agreement_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Show_Different_Agreements</targetReference>
        </connector>
        <inputReference>rec_UpdatedAccount</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Ask_For_Gender</name>
        <label>Ask For Gender</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Gender_on_Account_Record</targetReference>
        </connector>
        <fields>
            <name>Patient_Gender</name>
            <choiceReferences>picklistChoiceSet_Gender</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Patient Gender</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save Gender</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Biocanic_Id</name>
        <label>No Biocanic Id</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtNoBiocanicId</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;This Patient hasn&apos;t been synced with Biocanic and can not be sent agreements. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Patient_Agreement_Assigned</name>
        <label>Patient Agreement Assigned</label>
        <locationX>182</locationX>
        <locationY>2930</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Log_Action</targetReference>
        </connector>
        <fields>
            <name>txtPatientAgreement_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Patient Agreements Have Been Assigned&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bool_isError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txt_ErrorMessage_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Error Creating Patient Agreement: {!txt_ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bool_isError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Different_Agreements</name>
        <label>Show Different Agreements</label>
        <locationX>182</locationX>
        <locationY>2714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Patient_Agreements</targetReference>
        </connector>
        <fields>
            <name>dt_Agreements</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Patient_Agreement_Configuration__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient Agreements</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>col_PatientAgreementConfigurations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d74c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Agreement&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Patient Agreement Configuration Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Times_Sent__c&quot;,&quot;guid&quot;:&quot;column-a2ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Times Agreement Has Been Sent&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Times Sent&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-d046&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Last Date Sent&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;LastActivityDate&quot;,&quot;guid&quot;:&quot;column-3aae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Next Time To Send&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Activity Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send Selected Agreements</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Patient_Agreements</name>
        <label>Send Patient Agreements</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Patient_Agreement_Assigned</targetReference>
        </connector>
        <flowName>Autolaunch_Send_Patient_Agreements_to_Patient</flowName>
        <inputAssignments>
            <name>col_PatientAgreementConfigurtion</name>
            <value>
                <elementReference>dt_Agreements.selectedRows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rec_Account</name>
            <value>
                <elementReference>Get_Account_Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>bool_isError</assignToReference>
            <name>bool_isError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <name>txt_ErrorMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>bool_isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to show the datatable the custom values we are using</description>
        <name>col_PatientAgreementConfigurations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Agreement_Configuration__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Patient_Agreement_Configuration_from_what_was_Sent_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Agreement__c</objectType>
    </variables>
    <variables>
        <name>date_NextTimeToSend</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dateTime_LastSent</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable makes sure we are having the user wait more than 5 minutes for the account to be created.</description>
        <name>num_NumberOfWaits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>num_TimesSent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rec_UpdatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
