instance1/temp-retrieve/flows/Screenflow_Patient_Agreements_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Add_A_File_To_PA_Account_EHR</name>
        <label>Add A File To PA Account EHR</label>
        <locationX>2690</locationX>
        <locationY>1214</locationY>
        <actionName>FileUploadImprovedHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PA_Creation_Screen_Account_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Set_New_Patient_Agreement_Values.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>versIds</name>
            <value>
                <elementReference>fileUpload.contentVersionIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FileUploadImprovedHelper</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Add_A_File_To_PA_Opportunity</name>
        <label>Add A File To PA Opportunity</label>
        <locationX>4340</locationX>
        <locationY>3170</locationY>
        <actionName>FileUploadImprovedHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Patient_Agreement_Created_EHR_Not_Uploaded_Opportunity_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Set_New_Patient_Agreement_Values.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>versIds</name>
            <value>
                <elementReference>fileUpload.contentVersionIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FileUploadImprovedHelper</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Is_Found_And_Does_Not_Have_Filled_Values</name>
        <label>Log Account Is Found And Does Not Have Filled Values</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Required_Fields_Screen_Component</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account is found and has no values</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Is_Record_Type</name>
        <label>Log Account Is Record Type</label>
        <locationX>1700</locationX>
        <locationY>2846</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>EHR_for_account_record_type_Already_Uploaded</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account is record type</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Not_Found_Account_Record_Type</name>
        <label>Log Account Not Found Account Record Type</label>
        <locationX>3482</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account not Found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Record_Type_Create_a_new_PA_No_EHR</name>
        <label>Log Account Record Type Create a new PA No EHR</label>
        <locationX>2690</locationX>
        <locationY>1538</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Started</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account Record Type Create a new PA No EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Record_Type_Create_a_New_PA_PA_Not_Created</name>
        <label>Log Account Record Type Create a New PA,  PA Not Created</label>
        <locationX>1634</locationX>
        <locationY>1538</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Started</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account Record Type Create a New PA,  PA Not Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Record_Type_Create_New_Patient_Agreements_EHR</name>
        <label>Log Account Record Type Create New Patient Agreements EHR</label>
        <locationX>578</locationX>
        <locationY>1754</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Started</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account Record Type Create New Patient Agreements EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Record_Type_Return_to_Account_EHR</name>
        <label>Log Account Record Type Return to Account EHR</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account Record Type Return to Account EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Record_Type_Return_to_Account_No_EHR</name>
        <label>Log Account Record Type Return to Account No EHR</label>
        <locationX>2426</locationX>
        <locationY>1538</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account Record Type Return to Account No EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Record_Type_Return_To_Account_PA_Not_Created</name>
        <label>Log Account Record Type Return To Account PA Not Created</label>
        <locationX>1370</locationX>
        <locationY>1538</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account Rec Type Return To Account PA Not Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Record_Type_Return_To_PA_Screen_EHR</name>
        <label>Log Account Record Type Return To PA Screen EHR</label>
        <locationX>842</locationX>
        <locationY>1754</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_to_Patient_Agreement</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account has filled values and default outcome has been reached</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Record_Type_Return_To_PA_Screen_No_EHR</name>
        <label>Log Account Record Type Return To PA Screen No EHR</label>
        <locationX>2954</locationX>
        <locationY>1538</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_to_Patient_Agreement</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account Record Type Return To PA Screen No EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Account_Record_Type_Return_to_PA_screen_PA_Not_Created</name>
        <label>Log Account Record Type Return to PA screen,  PA Not Created</label>
        <locationX>1898</locationX>
        <locationY>1538</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_to_Patient_Agreement</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account Record Type Return to PA screen,  PA Not Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Default_Outcome_For_Account_Found</name>
        <label>Log Default Outcome For Account Found</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EHR_for_account_record_type_Already_Uploaded</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account has filled values and default outcome has been reached</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_EHR_Not_Uploaded_Account_Record_Type</name>
        <label>Log EHR Not Uploaded Account Record Type</label>
        <locationX>2690</locationX>
        <locationY>890</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Patient_Agreement_EHR_Not_Uploaded</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>EHR Checkbox not selected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_EHR_Not_Uploaded_Opportunity_Record_Type</name>
        <label>Log EHR Not Uploaded Opportunity Record Type</label>
        <locationX>4340</locationX>
        <locationY>2954</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Patient_Agreement_EHR_Opportunity_Not_Uploaded</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>EHR Checkbox not selected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Found_No_Record_Type</name>
        <label>Log Flow Found No Record Type</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Flow found no record type</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Started</name>
        <label>Log Flow Started</label>
        <locationX>2624</locationX>
        <locationY>134</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Flow started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Fetched_Opportunity_Record_Type</name>
        <label>Log Opportunity Fetched Opportunity Record Type</label>
        <locationX>3746</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Required_Fields_Screen_Component</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity successfully fetched</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Not_Found_Opportunity_Record_Type</name>
        <label>Log Opportunity Not Found Opportunity Record Type</label>
        <locationX>4010</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity not Found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Record_Type_Create_A_New_PA_EHR</name>
        <label>Log Opportunity Record Type Create A New PA EHR</label>
        <locationX>2228</locationX>
        <locationY>3818</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Started</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity Record Type Create A New PA EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Record_Type_Create_A_New_PA_No_EHR</name>
        <label>Log Opportunity Record Type Create A New PA No EHR</label>
        <locationX>4340</locationX>
        <locationY>3602</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Started</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity Record Type Create A New PA No EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Record_Type_Create_New_PA_Not_Created_PA</name>
        <label>Log Opportunity Record Type Create New PA - Not Created PA</label>
        <locationX>3284</locationX>
        <locationY>3602</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Started</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity Record Type Create New PA - Not Created PA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Record_Type_Return_to_Opportunity_EHR</name>
        <label>Log Opportunity Record Type Return to Opportunity EHR</label>
        <locationX>1964</locationX>
        <locationY>3818</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_to_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity Record Type Return to Opportunity EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Record_Type_Return_to_Opportunity_No_EHR</name>
        <label>Log Opportunity Record Type Return to Opportunity No EHR</label>
        <locationX>4076</locationX>
        <locationY>3602</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity Record Type Return to Opportunity No EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Record_Type_Return_To_Opportunity_Not_Created_PA</name>
        <label>Log Opportunity Record Type Return To Opportunity Not Created PA</label>
        <locationX>3020</locationX>
        <locationY>3602</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity Rec Type Return To Opportunity Not Created PA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Record_Type_Return_To_PA_Not_Created_PA</name>
        <label>Log Opportunity Record Type Return To PA - Not Created PA</label>
        <locationX>3548</locationX>
        <locationY>3602</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_to_Patient_Agreement</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity Record Type Return To PA - Not Created PA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Record_Type_Return_To_PA_Screen_EHR</name>
        <label>Log Opportunity Record Type Return To PA Screen EHR</label>
        <locationX>2492</locationX>
        <locationY>3818</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Patient_Agreement</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity Record Type Return To PA Screen EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Opportunity_Record_Type_Return_To_PA_Screen_No_EHR</name>
        <label>Log Opportunity Record Type Return To PA Screen No EHR</label>
        <locationX>4604</locationX>
        <locationY>3602</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_to_Patient_Agreement</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity Record Type Return To PA Screen No EHR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Created_Account_Record_Type</name>
        <label>Log Patient Agreement Created Account Record Type</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Patient_Agreement_When_PA_Created_Account_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Created_EHR_Not_Uploaded_Account_Record_Type</name>
        <label>Log Patient Agreement Created EHR Not Uploaded Account Record Type</label>
        <locationX>2690</locationX>
        <locationY>1106</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_A_File_To_PA_Account_EHR</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Created_EHR_Not_Uploaded_Opportunity_Record_Type</name>
        <label>Log Patient Agreement Created EHR Not Uploaded Opportunity Record Type</label>
        <locationX>4340</locationX>
        <locationY>3278</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PA_Creation_Screen_Opportunity_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Created_Opportunity_Record_Type</name>
        <label>Log Patient Agreement Created Opportunity Record Type</label>
        <locationX>2228</locationX>
        <locationY>3278</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Patient_Agreement_When_PA_Created_Opportunity_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Fetched_Account_Record_Type</name>
        <label>Log Patient Agreement Fetched Account Record Type</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Tags_To_Show_Account_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement fetched</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Fetched_Opportunity_Record_Type</name>
        <label>Log Patient Agreement Fetched Opportunity Record Type</label>
        <locationX>2228</locationX>
        <locationY>3494</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Tags_To_Show_Opportunity_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement fetched</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Not_Able_To_Create_Account_Record_Type</name>
        <label>Log Patient Agreement Not Able To Create Account Record Type</label>
        <locationX>3218</locationX>
        <locationY>1106</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement not able to create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Not_Able_To_Create_Opportuntiy_Record_Type</name>
        <label>Log Patient Agreement Not Able To Create Opportuntiy Record Type</label>
        <locationX>4868</locationX>
        <locationY>3170</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement Not Able To Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Not_Able_To_Fetch_Account_Record_Type</name>
        <label>Log Patient Agreement Not Able To Fetch Account Record Type</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement not able to fetch</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Not_Able_To_Fetch_Opportunity_Record_Type</name>
        <label>Log Patient Agreement Not Able To Fetch Opportunity Record Type</label>
        <locationX>2756</locationX>
        <locationY>3494</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement Not Able To Fetch</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Not_Created_Account_Record_Type</name>
        <label>Log Patient Agreement Not Created Account Record Type</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PA_Not_Created_Account_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement not created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Not_Created_Opportunity_Record_Type</name>
        <label>Log Patient Agreement Not Created Opportunity Record Type</label>
        <locationX>3284</locationX>
        <locationY>3278</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PA_Not_Created_Opportunity_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement not created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Not_Found_Account_Record_Type</name>
        <label>Log Patient Agreement Not Found Account Record Type</label>
        <locationX>2162</locationX>
        <locationY>1106</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement not able to create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Patient_Agreement_Not_Found_Opportuntiy_Record_Type</name>
        <label>Log Patient Agreement Not Found Opportuntiy Record Type</label>
        <locationX>3812</locationX>
        <locationY>3170</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient Agreement Not Able To Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Record_Type_Account</name>
        <label>Log Record Type Account</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_Account_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account is the record type</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Record_Type_Opportunity</name>
        <label>Log Record Type Opportunity</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunity_Opportunity_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Opportunity is the record type</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Upload_Of_EHR_Account_Record_Type</name>
        <label>Log Upload Of EHR Account Record Type</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Patient_Agreement_EHR_Uploaded</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>EHR Checkbox selected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Upload_Of_EHR_Opportunity_Record_Type</name>
        <label>Log Upload Of EHR Opportunity Record Type</label>
        <locationX>2756</locationX>
        <locationY>2954</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Patient_Agreement_EHR_Uploaded_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>EHR Checkbox selected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Account</name>
        <label>Navigate to Account</label>
        <locationX>1898</locationX>
        <locationY>2180</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_All_Logs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Set_New_Patient_Agreement_Values.Patient__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity</name>
        <label>Navigate to Opportunity</label>
        <locationX>3548</locationX>
        <locationY>4352</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Save_All_Logs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Set_New_Patient_Agreement_Values.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Patient_Agreement</name>
        <label>Navigate to Patient Agreement</label>
        <locationX>2492</locationX>
        <locationY>3926</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_All_Logs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Set_New_Patient_Agreement_Values.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_All_Logs</name>
        <label>Save All Logs</label>
        <locationX>3548</locationX>
        <locationY>4460</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>const_FlowAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Screenflow - Patient Agreements - Creation</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if the recordId is an Account or an Opportunity.</description>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>2624</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Log_Flow_Found_No_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Account/Opportunity</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Record_Type_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Record_Type_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>EHR_for_account_record_type_Already_Uploaded</name>
        <label>EHR for account record type Already Uploaded?</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Log_EHR_Not_Uploaded_Account_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Uploaded</defaultConnectorLabel>
        <rules>
            <name>Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_already_uploaded_the_file_to_the_EHR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Upload_Of_EHR_Account_Record_Type</targetReference>
            </connector>
            <label>Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>EHR_for_opportunity_record_type_Already_Uploaded</name>
        <label>EHR for opportunity record type Already Uploaded?</label>
        <locationX>3548</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Log_EHR_Not_Uploaded_Opportunity_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Uploaded</defaultConnectorLabel>
        <rules>
            <name>Uploaded_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_already_uploaded_the_file_to_the_EHR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Upload_Of_EHR_Opportunity_Record_Type</targetReference>
            </connector>
            <label>Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_found</name>
        <label>Is Account found</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Log_Default_Outcome_For_Account_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Account_Record_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Account_Is_Found_And_Does_Not_Have_Filled_Values</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PA_for_account_record_type_Created</name>
        <label>Is PA for account record type Created?</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Log_Patient_Agreement_Not_Created_Account_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Created</defaultConnectorLabel>
        <rules>
            <name>Created_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_New_Patient_Agreement_Values.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Patient_Agreement_Created_Account_Record_Type</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PA_for_opportunity_record_type_Created</name>
        <label>Is PA for opportunity record type Created?</label>
        <locationX>2756</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>Log_Patient_Agreement_Not_Created_Opportunity_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Created</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_New_Patient_Agreement_Values.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Patient_Agreement_Created_Opportunity_Record_Type</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Tags_Return_To_Opportunity_From_Opportunity_or_Create_a_new_PA</name>
        <label>No Tags - Return To Opportunity From Opportunity or Create a new PA</label>
        <locationX>4340</locationX>
        <locationY>3494</locationY>
        <defaultConnector>
            <targetReference>Log_Opportunity_Record_Type_Return_To_PA_Screen_No_EHR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return To PA</defaultConnectorLabel>
        <rules>
            <name>No_Tags_Return_To_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar_Opportunity_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return To Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Opportunity_Record_Type_Return_to_Opportunity_No_EHR</targetReference>
            </connector>
            <label>No Tags - Return To Opportunity</label>
        </rules>
        <rules>
            <name>No_Tags_Create_a_new_PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar_Opportunity_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Another Patient Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Opportunity_Record_Type_Create_A_New_PA_No_EHR</targetReference>
            </connector>
            <label>No Tags - Create a new PA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Created_PA_Return_To_Opportunity_or_Create_a_new_PA</name>
        <label>Not Created PA - Return To Opportunity or Create a new PA</label>
        <locationX>3284</locationX>
        <locationY>3494</locationY>
        <defaultConnector>
            <targetReference>Log_Opportunity_Record_Type_Return_To_PA_Not_Created_PA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return To PA</defaultConnectorLabel>
        <rules>
            <name>Not_Created_PA_Return_To_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar_Opportunity_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return To Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Opportunity_Record_Type_Return_To_Opportunity_Not_Created_PA</targetReference>
            </connector>
            <label>Not Created PA - Return To Opportunity</label>
        </rules>
        <rules>
            <name>Not_Created_PA_Create_a_new_PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar_Opportunity_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create New Patient Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Opportunity_Record_Type_Create_New_PA_Not_Created_PA</targetReference>
            </connector>
            <label>Not Created PA - Create a new PA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Created_Return_To_Account_or_Try_To_Create_PA</name>
        <label>Not Created Return To Account or Try To Create PA</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Log_Account_Record_Type_Return_to_PA_screen_PA_Not_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return To PA Screen</defaultConnectorLabel>
        <rules>
            <name>Return_To_Account_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return To Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Account_Record_Type_Return_To_Account_PA_Not_Created</targetReference>
            </connector>
            <label>Return To Account</label>
        </rules>
        <rules>
            <name>Create_A_New_PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create New Patient Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Account_Record_Type_Create_a_New_PA_PA_Not_Created</targetReference>
            </connector>
            <label>Create A New PA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>2624</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>EHR_for_opportunity_record_type_Already_Uploaded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oppportunity</defaultConnectorLabel>
        <rules>
            <name>AccountRec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Account_Is_Record_Type</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_To_Account_OR_Create_New_PA</name>
        <label>Return To Account OR Create New PA</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Log_Account_Record_Type_Return_To_PA_Screen_EHR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return To PA Screen</defaultConnectorLabel>
        <rules>
            <name>Return_to_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return To Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Account_Record_Type_Return_to_Account_EHR</targetReference>
            </connector>
            <label>Return to Account</label>
        </rules>
        <rules>
            <name>Create_New_Patient_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Another Patient Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Account_Record_Type_Create_New_Patient_Agreements_EHR</targetReference>
            </connector>
            <label>Create New Patient Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_To_Opportunity_or_Create_a_new_PA</name>
        <label>Return To Opportunity or Create a new PA</label>
        <locationX>2228</locationX>
        <locationY>3710</locationY>
        <defaultConnector>
            <targetReference>Log_Opportunity_Record_Type_Return_To_PA_Screen_EHR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return To PA Screen</defaultConnectorLabel>
        <rules>
            <name>Return_To_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar_Opportunity.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return To Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Opportunity_Record_Type_Return_to_Opportunity_EHR</targetReference>
            </connector>
            <label>Return To Opportunity</label>
        </rules>
        <rules>
            <name>Create_A_New_PA_for_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar_Opportunity.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Another Patient Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Opportunity_Record_Type_Create_A_New_PA_EHR</targetReference>
            </connector>
            <label>Create A New PA for Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_To_the_Account_Or_Create_New_Patient_Agreement</name>
        <label>Return To the Account Or Create New Patient Agreement</label>
        <locationX>2690</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Log_Account_Record_Type_Return_To_PA_Screen_No_EHR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return To PA Screen</defaultConnectorLabel>
        <rules>
            <name>Return_To_the_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return To Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Account_Record_Type_Return_to_Account_No_EHR</targetReference>
            </connector>
            <label>Return To the Account</label>
        </rules>
        <rules>
            <name>Create_a_New_Patient_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Another Patient Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Account_Record_Type_Create_a_new_PA_No_EHR</targetReference>
            </connector>
            <label>Create a New Patient Agreement</label>
        </rules>
    </decisions>
    <description>This flow will override the New button for when creating a patient agreement.Create Another Patient Agreement update.</description>
    <dynamicChoiceSets>
        <name>choice_CreationSourceResource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Creation_Source__c</picklistField>
        <picklistObject>Patient_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_dispatchPlatform</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dispatch_Platform__c</picklistField>
        <picklistObject>Patient_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_statusResource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Patient_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoice_AccountOpportunities</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Account_Record_Type.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoice_PatientAgreements</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Patient_Agreement_Configuration__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>form_formattedEhrTagsMessage</name>
        <dataType>String</dataType>
        <expression>&apos;&quot;&apos; + TEXT({!Get_Patient_Agreement_When_PA_Created_Account_Record_Type.Agreement_Type__c}) + 
&apos;&quot;, PA Name: &quot;&apos; + {!Get_Patient_Agreement_When_PA_Created_Account_Record_Type.Name} + 
&apos;&quot;, PA Id: &quot;&apos; + {!Get_Patient_Agreement_When_PA_Created_Account_Record_Type.Id} + &apos;&quot;&apos;</expression>
    </formulas>
    <formulas>
        <name>form_formattedEhrTagsMessageOpportunity</name>
        <dataType>String</dataType>
        <expression>&apos;&quot;&apos; + TEXT({!Get_Patient_Agreement_When_PA_Created_Opportunity_Record_Type.Agreement_Type__c}) + 
&apos;&quot;, Opportunity Name: &quot;&apos; + {!Get_Patient_Agreement_When_PA_Created_Opportunity_Record_Type.Name} + 
&apos;&quot;, Opportunity Id: &quot;&apos; + {!Get_Patient_Agreement_When_PA_Created_Opportunity_Record_Type.Id} + &apos;&quot;&apos;</expression>
    </formulas>
    <formulas>
        <name>form_objectType</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId}, &quot;001&quot;), &quot;Account&quot;, 
IF(BEGINS({!recordId}, &quot;006&quot;), &quot;Opportunity&quot;, &quot;Unknown&quot;))</expression>
    </formulas>
    <interviewLabel>Screenflow - Patient Agreements - Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Patient Agreements - Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Patient_Agreement_EHR_Not_Uploaded</name>
        <label>Create Patient Agreement EHR Not Uploaded</label>
        <locationX>2690</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Log_Patient_Agreement_Created_EHR_Not_Uploaded_Account_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Patient_Agreement_Not_Able_To_Create_Account_Record_Type</targetReference>
        </faultConnector>
        <inputReference>Set_New_Patient_Agreement_Values</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Agreement_EHR_Opportunity_Not_Uploaded</name>
        <label>Create Patient Agreement EHR Opportunity Not Uploaded</label>
        <locationX>4340</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Add_A_File_To_PA_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Patient_Agreement_Not_Able_To_Create_Opportuntiy_Record_Type</targetReference>
        </faultConnector>
        <inputReference>Set_New_Patient_Agreement_Values</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Agreement_EHR_Uploaded</name>
        <label>Create Patient Agreement EHR Uploaded</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Is_PA_for_account_record_type_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Patient_Agreement_Not_Found_Account_Record_Type</targetReference>
        </faultConnector>
        <inputReference>Set_New_Patient_Agreement_Values</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Agreement_EHR_Uploaded_Opportunity</name>
        <label>Create Patient Agreement EHR Uploaded Opportunity</label>
        <locationX>2756</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Is_PA_for_opportunity_record_type_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Patient_Agreement_Not_Found_Opportuntiy_Record_Type</targetReference>
        </faultConnector>
        <inputReference>Set_New_Patient_Agreement_Values</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Account_Record_Type</name>
        <label>Get Account - Account Record Type</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Account_Not_Found_Account_Record_Type</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Opportunity_Record_Type</name>
        <label>Get Opportunity - Opportunity Record Type</label>
        <locationX>3746</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Opportunity_Fetched_Opportunity_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Opportunity_Not_Found_Opportunity_Record_Type</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Agreement_When_PA_Created_Account_Record_Type</name>
        <label>Get Patient Agreement When PA Created Account Record Type</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Patient_Agreement_Fetched_Account_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Patient_Agreement_Not_Able_To_Fetch_Account_Record_Type</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Set_New_Patient_Agreement_Values.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Agreement_When_PA_Created_Opportunity_Record_Type</name>
        <label>Get Patient Agreement When PA Created Opportunity Record Type</label>
        <locationX>2228</locationX>
        <locationY>3386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Patient_Agreement_Fetched_Opportunity_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Patient_Agreement_Not_Able_To_Fetch_Opportunity_Record_Type</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Patient_Agreement_EHR_Uploaded_Opportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>PA_Creation_Screen_Account_Record_Type</name>
        <label>PA Creation Screen Account Record Type</label>
        <locationX>2690</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Return_To_the_Account_Or_Create_New_Patient_Agreement</targetReference>
        </connector>
        <fields>
            <name>PA_Created</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Patient Agreement created.</stringValue>
            </defaultValue>
            <fieldText>PA Created</fieldText>
            <fieldType>InputField</fieldType>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Button_Bar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Return To Account&quot;,&quot;value&quot;:&quot;Return To Account&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Create Another Patient Agreement&quot;,&quot;value&quot;:&quot;Create Another Patient Agreement&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PA_Creation_Screen_Opportunity_Record_Type</name>
        <label>PA Creation Screen Opportunity Record Type</label>
        <locationX>4340</locationX>
        <locationY>3386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_Tags_Return_To_Opportunity_From_Opportunity_or_Create_a_new_PA</targetReference>
        </connector>
        <fields>
            <name>PA_Created_Opportunity</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Patient Agreement created.</stringValue>
            </defaultValue>
            <fieldText>PA Created</fieldText>
            <fieldType>InputField</fieldType>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Button_Bar_Opportunity_2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Return To Opportunity&quot;,&quot;value&quot;:&quot;Return To Opportunity&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Create Another Patient Agreement&quot;,&quot;value&quot;:&quot;Create Another Patient Agreement&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PA_Not_Created_Account_Record_Type</name>
        <label>PA Not Created Account Record Type</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Not_Created_Return_To_Account_or_Try_To_Create_PA</targetReference>
        </connector>
        <fields>
            <name>PA_Not_Created1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>PA is not created.</stringValue>
            </defaultValue>
            <fieldText>PA Not Created</fieldText>
            <fieldType>InputField</fieldType>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Button_Bar_2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Return To Account&quot;,&quot;value&quot;:&quot;Return To Account&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Create New Patient Agreement&quot;,&quot;value&quot;:&quot;Create New Patient Agreement&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PA_Not_Created_Opportunity_Record_Type</name>
        <label>PA Not Created Opportunity Record Type</label>
        <locationX>3284</locationX>
        <locationY>3386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Not_Created_PA_Return_To_Opportunity_or_Create_a_new_PA</targetReference>
        </connector>
        <fields>
            <name>PA_Not_Created_Opportunity</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>PA is not created.</stringValue>
            </defaultValue>
            <fieldText>PA Not Created</fieldText>
            <fieldType>InputField</fieldType>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Button_Bar_Opportunity_1</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Return To Opportunity&quot;,&quot;value&quot;:&quot;Return To Opportunity&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Create New Patient Agreement&quot;,&quot;value&quot;:&quot;Create New Patient Agreement&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Required_Fields_Screen_Component</name>
        <label>Required Fields Screen Component</label>
        <locationX>2624</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_New_Patient_Agreement_Values</targetReference>
        </connector>
        <fields>
            <name>Patient_Details</name>
            <fieldText>Patient Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Patient_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Patient_Lookup_Opportunity</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Patient</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Patient_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Patient__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Account_Account_Record_Type.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Patient_Agreement_Configuration</name>
                    <choiceReferences>recChoice_PatientAgreements</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Patient Agreement Configuration</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>choice_statusResource</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>New</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Creation_Source</name>
                    <choiceReferences>choice_CreationSourceResource</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Salesforce</stringValue>
                    </defaultValue>
                    <fieldText>Creation Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Dispatch_Platform</name>
                    <choiceReferences>choice_dispatchPlatform</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Salesforce</stringValue>
                    </defaultValue>
                    <fieldText>Dispatch Platform</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Patient_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Date_Sent</name>
                    <dataType>DateTime</dataType>
                    <fieldText>First Date Sent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Date_Signed</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Date Signed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Related_Opportunity</name>
                    <choiceReferences>recChoice_AccountOpportunities</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Related Opportunity</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Signed_PDF</name>
            <fieldText>Signed PDF</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Signed_PDF_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_already_uploaded_the_file_to_the_EHR</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I already uploaded the Signed PDF to the EHR</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Signed_PDF_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fileUpload</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <elementReference>$Flow.InterviewGuid</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>acceptedFormats</name>
                        <value>
                            <stringValue>.pdf</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowMultiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Signed PDF</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_already_uploaded_the_file_to_the_EHR</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tags_To_Show_Account_Record_Type</name>
        <label>Tags To Show Account Record Type</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Return_To_Account_OR_Create_New_PA</targetReference>
        </connector>
        <fields>
            <name>Text_To_Show_EHR_Tags_Account</name>
            <fieldText>&lt;p&gt;Patient Agreement created. The document that you have uploaded is expected to have the following tags. Please ensure these tags are on the EHR Document:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tags_To_Show_Formula_EHR</name>
            <fieldText>&lt;p&gt;{!form_formattedEhrTagsMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Button_Bar_1</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Return To Account&quot;,&quot;value&quot;:&quot;Return To Account&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Create Another Patient Agreement&quot;,&quot;value&quot;:&quot;Create Another Patient Agreement&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tags_To_Show_Opportunity_Record_Type</name>
        <label>Tags To Show Opportunity Record Type</label>
        <locationX>2228</locationX>
        <locationY>3602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Return_To_Opportunity_or_Create_a_new_PA</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Opportunity_EHR</name>
            <fieldText>&lt;p&gt;Patient Agreement created. The document that you have uploaded is expected to have the following tags. Please ensure these tags are on the EHR Document:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tags_To_Show_Opportunity_Formula_EHR</name>
            <fieldText>&lt;p&gt;{!form_formattedEhrTagsMessageOpportunity}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Button_Bar_Opportunity</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Return To Opportunity&quot;,&quot;value&quot;:&quot;Return To Opportunity&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Create Another Patient Agreement&quot;,&quot;value&quot;:&quot;Create Another Patient Agreement&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2498</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Flow_Started</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ReturnToAccount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;a class=&quot;slds-button slds-button_brand&quot; href=&quot;/lightning/r/Account/{!Get_Account_Account_Record_Type.Id}/view&quot; target=&quot;_self&quot;&amp;gt;Finish&amp;lt;/a&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <name>Set_New_Patient_Agreement_Values</name>
        <label>Set New Patient Agreement Values</label>
        <locationX>2624</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Patient_Agreement__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Creation_Source__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Creation_Source</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Date_Sent__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>First_Date_Sent</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Date_Signed__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Date_Signed</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Dispatch_Platform__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Dispatch_Platform</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Opportunity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Related_Opportunity.selectedChoiceValues</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Patient_Agreement_Configuration__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Patient_Agreement_Configuration.selectedChoiceValues</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Patient__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Patient_Lookup_Opportunity.recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Status</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>BoolCanAccountProceed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Can be used to determine if the starting record is an Account or the Opportunity to help auto fill details below.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
