instance1/temp-retrieve/flows/Screenflow_Send_New_Customer_Portal_Key.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>468</locationX>
        <locationY>1382</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Final_Demographic_Key_and_Expiration</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@10xhealthsystem.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Access the Patient Success Portal with Your Key</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txt_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_New_Values_for_Keys</name>
        <label>Set New Values for Keys</label>
        <locationX>468</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Customer_Digital_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Key</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Customer_Digital_Key_Valid_Thru__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_ValidThruDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patient_Email</name>
        <label>Set Patient Email</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_PatientEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Patient_Have_Email</name>
        <label>Does Patient Have Email</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Demographic_Key_and_Expiration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Patient Email - Continue</defaultConnectorLabel>
        <rules>
            <name>No_Patient_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Patient_Email_Screen</targetReference>
            </connector>
            <label>No Patient Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Button_Pressed</name>
        <label>Which Button Pressed</label>
        <locationX>336</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Set_New_Values_for_Keys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send And Reset</defaultConnectorLabel>
        <rules>
            <name>Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnDemo.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <label>Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Button_Pressed_Update_Email</name>
        <label>Which Button Pressed - Update Email</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Demographic_Key_and_Expiration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Close</defaultConnectorLabel>
        <rules>
            <name>Update_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btn_UpdatePatientEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Patient Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Patient_Email</targetReference>
            </connector>
            <label>Update Email</label>
        </rules>
    </decisions>
    <description>This flow will allow the end user to see the current key and expiration and send the custom a new Key and reset the expiration date.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_Key</name>
        <dataType>String</dataType>
        <expression>MID(
    CASESAFEID(RIGHT({!Get_Account.Id}, 15)) &amp;
    CASESAFEID(RIGHT({!$Organization.Id}, 15)) &amp;
    TEXT(YEAR(TODAY())) &amp; TEXT(MONTH(TODAY())) &amp; TEXT(DAY(TODAY())),
    1, 40
)</expression>
    </formulas>
    <formulas>
        <name>form_ValidThruDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <interviewLabel>Screenflow - Send New Customer Portal Key {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Send New Customer Portal Key</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Patient_Have_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>468</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Email</name>
        <label>Update Patient Email</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Demographic_Key_and_Expiration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>txt_PatientEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Demographic_Key_and_Expiration</name>
        <label>Demographic Key and Expiration</label>
        <locationX>336</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Button_Pressed</targetReference>
        </connector>
        <fields>
            <name>txtCurrentDemographicKey</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Current Customer Portal Login Key&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Current Key: {!Get_Account.Customer_Digital_Key__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Current Epiration Date: {!Get_Account.Customer_Digital_Key_Valid_Thru__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Customer Email: {!Get_Account.PersonEmail}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>btnDemo</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Close&quot;,&quot;value&quot;:&quot;Close&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Send New Key and Reset Expiration Date&quot;,&quot;value&quot;:&quot;Send New Key and Reset Expiration Date&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Demographic_Key_and_Expiration</name>
        <label>Final Demographic Key and Expiration</label>
        <locationX>468</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalDemographicKey</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Updated Customer Portal Login Key&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;New Key: {!Get_Account.Customer_Digital_Key__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;New Epiration Date: {!Get_Account.Customer_Digital_Key_Valid_Thru__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Patient_Email_Screen</name>
        <label>No Patient Email</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Button_Pressed_Update_Email</targetReference>
        </connector>
        <fields>
            <name>txtNoPatientEmail</name>
            <fieldText>&lt;p&gt;We are unable to send this patient a portal link as there is no email for this patient. Please enter in the patients email below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txt_PatientEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>btn_UpdatePatientEmail</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Update Patient Email&quot;,&quot;value&quot;:&quot;Update Patient Email&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:record_update&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Close&quot;,&quot;value&quot;:&quot;Close&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:close&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Patient Email</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Account.FirstName} {!Get_Account.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We hope you are doing well. We are excited to provide you with the key to access our Patient Success Portal, where you can update your demographic data within our system. Your prompt response is appreciated, as it ensures we have the most accurate and up-to-date information to serve you better.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please use the following link to navigate to the Patient Success Portal:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://patient.10xhealthsystem.com/s/patientupdate&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://patient.10xhealthsystem.com/s/patientupdate&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once on the portal, simply enter the key provided below in the designated text box to log in and update your information:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Key: {!Get_Account.Customer_Digital_Key__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Keeping your key safe and confidential is crucial, as it serves as your unique identifier within our system, ensuring the security of your data.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have any questions or need assistance during the update process, our support team is ready to help. Feel free to contact them at &lt;a href=&quot;mailto:support@10xhealthsystem.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;support@10xhealthsystem.com&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&amp;nbsp;&lt;/p&gt;&lt;p&gt;Customer Support Team&lt;/p&gt;&lt;p&gt;10&lt;span style=&quot;color: rgb(209, 36, 42);&quot;&gt;x&lt;/span&gt; Health System&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>bool_NoPatientEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
