instance1/temp-retrieve/flows/Screenflow_Submit_Gene_Test_Order_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GeneTest_order_submission</name>
        <label>GeneTest order submission</label>
        <locationX>710</locationX>
        <locationY>634</locationY>
        <actionName>GeneTestOrderSubmissionAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunites</name>
            <value>
                <elementReference>Get_Latest_Oppty_Details</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GeneTestOrderSubmissionAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Error_Details_to_null</name>
        <label>Set Error Details to null</label>
        <locationX>712</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity.isError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Latest_Oppty_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Kit_Id_To_Null</name>
        <label>Set Kit Id To Null</label>
        <locationX>385</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Kit_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Kit_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Oppty_Set_Stage_and_Cell_Science</name>
        <label>Update Oppty Set Stage and Cell Science</label>
        <locationX>800</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kit Needs Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_We_Clear_Kit_Id</name>
        <label>Do We Clear Kit Id</label>
        <locationX>301</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Don&apos;t Clear Kit Id</defaultConnectorLabel>
        <rules>
            <name>Clear_Kit_Id_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clear_Kit_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Kit_Id_To_Null</targetReference>
            </connector>
            <label>Clear Kit Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Required_Shipping</name>
        <label>Is Required Shipping</label>
        <locationX>712</locationX>
        <locationY>1022</locationY>
        <defaultConnector>
            <targetReference>Update_Oppty_Set_Stage_and_Cell_Science</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Shipping</defaultConnectorLabel>
        <rules>
            <name>In_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Opportunity.Requires_Shipping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>In-Person</label>
        </rules>
    </decisions>
    <description>This process was created to allow a user to submit a Gene Test Order if the process failed manually.</description>
    <environments>Default</environments>
    <interviewLabel>Screenflow - Submit Gene Test Order Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Submit Gene Test Order Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Latest_Oppty_Details</name>
        <label>Get Latest Oppty Details</label>
        <locationX>706</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GeneTest_order_submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>712</locationX>
        <locationY>1322</locationY>
        <inputReference>rec_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Kit_Id</name>
        <label>Update Opportunity - Kit Id</label>
        <locationX>133</locationX>
        <locationY>600</locationY>
        <inputReference>rec_Opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>screenGenerateCellScienceAction</name>
        <label>screenGenerateCellScienceAction</label>
        <locationX>712</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Error_Details_to_null</targetReference>
        </connector>
        <fields>
            <name>btnsGenerateCellScience</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Manually Push To Lab Provider&quot;,&quot;value&quot;:&quot;Manually Push To Lab Provider&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:sync&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!rec_Opportunity.Error_Message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Clear_Kit_Id</name>
            <dataType>Boolean</dataType>
            <fieldText>Clear Kit Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>586</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screenGenerateCellScienceAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
