temp_prod_retrieve/flows/Autolaunch_Opportunity_Submit_Lab_Order_Request_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error_Creating_Lab_Order</name>
        <label>Log Error Creating Lab Order</label>
        <locationX>754</locationX>
        <locationY>1706</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Info_Error_Creating_Lab_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Creating Lab Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Getting_Lab_Order</name>
        <label>Log Error Getting Lab Order</label>
        <locationX>490</locationX>
        <locationY>1814</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Success_False_Getting_New_Lab_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting Lab Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Getting_Lab_Order_matching_kit_id</name>
        <label>Log Error Getting Lab Order matching kit id</label>
        <locationX>1810</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting Lab Order with matching kit id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_set_to_False</name>
        <label>Log Error set to False</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Is_Error_FALSE</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error on Lab Order set to false from null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Entry</name>
        <label>Log Flow Entry</label>
        <locationX>699</locationX>
        <locationY>134</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Kit_Id_Null</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Autolaunch - Opportunity - Submit Lab Order Request - Opportunity Flow Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Info_Error_Creating_Lab_Order</name>
        <label>Log Info Error Creating Lab Order</label>
        <locationX>754</locationX>
        <locationY>1814</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Invalid_Lab_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>There was an Error Creating Lab Order. Please submit a help desk ticket for assistance.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Kit_Id_Exists_on_Another_Opportunity</name>
        <label>Log - Kit Id Exists on Another Opportunity</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log_Action</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>There is an existing Lab Order with the Kit Id: {!rec_Opportunity.Kit_Id__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Kit_Id_not_null</name>
        <label>Log Kit Id not null</label>
        <locationX>1414</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Lab_Order_Where_Kit_Id</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Kit Id Not Null. Getting Lab Order with matching Kit Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Lab_Order_Created_Valid</name>
        <label>Log Lab Order Created Valid</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Lab_Order_Request_Id</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Valid Lab Order {!rec_LabOrder.Id} created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_No_Lab_Order_found</name>
        <label>Log No Lab Order found</label>
        <locationX>1546</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Clear_Error_Message_Lab_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No Lab Orders with Matching Kit Id found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Rejection</name>
        <label>Log Rejection</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clear_Kit_ID</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Lab Order is Rejected. Kit Id on the Opportunity has been cleared</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_Action</name>
        <label>Save Log Action</label>
        <locationX>699</locationX>
        <locationY>2204</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Address_Error</name>
        <label>Assign Address Error</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_addressValidationError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Held</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Missing or Incorrect Shipping Details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lab_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lab_Order_Record</name>
        <label>Assign Lab Order Record</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Lab_Order_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Lab_Provider_on_Lab_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Kit_ID</name>
        <label>Clear Kit ID</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Kit_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Clear_Error_Message_Lab_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invalid_Lab_Order</name>
        <label>Set Invalid Lab Order</label>
        <locationX>754</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>bool_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Lab Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Log_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_Error_FALSE</name>
        <label>Set Is Error = FALSE</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Lab_Order_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We will now use the name of the lab order as the request id. We store it in this field in case we need to manipulate it for any reason in the future.</description>
        <name>Set_Lab_Order_Request_Id</name>
        <label>Set Lab Order Request Id</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lab_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Request_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_LabOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Log_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lab_Order_Status_Ordered</name>
        <label>Set Lab Order Status = Ordered</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Set_Lab_Order_Values.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Set_Lab_Order_Values.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lab_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Can&apos;t be handled in transform needs to be done via assignment</description>
        <name>Set_Lab_Provider_on_Lab_Order</name>
        <label>Set Lab Provider on Lab Order</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Lab_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Opportunity.Lab_Provider__r.Lab__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_an_address_validation_error_on_the_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success_False_Getting_Lab_Orders</name>
        <label>Set Success = False - Getting Lab Orders</label>
        <locationX>1810</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>bool_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to get Lab Order with kit id: {!rec_Opportunity.Kit_Id__c}. See Logs for details.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Error_Getting_Lab_Order_matching_kit_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success_False_Getting_New_Lab_Order</name>
        <label>Set Success = False - Getting New Lab Order</label>
        <locationX>490</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>bool_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to get new Lab Order. See Logs for details.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Log_Action</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Autolaunch_Opportunity_Submit_Lab_Order_Request_Opportunity</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Is_Error_null</name>
        <label>Does Is Error = null</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Lab_Order_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error is set to a valid value</defaultConnectorLabel>
        <rules>
            <name>IsError_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_LabOrder.IsError__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Error_set_to_False</targetReference>
            </connector>
            <label>IsError = null</label>
        </rules>
    </decisions>
    <decisions>
        <description>The Kit Id can not exist on more than one Lab Order. If there is another Opportunity with that Kit Id then we can&apos;t create the lab order.</description>
        <name>Does_Lab_Order_Exist_Check_Kit_Id</name>
        <label>Does Lab Order Exist - Check Kit Id</label>
        <locationX>1414</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Log_No_Lab_Order_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Other Lab Orders Have this Kit Id</defaultConnectorLabel>
        <rules>
            <name>Kit_Id_Exists_on_Another_Lab_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lab_Order_Where_Kit_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Kit_Id_Exists_on_Another_Opportunity</targetReference>
            </connector>
            <label>Kit Id Exists on Another Lab Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Kit Id is Null we can skip the SOQL query</description>
        <name>Is_Kit_Id_Null</name>
        <label>Is Kit Id Null</label>
        <locationX>699</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Is_Rejection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Kit Id is Not Null</defaultConnectorLabel>
        <rules>
            <name>Kit_Id_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Opportunity.Kit_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Error_Message_Lab_Order</targetReference>
            </connector>
            <label>Kit Id is Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>If this is a rejection, then we don&apos;t want to set the Kit Id, else we keep the kit id there</description>
        <name>Is_Rejection</name>
        <label>Is Rejection</label>
        <locationX>1216</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Log_Kit_Id_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_IsRejection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Rejection</targetReference>
            </connector>
            <label>Rejection</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Parent Opportunity record has an address validation error</description>
        <name>Is_there_an_address_validation_error_on_the_Opportunity</name>
        <label>Is there an address validation error on the Opportunity</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Create_Lab_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Opportunity.Opportunity_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping Address Invalid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Address_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <description>This flow is the flow that will CREATE the Lab Order and submit to the Lab API.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_dateAccountDOB</name>
        <dataType>Date</dataType>
        <expression>{!rec_Opportunity.Account.DateOfBirth__c}</expression>
    </formulas>
    <formulas>
        <name>form_txtAccountFirstName</name>
        <dataType>String</dataType>
        <expression>{!rec_Opportunity.Account.FirstName}</expression>
    </formulas>
    <formulas>
        <name>form_txtAccountLastName</name>
        <dataType>String</dataType>
        <expression>{!rec_Opportunity.Account.LastName}</expression>
    </formulas>
    <interviewLabel>Autolaunch - Opportunity - Submit Lab Order Request - Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Opportunity - Submit Lab Order Request - Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lab_Order_Record</name>
        <label>Create Lab Order Record</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Get_Lab_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Creating_Lab_Order</targetReference>
        </faultConnector>
        <inputReference>rec_LabOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <description>We need to get the lab order because the Name is the request id and we need to set this.</description>
        <name>Get_Lab_Order</name>
        <label>Get Lab Order</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Lab_Order_Created_Valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Getting_Lab_Order</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_LabOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lab_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lab_Order_Where_Kit_Id</name>
        <label>Get Lab Order Where Kit Id</label>
        <locationX>1414</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lab_Order_Exist_Check_Kit_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Success_False_Getting_Lab_Orders</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Kit_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_Opportunity.Kit_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lab_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>573</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Flow_Entry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clear_Error_Message_Lab_Order</name>
        <label>Clear Error Message - Lab Order</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Does_Is_Error_null</targetReference>
        </connector>
        <flowName>Autolaunch_Global_Clear_Error_Message_from_Record</flowName>
        <inputAssignments>
            <name>rec_LabOrder</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_ObjectApiName</name>
            <value>
                <stringValue>Lab_Order__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rec_LabOrder</assignToReference>
            <name>rec_LabOrder</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>txt_addressValidationError</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Shipping address on the Lab Order is invalid:
{!rec_Opportunity.Error_Message__c}

Please correct the shipping address on the Lab Order record. Once the address is correct, manually submit this Lab Order by clicking on the &quot;Submit Order&quot; button</text>
    </textTemplates>
    <transforms>
        <name>Set_Lab_Order_Values</name>
        <label>Set Lab Order Values</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Set_Lab_Order_Status_Ordered</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Lab_Order__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Opportunity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Kit_Id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.Kit_Id__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Services_Rendered__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>{!txt_ServicesRendered}</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Request_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>txt_RequestType</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>IsError__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.isError__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Error_Message__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.Error_Message__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__City__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.Shipping_City__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__CountryCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>CASE(
    LOWER({!rec_Opportunity.Shipping_Country__c}), 
    &quot;united states&quot;, &quot;US&quot;,
    &quot;united states of america&quot;, &quot;US&quot;,
    &quot;usa&quot;, &quot;US&quot;,
    &quot;u.s.a.&quot;, &quot;US&quot;,
    &quot;u.s.&quot;, &quot;US&quot;,
    &quot;us of a&quot;, &quot;US&quot;,
    &quot;amerika&quot;, &quot;US&quot;,
    &quot;america&quot;, &quot;US&quot;,
    &quot;united states america&quot;, &quot;US&quot;,
    &quot;us america&quot;, &quot;US&quot;,
    &quot;us territory&quot;, &quot;US&quot;,
    &quot;us mainland&quot;, &quot;US&quot;,
    &quot;states&quot;, &quot;US&quot;,
    &quot;the states&quot;, &quot;US&quot;,
    &quot;canada&quot;, &quot;CA&quot;,
    &quot;ca&quot;, &quot;CA&quot;,
    &quot;cda&quot;, &quot;CA&quot;,
    &quot;can&quot;, &quot;CA&quot;,
    &quot;canuck land&quot;, &quot;CA&quot;,
    &quot;great white north&quot;, &quot;CA&quot;,
    &quot;quebec&quot;, &quot;CA&quot;,
    &quot;ontario&quot;, &quot;CA&quot;,
    &quot;mexico&quot;, &quot;MX&quot;,
    &quot;méxico&quot;, &quot;MX&quot;,
    &quot;mex&quot;, &quot;MX&quot;,
    &quot;mx&quot;, &quot;MX&quot;,
    &quot;méjico&quot;, &quot;MX&quot;,
    {!rec_Opportunity.Shipping_Country__c}
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__PostalCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.Shipping_Zip_Code__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__StateCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>CASE(
    LOWER({!rec_Opportunity.Shipping_State__c}), 
    &quot;alabama&quot;, &quot;AL&quot;,
    &quot;alaska&quot;, &quot;AK&quot;,
    &quot;arizona&quot;, &quot;AZ&quot;,
    &quot;arkansas&quot;, &quot;AR&quot;,
    &quot;california&quot;, &quot;CA&quot;,
    &quot;colorado&quot;, &quot;CO&quot;,
    &quot;connecticut&quot;, &quot;CT&quot;,
    &quot;delaware&quot;, &quot;DE&quot;,
    &quot;florida&quot;, &quot;FL&quot;,
    &quot;georgia&quot;, &quot;GA&quot;,
    &quot;hawaii&quot;, &quot;HI&quot;,
    &quot;idaho&quot;, &quot;ID&quot;,
    &quot;illinois&quot;, &quot;IL&quot;,
    &quot;indiana&quot;, &quot;IN&quot;,
    &quot;iowa&quot;, &quot;IA&quot;,
    &quot;kansas&quot;, &quot;KS&quot;,
    &quot;kentucky&quot;, &quot;KY&quot;,
    &quot;louisiana&quot;, &quot;LA&quot;,
    &quot;maine&quot;, &quot;ME&quot;,
    &quot;maryland&quot;, &quot;MD&quot;,
    &quot;massachusetts&quot;, &quot;MA&quot;,
    &quot;michigan&quot;, &quot;MI&quot;,
    &quot;minnesota&quot;, &quot;MN&quot;,
    &quot;mississippi&quot;, &quot;MS&quot;,
    &quot;missouri&quot;, &quot;MO&quot;,
    &quot;montana&quot;, &quot;MT&quot;,
    &quot;nebraska&quot;, &quot;NE&quot;,
    &quot;nevada&quot;, &quot;NV&quot;,
    &quot;new hampshire&quot;, &quot;NH&quot;,
    &quot;new jersey&quot;, &quot;NJ&quot;,
    &quot;new mexico&quot;, &quot;NM&quot;,
    &quot;new york&quot;, &quot;NY&quot;,
    &quot;north carolina&quot;, &quot;NC&quot;,
    &quot;north dakota&quot;, &quot;ND&quot;,
    &quot;ohio&quot;, &quot;OH&quot;,
    &quot;oklahoma&quot;, &quot;OK&quot;,
    &quot;oregon&quot;, &quot;OR&quot;,
    &quot;pennsylvania&quot;, &quot;PA&quot;,
    &quot;rhode island&quot;, &quot;RI&quot;,
    &quot;south carolina&quot;, &quot;SC&quot;,
    &quot;south dakota&quot;, &quot;SD&quot;,
    &quot;tennessee&quot;, &quot;TN&quot;,
    &quot;texas&quot;, &quot;TX&quot;,
    &quot;utah&quot;, &quot;UT&quot;,
    &quot;vermont&quot;, &quot;VT&quot;,
    &quot;virginia&quot;, &quot;VA&quot;,
    &quot;washington&quot;, &quot;WA&quot;,
    &quot;west virginia&quot;, &quot;WV&quot;,
    &quot;wisconsin&quot;, &quot;WI&quot;,
    &quot;wyoming&quot;, &quot;WY&quot;,
    {!rec_Opportunity.Shipping_State__c}
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address__Street__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.Shipping_Street_Address__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OwnerId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.OwnerId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>First_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF(
ISBLANK(LEFT({!rec_OpportunityLineItem.Customer_Name_GT__c}, FIND(&quot; &quot;,{!rec_OpportunityLineItem.Customer_Name_GT__c}) -1)),
{!form_txtAccountFirstName},
LEFT({!rec_OpportunityLineItem.Customer_Name_GT__c}, FIND(&quot; &quot;,{!rec_OpportunityLineItem.Customer_Name_GT__c}) -1)
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Date_of_Birth__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>IF(ISBLANK({!rec_OpportunityLineItem.Date_of_Birth__c}), {!form_dateAccountDOB}, {!rec_OpportunityLineItem.Date_of_Birth__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Last_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF(
ISBLANK(
MID({!rec_OpportunityLineItem.Customer_Name_GT__c}, FIND(&quot; &quot;, {!rec_OpportunityLineItem.Customer_Name_GT__c}) + 1, LEN({!rec_OpportunityLineItem.Customer_Name_GT__c}) - FIND(&quot; &quot;, {!rec_OpportunityLineItem.Customer_Name_GT__c}))
), 
{!form_txtAccountLastName},
MID({!rec_OpportunityLineItem.Customer_Name_GT__c}, FIND(&quot; &quot;, {!rec_OpportunityLineItem.Customer_Name_GT__c}) + 1, LEN({!rec_OpportunityLineItem.Customer_Name_GT__c}) - FIND(&quot; &quot;, {!rec_OpportunityLineItem.Customer_Name_GT__c}))
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Gender__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF(
    LOWER(LEFT({!rec_OpportunityLineItem.Gender__c}, 1)) = &quot;m&quot;, 
    &quot;Male&quot;, 
    IF(
        LOWER(LEFT({!rec_OpportunityLineItem.Gender__c}, 1)) = &quot;f&quot;, 
        &quot;Female&quot;, 
        &quot;&quot;
    )
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Patient_Height_cm__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_OpportunityLineItem.Patient_Height_cm__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Patient_Weight_kg__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_OpportunityLineItem.Patient_Weight_kg__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_OpportunityLineItem.Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Lab_Provider_Configuration__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.Lab_Provider__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Lab_Provider__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.Lab_Provider_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Patient__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_Opportunity.AccountId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Height__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_OpportunityLineItem.Patient_Height__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Weight__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rec_OpportunityLineItem.Patient_Weight__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Do_Not_Send_Emails__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>bool_DoNotSendEmail</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>Sets the flag on the Lab Order to be created</description>
        <name>bool_DoNotSendEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_IsRejection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rec_LabOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lab_Order__c</objectType>
    </variables>
    <variables>
        <name>rec_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>OpportunityLineItem belonging to the Opportunity that triggered Lab Order creation. This is passed in, and we use it to extract Customer Demographic Data</description>
        <name>rec_OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>txt_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txt_ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This can be used as a part of the ingest to allow creation of the lab order simpiler</description>
        <name>txt_ServicesRendered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
