temp_prod_retrieve/flows/Autolaunch_Commission_Summary_Setting_Creating_Summary_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error_Error_in_Creating_Commission_Summary_Record</name>
        <label>Log - Error - Error in Creating Commission Summary Record</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Error_Variables_Error_Creating_Commission_Summary_Record</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Creating Commission Summary Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_EmployeeAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_in_Getting_Commission_Rule_Group</name>
        <label>Log - Error - Error in Getting Commission Rule Group</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Error_Variables_Error_Getting_Commission_Rule_Group</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Getting Commission Rule Group</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_EmployeeAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_in_Getting_Commission_Summary_After_Creation</name>
        <label>Log - Error - Error in Getting Commission Summary After Creation</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Error_Variables_Error_Getting_Commission_Summary_After_Creation_of_Commissio</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Getting Commission Summary After Creation of Commission Summary Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_EmployeeAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Error_in_Getting_Commission_Summary_Records_for_Employee</name>
        <label>Log - Error - Error in Getting Commission Summary Records for Employee</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Error_Variables_Error_Getting_Commission_Summary</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Getting Commission Summary Records for Employee</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_EmployeeAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Failed_No_Commission_Rule_Group</name>
        <label>Log - Failed - No Commission Rule Group</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Missing Commission Rule Group on this Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_EmployeeAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Success_Found_Commission_Rule_Group</name>
        <label>Log - Success - Found Commission Rule Group and Summary</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_2_of_Assign_Record_for_Output</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Found Commission Rule Group and Summary for this Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_EmployeeAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Success_Found_Commission_Rule_Group_Created_Summary</name>
        <label>Log - Success - Found Commission Rule Group, Created Summary</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Commission_Summary_Values</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Found Commission Rule Group and Created Summary for this Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_EmployeeAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Commission_Rule_Group_for_Output</name>
        <label>Assign Commission Rule Group for Output</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rec_CommissionRuleGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Commission_Rule_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Commission_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commission_Summary_Values</name>
        <label>Assign Commission Summary Values</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rec_CommissionSummary.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_EmployeeAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_CommissionSummary.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>date_StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_CommissionSummary.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>date_EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_CommissionSummary.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_EmployeeAccount.Employee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Commission_Summary_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_for_Output</name>
        <label>Assign Record for Output</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>rec_CommissionSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Commission_Summary_Record_After_Before_Save</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Record_for_Output</name>
        <label>Assign Record for Output</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rec_CommissionSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Commission_Summary</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Variables_Error_Creating_Commission_Summary_Record</name>
        <label>Set Error Variables - Error Creating Commission Summary Record</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed in Creating Commission Summary Record. Please see logs for more details.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bool_IsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Variables_Error_Getting_Commission_Rule_Group</name>
        <label>Set Error Variables - Error Getting Commission Rule Group</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed in Getting Commission Rule Group for Referred By</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bool_IsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Variables_Error_Getting_Commission_Summary</name>
        <label>Set Error Variables - Error Getting Commission Summary</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed in Getting Commission Summary Records for Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bool_IsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Variables_Error_Getting_Commission_Summary_After_Creation_of_Commissio</name>
        <label>Set Error Variables - Error Getting Commission Summary After Creation of Commission Summary Record</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>txt_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed in Getting Commission Summary After Creation of Commission Summary Record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bool_IsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Commission_Summary_Autolaunch_Setting_Creating_Summary_Record</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Commission_Summary_Found</name>
        <label>Commission Summary Found?</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Log_Success_Found_Commission_Rule_Group_Created_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Commission Summary Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Commission_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Commission_Summary.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Success_Found_Commission_Rule_Group</targetReference>
            </connector>
            <label>Yes - Found Commission Summary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commissions_Activated</name>
        <label>Commissions Activated?</label>
        <locationX>1073</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No Commissions Not Activated</defaultConnectorLabel>
        <rules>
            <name>Yes_Commissions_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AutomationControlSettings__c.Commissions_Automations_Activated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Commission_Rule_Group</targetReference>
            </connector>
            <label>Yes - Commissions Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Commission_Rule_Group</name>
        <label>Found Commission Rule Group?</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Commission_Rule_Group_for_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - Found Commission Rule</defaultConnectorLabel>
        <rules>
            <name>No_No_Commission_Rule_Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Commission_Rule_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Failed_No_Commission_Rule_Group</targetReference>
            </connector>
            <label>No - No Commission Rule Group Found</label>
        </rules>
    </decisions>
    <description>This flow will return the current months/years Commission Summary record or create a new Commission Summary record and return that record.</description>
    <environments>Default</environments>
    <formulas>
        <name>date_EndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!date_StartDate},1) -1</expression>
    </formulas>
    <formulas>
        <name>date_StartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!txt_Year}),VALUE({!txt_Month}),1)</expression>
    </formulas>
    <interviewLabel>Autolaunch - Commission Summary - Setting/Creating Summary Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Commission Summary - Setting/Creating Summary Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Commission_Summary_Record</name>
        <label>Create Commission Summary Record</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Commission_Summary_Record_After_Before_Save</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_in_Creating_Commission_Summary_Record</targetReference>
        </faultConnector>
        <inputReference>rec_CommissionSummary</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Commission_Rule_Group</name>
        <label>Get Commission Rule Group</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Commission_Rule_Group</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_in_Getting_Commission_Rule_Group</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_EmployeeAccount.Commission_Rule_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Commission_Rule_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commission_Summary</name>
        <label>Get Commission Summary</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commission_Summary_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_in_Getting_Commission_Summary_Records_for_Employee</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_EmployeeAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_Year</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_Month_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_Month</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Commission_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commission_Summary_Record_After_Before_Save</name>
        <label>Get Commission Summary Record After Before Save</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_for_Output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Error_in_Getting_Commission_Summary_After_Creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_CommissionSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Commission_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Commissions_Activated</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>bool_IsError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Commission_Rules_by_Min_Max</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission_Rule__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Commission_Rules_to_Flat</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission_Rule__c</objectType>
    </variables>
    <variables>
        <name>rec_CommissionRuleGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Commission_Rule_Group__c</objectType>
    </variables>
    <variables>
        <name>rec_CommissionSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Commission_Summary__c</objectType>
    </variables>
    <variables>
        <name>rec_EmployeeAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>txt_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txt_Month</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_Year</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
