temp_prod_retrieve/flows/Record_Trigger_Opportunity_Create_Salesforce_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Debug_Product_and_Calendly_Action_Found</name>
        <label>Log - Debug - Product and Calendly Action Found</label>
        <locationX>407</locationX>
        <locationY>1032</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Salesforce_Appointment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Product and Calendly Action Found, starting subflow.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Info_Create_Salesforce_Appointment_Started</name>
        <label>Log - Info - Create Salesforce Appointment Started</label>
        <locationX>385</locationX>
        <locationY>276</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Appointment_Records_Tied_to_Opportunity</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!const_FlowApiName} Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_Action</name>
        <label>Save Log Action</label>
        <locationX>385</locationX>
        <locationY>1416</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Number_of_Appointments</name>
        <label>Count Number of Appointments</label>
        <locationX>385</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>num_AppointmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Appointment_Records_Tied_to_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Appointments</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Record_Trigger_Opportunity_Create_Salesforce_Appointment</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_there_Appointments</name>
        <label>Are there Appointments?</label>
        <locationX>385</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Appointments</defaultConnectorLabel>
        <rules>
            <name>Appointments_on_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_AppointmentCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Log_Action</targetReference>
            </connector>
            <label>Appointments on Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_Calendly_Action</name>
        <label>Did We Find Calendly Action</label>
        <locationX>539</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Save_Log_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Calendly Action Found</defaultConnectorLabel>
        <rules>
            <name>Calendly_Action_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Calendly_Action_Record</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Debug_Product_and_Calendly_Action_Found</targetReference>
            </connector>
            <label>Calendly Action Found</label>
        </rules>
    </decisions>
    <description>This flow will run when there is a Transaction Order Id to see if there is a Calendly Action Record that needs to be processed. If there is then the Calendly Action Record will be processed.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_txtCalendlySlug</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Opportunity_Products.Product_SKU__c}, &apos;BLO-4710-GRO-DRAW&apos;, &apos;blood-draw&apos;, &apos;BLO-4711-GRO-DRAW&apos;,&apos;iv&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Record Trigger - Opportunity - Create Salesforce Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Opportunity - Create Salesforce Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Appointment_Records_Tied_to_Opportunity</name>
        <label>Get Appointment Records Tied to Opportunity</label>
        <locationX>385</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>2.0</numberValue>
        </limit>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find the Calendly Action Record based on the Object Id field.</description>
        <name>Get_Calendly_Action_Record</name>
        <label>Get Calendly Action Record</label>
        <locationX>539</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Calendly_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__ObjectId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transaction_Source_Order_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Calendly__EventTypeSlug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_txtCalendlySlug</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendly__CalendlyAction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>539</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Calendly_Action_Record</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLO-4710-GRO-DRAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLO-4711-GRO-DRAW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction_Source_Order_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X2_Min_Delay</name>
            <connector>
                <targetReference>Log_Info_Create_Salesforce_Appointment_Started</targetReference>
            </connector>
            <label>2 Min Delay</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Salesforce_Appointment</name>
        <label>Create Salesforce Appointment</label>
        <locationX>407</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Save_Log_Action</targetReference>
        </connector>
        <flowName>Autolaunch_Create_Salesforce_Appointment</flowName>
        <inputAssignments>
            <name>rec_CalendyAction</name>
            <value>
                <elementReference>Get_Calendly_Action_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1160</triggerOrder>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>num_AppointmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
