temp_prod_retrieve/flows/Record_Trigger_Case_Assign_Round_Robin_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Debug_About_to_Update_Case_and_Counter_Tier_1</name>
        <label>Log - Debug - About to Update Case and Counter - Tier 1</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Records2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>About to Update Case and Counter</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_About_to_Update_Case_and_Counter_Tier_2</name>
        <label>Log - Debug - About to Update Case and Counter - Tier 2</label>
        <locationX>754</locationX>
        <locationY>1295</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>About to Update Case and Counter - Tier 2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Completed_Updated_to_Case_and_Counter</name>
        <label>Log - Debug - Completed Updated to Case and Counter</label>
        <locationX>1370</locationX>
        <locationY>1619</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log_Tier_One</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Completed Updated to Case and Counter - Tier 1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Completed_Updated_to_Case_and_Counter_Tier_2</name>
        <label>Log - Debug - Completed Updated to Case and Counter - Tier 2</label>
        <locationX>754</locationX>
        <locationY>1619</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log_Tier_Two</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Completed Updated to Case and Counter - Tier 2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Default_Outcome_Path_Executed</name>
        <label>Log - Debug - Default Outcome Path Executed</label>
        <locationX>1546</locationX>
        <locationY>539</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Tier One Path Executed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Tier_One_Path_Ended</name>
        <label>Log - Debug - Tier One Path Ended</label>
        <locationX>1282</locationX>
        <locationY>2111</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Tier One Path Ended</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Tier_One_Path_Executed</name>
        <label>Log - Debug - Tier One Path Executed</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Tier_One_Agents</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Tier One Path Executed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Tier_Two_Path_Ended</name>
        <label>Log - Debug - Tier Two Path Ended</label>
        <locationX>666</locationX>
        <locationY>2111</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Tier Two Path Ended</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Tier_Two_Path_Executed</name>
        <label>Log - Debug - Tier Two Path Executed</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Tier_Two_Agents</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Tier Two Path Executed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Info_Start_Flow</name>
        <label>Log - Info - Start Flow</label>
        <locationX>798</locationX>
        <locationY>323</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Should_Flow_Trigger</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!const_FlowApiName} Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>798</locationX>
        <locationY>2303</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_Tier_One</name>
        <label>Save Log - Tier One</label>
        <locationX>1370</locationX>
        <locationY>1727</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_Tier_Two</name>
        <label>Save Log - Tier Two</label>
        <locationX>754</locationX>
        <locationY>1727</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Current_Loop</name>
        <label>Current Loop</label>
        <locationX>886</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Agent_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Tier_1_Agents</name>
        <label>Count Number of Tier 1 Agents</label>
        <locationX>1282</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NumberofAgents</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Tier_One_Agents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tier_One_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Tier_2_Agents</name>
        <label>Count Number of Tier 2 Agents</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NumberofAgents</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Tier_Two_Agents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tier_Two_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Loop</name>
        <label>Current Loop</label>
        <locationX>1502</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Agent_Record2</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Record_Trigger_Case_Assign_Round_Robin_Cases</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Evaluate_Agent_Record</name>
        <label>Evaluate Agent Record</label>
        <locationX>886</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Agent_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agent_is_Next_in_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TierTwoNextAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Debug_About_to_Update_Case_and_Counter_Tier_2</targetReference>
            </connector>
            <label>Agent is Next in Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Agent_Record2</name>
        <label>Evaluate Agent Record</label>
        <locationX>1502</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Agent_Loop2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agent_is_Next_in_Queue2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TierOneNextAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Debug_About_to_Update_Case_and_Counter_Tier_1</targetReference>
            </connector>
            <label>Agent is Next in Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Flow_Trigger</name>
        <label>Should Flow Trigger</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Log_Debug_Default_Outcome_Path_Executed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_this_an_automated_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AutomatedProcess</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dispo_Level_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Owner</targetReference>
            </connector>
            <label>Is this an automated process</label>
        </rules>
        <rules>
            <name>Escalated_Case_Tier_Two</name>
            <conditionLogic>(1  AND 2) or (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dispo_Level_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EscalatedTrigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Debug_Tier_Two_Path_Executed</targetReference>
            </connector>
            <label>Escalated Case Tier Two</label>
        </rules>
        <rules>
            <name>New_Case_Tier_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dispo_Level_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Debug_Tier_One_Path_Executed</targetReference>
            </connector>
            <label>New Case Tier One</label>
        </rules>
    </decisions>
    <description>Round Robin Configuration to provide Tier 1 and Tier 2 assignment of cases</description>
    <environments>Default</environments>
    <formulas>
        <name>EscalatedTrigger</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK($Record__Prior.Id)),
  NOT(ISPICKVAL($Record__Prior.Dispo_Level_3__c, &apos;Escalation&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>IsRecordNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.Name}</expression>
    </formulas>
    <formulas>
        <name>TierOneNextAvailable</name>
        <dataType>Number</dataType>
        <expression>MOD({!Get_Tier_One_Counter.Counter__c} - 1, {!NumberofAgents}) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TierOneNextCounter</name>
        <dataType>Number</dataType>
        <expression>{!TierOneNextAvailable}  +1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TierTwoNextAvailable</name>
        <dataType>Number</dataType>
        <expression>MOD({!Get_Tier_Two_Counter.Counter__c} -1, {!NumberofAgents}) +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TierTwoNextCounter</name>
        <dataType>Number</dataType>
        <expression>{!TierTwoNextAvailable} +1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Record Trigger - Case - Assign Round Robin Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Case - Assign Round Robin Cases</label>
    <loops>
        <name>Evaluate_Agent_Loop</name>
        <label>Evaluate Agent Loop</label>
        <locationX>666</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Tier_Two_Agents</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Current_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Log_Debug_Tier_Two_Path_Ended</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Evaluate_Agent_Loop2</name>
        <label>Evaluate Agent Loop</label>
        <locationX>1282</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Tier_One_Agents</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Log_Debug_Tier_One_Path_Ended</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tier_One_Agents</name>
        <label>Get Tier One Agents</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Tier_1_Agents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tier_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier One</stringValue>
            </value>
        </filters>
        <filters>
            <field>Out_of_Office__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Agents_Assignment__c</object>
        <sortField>Sequence_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tier_One_Counter</name>
        <label>Get Tier One Counter</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Agent_Loop2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tier_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier One</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseRoundRobin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tier_Two_Agents</name>
        <label>Get Tier Two Agents</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Tier_2_Agents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tier_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier Two</stringValue>
            </value>
        </filters>
        <filters>
            <field>Out_of_Office__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Agents_Assignment__c</object>
        <sortField>Sequence_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tier_Two_Counter</name>
        <label>Get Tier Two Counter</label>
        <locationX>666</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Agent_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tier_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier Two</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseRoundRobin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Primary_Owner</name>
        <label>Assign Primary Owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Case_Owner__c</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records2</name>
        <label>Update Records</label>
        <locationX>1370</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Update_Tier_1_Counter</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Evaluate_Agent_Loop2.Agent_SF_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Case_Owner__c</field>
            <value>
                <elementReference>Evaluate_Agent_Loop2.Agent_SF_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records</label>
        <locationX>754</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Update_Tier_2_Counter</targetReference>
        </connector>
        <inputAssignments>
            <field>Escalated_Case_Owner__c</field>
            <value>
                <elementReference>Evaluate_Agent_Loop.Agent_SF_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Evaluate_Agent_Loop.Agent_SF_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tier_1_Counter</name>
        <label>Update Tier 1 Counter</label>
        <locationX>1370</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Log_Debug_Completed_Updated_to_Case_and_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tier_One_Counter.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Counter__c</field>
            <value>
                <elementReference>TierOneNextCounter</elementReference>
            </value>
        </inputAssignments>
        <object>CaseRoundRobin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tier_2_Counter</name>
        <label>Update Tier 2 Counter</label>
        <locationX>754</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Log_Debug_Completed_Updated_to_Case_and_Counter_Tier_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tier_Two_Counter.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Counter__c</field>
            <value>
                <elementReference>TierTwoNextCounter</elementReference>
            </value>
        </inputAssignments>
        <object>CaseRoundRobin__c</object>
    </recordUpdates>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Info_Start_Flow</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.RecordType.DeveloperName} = &apos;Customer_Experience&apos;,
NOT(ISPICKVAL({!$Record.Status}, &quot;Closed&quot;)),
NOT(ISPICKVAL({!$Record.Status}, &quot;Completed&quot;)),
NOT(ISPICKVAL({!$Record.Status}, &quot;Merged&quot;))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>400</triggerOrder>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberofAgents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TierCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
