temp_prod_retrieve/flows/Record_Trigger_Account_Validate_Shipping_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_Shipping_Address</name>
        <label>Validate Shipping Address</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <actionName>mc_ValidateAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>googleApiKey</name>
            <value>
                <elementReference>$Label.Google_Maps_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mc_ValidateAddress</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Account - Validate Shipping Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Account - Validate Shipping Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Validate_Shipping_Address.results.result.uspsData.standardizedAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <stringValue>UNITED STATES</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLatitude</field>
            <value>
                <elementReference>Validate_Shipping_Address.results.result.geocode.location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingLongitude</field>
            <value>
                <elementReference>Validate_Shipping_Address.results.result.geocode.location.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Validate_Shipping_Address.results.result.uspsData.standardizedAddress.zipCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Validate_Shipping_Address.results.result.uspsData.standardizedAddress.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Validate_Shipping_Address.results.result.uspsData.standardizedAddress.firstAddressLine</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>((1 OR 2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8)) AND ( 9 OR 10 )</filterLogic>
        <filters>
            <field>ShippingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingState</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingStreet</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShippingLatitude</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingLongitude</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Validate_Shipping_Address</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>400</triggerOrder>
</Flow>
