temp_prod_retrieve/flows/Record_Trigger_Opportunity_Automate_Shipping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Number_of_Records</name>
        <label>Count Number of Records</label>
        <locationX>605</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>num_CountLacore</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Fulfillment_Lacore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>num_CountDavinic</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Fulfillment_Davinic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Products_Fulfilled_By_Lacore</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Fulfillment_Davinic</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Fulfillment - Davinic</label>
        <locationX>605</locationX>
        <locationY>600</locationY>
        <assignNextValueToReference>currentItem_Filter_Fulfillment_Davinic</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Opportunity_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Fulfillment_Davinic.Fulfilled_By__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Davinic</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Number_of_Records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Fulfillment_Lacore</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Fulfillment - Lacore</label>
        <locationX>605</locationX>
        <locationY>492</locationY>
        <assignNextValueToReference>currentItem_Filter_Fulfillment_Lacore_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Opportunity_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Fulfillment_Lacore_0.Fulfilled_By__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Lacore</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Fulfillment_Davinic</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>This decision will call the subflows if everything matches</description>
        <name>Are_There_Products_Fulfilled_By_Lacore</name>
        <label>Are There Products Fulfilled By Lacore</label>
        <locationX>605</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>No Lacore Items</defaultConnectorLabel>
        <rules>
            <name>There_Are_Items</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>num_CountLacore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>num_CountDavinic</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fulfillment_Orders</targetReference>
            </connector>
            <label>There Are Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stop_Orders_Gap</name>
        <label>Stop Orders - Gap</label>
        <locationX>407</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_All_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Affiliate_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transaction_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Social_Sales_Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TikTok</stringValue>
                </rightValue>
            </conditions>
            <label>Affiliate Order</label>
        </rules>
    </decisions>
    <description>This flow is designed to use the Fulfilled by field on the Opportunity Products to determine if a shipment record needs to be auto generated.</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Opportunity - Automate Shipping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Opportunity - Automate Shipping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opportunity_Products</name>
        <label>Get All Opportunity Products</label>
        <locationX>605</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Fulfillment_Lacore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Stop_Orders_Gap</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Fulfillment_Orders</name>
        <label>Create Fulfillment Orders</label>
        <locationX>473</locationX>
        <locationY>924</locationY>
        <flowName>Autolaunch_Create_Order_for_Fulfilled_By_Items</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1060</triggerOrder>
    <variables>
        <name>currentItem_Filter_Fulfillment_Davinic</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Fulfillment_Lacore_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>num_CountDavinic</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>num_CountLacore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
