temp_prod_retrieve/flows/Record_Trigger_Patient_Agreement_Upload_GT_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Upload_GT_Document</name>
        <label>Upload GT Document</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <actionName>gt_UploadDocument</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>async</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>labOrder</name>
            <value>
                <elementReference>Get_Open_Lab_Order</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>apexDefined_UploadDocumentRequest</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gt_UploadDocument</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Upload_Document_Values</name>
        <label>Set Upload Document Values</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>apexDefined_UploadDocumentRequest.documentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agreement_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_UploadDocumentRequest.request_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Lab_Order.Request_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_UploadDocumentRequest.kitID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Lab_Order.Kit_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_UploadDocumentRequest.labProviderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Lab_Order.Lab_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_UploadDocumentRequest.signedBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_PatientName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_UploadDocumentRequest.signedDateInUTC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_Signed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_UploadDocumentRequest.signedDocumentVersionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefined_UploadDocumentRequest.contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_GT_Document</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_find_a_Content_Document_Link</name>
        <label>Did We find a Content Document Link</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>No Content Document Link</defaultConnectorLabel>
        <rules>
            <name>Found_Content_Document_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Upload_Document_Values</targetReference>
            </connector>
            <label>Found Content Document Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_A_Lab_Order</name>
        <label>Did We Find A Lab Order</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No Lab Order</defaultConnectorLabel>
        <rules>
            <name>Found_Lab_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Lab_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Document_Link</targetReference>
            </connector>
            <label>Found Lab Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the related Opportunity Record Type</description>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>NOT Genetic Testing</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genetic_Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Lab_Order</targetReference>
            </connector>
            <label>IS Genetic Testing</label>
        </rules>
    </decisions>
    <description>Record Trigger flow that when a Patient Agreement is Signed and Approved and there is a linked Opportunity that is a Genetic Test Record Type calls the gt_UploadDocument apex class</description>
    <environments>Default</environments>
    <formulas>
        <name>form_PatientName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Patient__r.FirstName} + {!$Record.Patient__r.LastName}</expression>
    </formulas>
    <interviewLabel>Record Trigger - Patient Agreement - Upload GT Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Patient Agreement - Upload GT Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_find_a_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Lab_Order</name>
        <label>Get Open Lab Order</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_A_Lab_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled 10x</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled Lab</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lab_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_Signed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Patient_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Opportunity_Record_Type</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>apexDefined_UploadDocumentRequest</name>
        <apexClass>gt_DTO_UploadDocumentRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
