temp-flows/flows/Autolaunch_Lab_Order_Update_Lab_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Create_Collection_Failed</name>
        <label>Log Create Collection Failed</label>
        <locationX>1128</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Lab_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Create_Collection_of_Requested_Items.txt_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_Getting_Opportunity</name>
        <label>Log Error Getting Opportunity</label>
        <locationX>1656</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Getting Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Update_Order</name>
        <label>Log - Fault - Update Order</label>
        <locationX>1392</locationX>
        <locationY>3446</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Updating Lab Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Entry</name>
        <label>Log Flow Entry</label>
        <locationX>754</locationX>
        <locationY>134</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clear_Error_Message_Lab_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Autolaunch - Lab Order - Update Lab Order Flow Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Order_Held</name>
        <label>Log Order Held</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Lab_Order_Status_and_Reason</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Status changed from Order Held to Ordered</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_PGT_Kit_Not_Registered</name>
        <label>Log - PGT Kit Not Registered</label>
        <locationX>160</locationX>
        <locationY>1514</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>What_Service_is_Being_Rendered</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>PGT Opportunity Is Not Registered - Skipping Shipping Check</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_PGT_Service_Skip_Demographic_Check</name>
        <label>Log - PGT Service - Skip Demographic Check</label>
        <locationX>248</locationX>
        <locationY>1922</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Map_APEX_Class_OrderRequest</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>PGT Opportunity Is Not Registered - Skipping Demographic Check</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Successfully_Created_Collection_of_Requested_Items</name>
        <label>Log Successfully Created Collection of Requested Items</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Status_in_Order_Held</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully Created Collection of Requested Items</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Update_Order_API_Failed</name>
        <label>Log - Update Order API Failed</label>
        <locationX>578</locationX>
        <locationY>2546</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Lab_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>txt_ApiFailed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Update_Order_API_Fault</name>
        <label>Log - Update Order API - Fault</label>
        <locationX>864</locationX>
        <locationY>2438</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Lab_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error updating Lab Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Update_Order_API_Success</name>
        <label>Log - Update Order API Success</label>
        <locationX>182</locationX>
        <locationY>2954</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Lab_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Lab Order has been Successfully Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>754</locationX>
        <locationY>3338</locationY>
        <actionName>Nebula__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nebula__Logger</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Lab_Order_Request</name>
        <label>Update Lab Order Request</label>
        <locationX>380</locationX>
        <locationY>2222</locationY>
        <actionName>gt_UpdateOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_API_Call_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>async</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>labOrder</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>Map_APEX_Class_OrderRequest.apexDefined_OrderRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipDemographicCheck</name>
            <value>
                <elementReference>bool_SkipDemographicCheck</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipShippingCheck</name>
            <value>
                <elementReference>bool_SkipShippingCheck</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gt_UpdateOrder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Dates_on_Lab_Oder_Success</name>
        <label>Set Dates on Lab Oder - Success</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Last_Reship_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Last_Reorder_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Height_and_Weight</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Failed</name>
        <label>Set Error Message - Failed</label>
        <locationX>578</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_SubmitLabOrderErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>See Error Message</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Held</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Update_Order_API_Failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Failed_Requested_Items</name>
        <label>Set Error Message - Failed Requested Items</label>
        <locationX>1128</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Collection_of_Requested_Items.txt_ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Held</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Missing Demographics</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Create_Collection_Failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Fault</name>
        <label>Set Error Message - Fault</label>
        <locationX>864</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Held</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>See Error Message</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Update_Order_API_Fault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Fault_Update</name>
        <label>Set Error Message - Fault Update</label>
        <locationX>1392</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.IsError__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Held</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>See Error Message</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Fault_Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uses the height and weight metric calculation from Map Apex Class and assigns the values to the Lab Order</description>
        <name>Set_Height_and_Weight</name>
        <label>Set Height and Weight</label>
        <locationX>182</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Patient_Height_cm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_APEX_Class_OrderRequest.apexDefined_OrderRequest.height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Patient_Weight_kg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_APEX_Class_OrderRequest.apexDefined_OrderRequest.weight</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Is_the_Requested_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Initial_Submission_Date_and_Lab_Order_Date</name>
        <label>Set Initial Submission Date and Lab Order Date</label>
        <locationX>314</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Date_Sent_to_Lab__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Date_Sent_to_Distribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Update_Order_API_Success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Just_the_Initial_Submission_Date</name>
        <label>Set Just the Initial Submission Date</label>
        <locationX>50</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Date_Sent_to_Distribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Update_Order_API_Success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lab_Order_Status_and_Reason</name>
        <label>Set Lab Order Status and Reason</label>
        <locationX>248</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_Services_Rendered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Services_Rendered</name>
        <label>Set Services Rendered</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>rec_LabOrder.Services_Rendered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Collection_of_Requested_Items.rec_OpportunityLineItem.Product2.Services_Provided__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_this_Kit_Need_Shipped</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We will set Skip Demographic to true because the first submission for a Precision Genetic Test is to the 3PL which ships the kit to the patient. Until they register is only when we know who they are.</description>
        <name>Set_Skip_Demographic_Check_TRUE</name>
        <label>Set Skip Demographic Check = TRUE</label>
        <locationX>248</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>bool_SkipDemographicCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_PGT_Service_Skip_Demographic_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Since this will be in person we don&apos;t need to check the shipping address before submitting the request</description>
        <name>Set_Skip_Shipping_Check_TRUE</name>
        <label>Set Skip Shipping Check = TRUE</label>
        <locationX>160</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>bool_SkipShippingCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_PGT_Kit_Not_Registered</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Autolaunch_Lab_Order_Update_Lab_Order</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_we_fail_at_creating_the_Requested_Items</name>
        <label>Did we fail at creating the Requested Items</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_Failed_Requested_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success_Requested_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Collection_of_Requested_Items.bool_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Successfully_Created_Collection_of_Requested_Items</targetReference>
            </connector>
            <label>Success - Requested Items</label>
        </rules>
    </decisions>
    <decisions>
        <description>Here we check the product and if the product needs shipped or not. If not then we can continue, else we can skip the Shipping checks in Apex as well.</description>
        <name>Does_this_Kit_Need_Shipped</name>
        <label>Does this Kit Need Shipped</label>
        <locationX>380</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Skip_Shipping_Check_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In-Person</defaultConnectorLabel>
        <rules>
            <name>PGT_Kit_is_not_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_LabOrder.Is_Kit_Registered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Collection_of_Requested_Items.rec_OpportunityLineItem.PricebookEntry.Product2.Services_Provided__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Genetic Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Skip_Shipping_Check_TRUE</targetReference>
            </connector>
            <label>PGT Kit is not Registered</label>
        </rules>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Collection_of_Requested_Items.rec_OpportunityLineItem.PricebookEntry.Product2.Requires_Shipping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Service_is_Being_Rendered</targetReference>
            </connector>
            <label>Requires Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_in_Order_Held</name>
        <label>Is Status in Order Held</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Services_Rendered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in Order Held</defaultConnectorLabel>
        <rules>
            <name>Status_is_in_Ordered_Held</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_LabOrder.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Held</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Order_Held</targetReference>
            </connector>
            <label>Status is in Ordered Held</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_API_Call_Success</name>
        <label>Was API Call Success</label>
        <locationX>380</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success_API</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Lab_Order_Request.results.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dates_on_Lab_Oder_Success</targetReference>
            </connector>
            <label>Success - API</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Is_the_Requested_Service</name>
        <label>What Is the Requested Service</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Set_Initial_Submission_Date_and_Lab_Order_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Precision_Genetic_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_LabOrder.Services_Rendered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Genetic Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Just_the_Initial_Submission_Date</targetReference>
            </connector>
            <label>Precision Genetic Test</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on what type of service we are performing, we will need to exclude certain checks from Apex. When this is Precision Genetic Test we are not doing checks for an Demographic details because we first need to send it to a 3PL to ship the kit to the patient.</description>
        <name>What_Service_is_Being_Rendered</name>
        <label>What Service is Being Rendered</label>
        <locationX>380</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Map_APEX_Class_OrderRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Services</defaultConnectorLabel>
        <rules>
            <name>Precision_Genetic_Test_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_LabOrder.Services_Rendered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Precision Genetic Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_LabOrder.Is_Kit_Registered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Skip_Demographic_Check_TRUE</targetReference>
            </connector>
            <label>Precision Genetic Test Service</label>
        </rules>
    </decisions>
    <description>This flow will update an order to the internal API to the lab with the changes. This does a POST to the submitupdate API endpoint.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_boolValidate</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!bool_IsValidation}, TRUE,
IF(ISPICKVAL({!rec_LabOrder.Services_Rendered__c}, &quot;Precision Genetic Test&quot;) &amp;&amp; NOT({!rec_LabOrder.Is_Kit_Registered__c}), FALSE, TRUE))</expression>
    </formulas>
    <interviewLabel>Autolaunch - Lab Order - Update Lab Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Lab Order - Update Lab Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collection_of_Requested_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Getting_Opportunity</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_LabOrder.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lab_Order</name>
        <label>Update Lab Order</label>
        <locationX>754</locationX>
        <locationY>3230</locationY>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_Fault_Update</targetReference>
        </faultConnector>
        <inputReference>rec_LabOrder</inputReference>
    </recordUpdates>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Flow_Entry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clear_Error_Message_Lab_Order</name>
        <label>Clear Error Message - Lab Order</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <flowName>Autolaunch_Global_Clear_Error_Message_from_Record</flowName>
        <inputAssignments>
            <name>rec_LabOrder</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_ObjectApiName</name>
            <value>
                <stringValue>Lab_Order__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rec_LabOrder</assignToReference>
            <name>rec_LabOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Collection_of_Requested_Items</name>
        <label>Create Collection of Requested Items</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Did_we_fail_at_creating_the_Requested_Items</targetReference>
        </connector>
        <flowName>Autolaunch_Lab_Order_Create_Collection_of_Serviceable_Items_and_Their_Lab_SKU_s</flowName>
        <inputAssignments>
            <name>bool_Validate</name>
            <value>
                <elementReference>form_boolValidate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rec_Opportunity</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Map_APEX_Class_OrderRequest</name>
        <label>Map APEX Class - OrderRequest</label>
        <locationX>380</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_Lab_Order_Request</targetReference>
        </connector>
        <flowName>Autolaunch_Lab_Order_Map_APEX_Defined_Order_Request</flowName>
        <inputAssignments>
            <name>col_txtRequestedItems</name>
            <value>
                <elementReference>Create_Collection_of_Requested_Items.col_txtRequestedItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rec_LabOrder</name>
            <value>
                <elementReference>rec_LabOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rec_Opportunity</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rec_OpportunityLineItem</name>
            <value>
                <elementReference>Create_Collection_of_Requested_Items.rec_OpportunityLineItem</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>txt_ApiFailed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>API Call Failed - Update Order
{!Update_Lab_Order_Request.results.errorMessage}</text>
    </textTemplates>
    <textTemplates>
        <name>txt_SubmitLabOrderErrorMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Update_Lab_Order_Request.results.errorMessage}
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>bool_IsValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_SkipDemographicCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_SkipShippingCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rec_LabOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lab_Order__c</objectType>
    </variables>
</Flow>
