temp-flows/flows/Record_Trigger_Account_Account_Sync_To_External_Systems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Debug_Create_External_system_flag</name>
        <label>Log - Debug - Create External system flag</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Update_Account_in_External_System</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>External system flag is created successfully </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Created_Update_Account_in_external_system_success</name>
        <label>Log - Debug - Created/Update Account in external system success</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account is created/updated in external system</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Get_patient_created_flag_run_success</name>
        <label>Log - Debug - Get patient created flag run success</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flag_Exists</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Get Patient Created Flag successfully run</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Create_External_System_flag</name>
        <label>Log - Fault - Create External System flag</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while creating external system flag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Get_patient_created_flag</name>
        <label>Log - Fault - Get patient created flag</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while fetching Patient created flag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Flag_exist</name>
        <label>Log - Flag exist</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Flag exist so exiting the flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_initialized</name>
        <label>Log - initialized</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Patient_Created_Flag</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!const_FlowName} Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_External_System_Flag_Values</name>
        <label>Assign External System Flag Values</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rec_ExternalFlag.Target_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ExternalFlag.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>External Systems Syncing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_External_System_Flag</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Record_Trigger_Account_Account_Sync_To_External_Systems</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Flag_Exists</name>
        <label>Flag Exists</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_External_System_Flag_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Created_Flag.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Flag_exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This triggered flow will sync with the external API system to keep the Patient data updated in all remote systems.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_EventType</name>
        <dataType>String</dataType>
        <expression>IF( ISNEW(), &apos;CreateAccount&apos;, &apos;UpdateAccount&apos;)</expression>
    </formulas>
    <formulas>
        <name>form_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISNEW(), TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Record Trigger - Account - Account Sync To External Systems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Account - Account Sync To External Systems - Update/Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_External_System_Flag</name>
        <label>Create External System Flag</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Log_Debug_Create_External_system_flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Create_External_System_flag</targetReference>
        </faultConnector>
        <inputReference>rec_ExternalFlag</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Patient_Created_Flag</name>
        <label>Get Patient Created Flag</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Debug_Get_patient_created_flag_run_success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Get_patient_created_flag</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Target_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient Created</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admin_Flag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_initialized</targetReference>
        </connector>
        <filterFormula>({!$Record.RecordType.DeveloperName} = &apos;Patient_Account_Record_Type&apos; || {!$Record.RecordType.DeveloperName} = &apos;Employee_Account_Record_Type&apos;)
&amp;&amp; (
ISNEW() ||
ISCHANGED({!$Record.PersonEmail}) ||
ISCHANGED({!$Record.PersonMobilePhone}) ||
ISCHANGED({!$Record.Phone}) ||
ISCHANGED({!$Record.DateOfBirth__c}) || 
ISCHANGED({!$Record.BillingCity}) ||
ISCHANGED({!$Record.BillingCountry}) ||
ISCHANGED({!$Record.BillingState}) ||
ISCHANGED({!$Record.BillingStreet}) ||
ISCHANGED({!$Record.BillingPostalCode}) ||
ISCHANGED({!$Record.ShippingCity}) ||
ISCHANGED({!$Record.ShippingCountry}) ||
ISCHANGED({!$Record.ShippingState}) ||
ISCHANGED({!$Record.ShippingStreet}) ||
ISCHANGED({!$Record.ShippingPostalCode}) ||
ISCHANGED({!$Record.Gender__c}) || 
ISCHANGED({!$Record.FirstName}) || 
ISCHANGED({!$Record.LastName}) ||
(ISCHANGED({!$Record.TRIG_SHOPIFY_SYNC__c}) &amp;&amp; {!$Record.TRIG_SHOPIFY_SYNC__c})
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Update_Account_in_External_System</name>
        <label>Create/Update Account in External System</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Log_Debug_Created_Update_Account_in_external_system_success</targetReference>
        </connector>
        <flowName>Autolaunch_Account_Sync_To_External_Systems</flowName>
        <inputAssignments>
            <name>bool_IsNew</name>
            <value>
                <elementReference>form_IsNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rec_Account</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>txt_EventType</name>
            <value>
                <elementReference>form_EventType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>txt_AddressError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;ERROR&lt;/strong&gt;: Not able to Synchronize Patient Account due to missing billing address information&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Make sure to enter a full Billing Address for the patient&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>800</triggerOrder>
    <variables>
        <name>rec_ExternalFlag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Admin_Flag__c</objectType>
    </variables>
</Flow>
