temp-flows/flows/Record_Trigger_ShipStation_Shipment_Order_Shipped.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Compare_Collections</name>
        <label>Compare Collections</label>
        <locationX>352</locationX>
        <locationY>600</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Counts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>OrderItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>OrderItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>OrderItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>Get_Order_items</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Product2Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>Get_Opportunity_Line_Items</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Product2Id</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Count_Match_Update_Opportunity_Status</name>
        <label>Log - Debug - Count Match Update Opportunity Status</label>
        <locationX>440</locationX>
        <locationY>1248</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>sstation__ShipStation_Shipment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Count Match Update Opportunity Status To Order Shipped</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Debug_Unique_Source_Count_and_Unique_Target_Count</name>
        <label>Log - Debug - Unique Source Count and Unique Target Count</label>
        <locationX>352</locationX>
        <locationY>816</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Opportunity_Values</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>sstation__ShipStation_Shipment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unique Source Count - {!num_CountSourceUnique} and Unique Target Count - {!num_CountTargetUnique}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Error_Updating_Opportunity_Record</name>
        <label>Log - Fault - Error Updating Opportunity Record</label>
        <locationX>968</locationX>
        <locationY>1548</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>sstation__ShipStation_Shipment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating Opportunity Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Error_Updating_Order_Record</name>
        <label>Log - Fault - Error Updating Order Record</label>
        <locationX>704</locationX>
        <locationY>1656</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>sstation__ShipStation_Shipment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating Order Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Initialized</name>
        <label>Log - Initialized</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>sstation__ShipStation_Shipment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>const_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!$User.FirstName} {!$User.LastName} Started Flow Record_Trigger_ShipStation_Shipment_Order_Shipped</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Counts</name>
        <label>Set Counts</label>
        <locationX>352</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>num_CountSourceUnique</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Compare_Collections.sourceUniqueRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>num_CountTargetUnique</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Compare_Collections.targetUniqueRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Debug_Unique_Source_Count_and_Unique_Target_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_To_Closed_And_Update_Status_To_Order_Shipped</name>
        <label>Set Opportunity To Closed And Update Status To Order Shipped</label>
        <locationX>440</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Opportunity_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Shipped</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Debug_Count_Match_Update_Opportunity_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Values</name>
        <label>Set Opportunity Values</label>
        <locationX>352</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>rec_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sstation__Order__r.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.First_Shipping_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sstation__Shipping_Carrier_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.First_Tracking_Num__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sstation__Tracking_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Opportunity.First_Shipping_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Counts_Match</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Counts_Match</name>
        <label>Do Counts Match</label>
        <locationX>352</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_To_Closed_And_Update_Status_To_Order_Shipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Discrepancies</defaultConnectorLabel>
        <rules>
            <name>Discrepancy_in_Counts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>num_CountSourceUnique</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>num_CountTargetUnique</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Discrepancy in Counts</label>
        </rules>
    </decisions>
    <description>When a new ship station shipment record gets created, and there is a tracking number we want to update the Order to completed and update the opportunity tracking information and the stage.</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - ShipStation Shipment - Order Shipped {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - ShipStation Shipment - Order Shipped</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sstation__Order__r.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipping Supplements</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sales Tax</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_items</name>
        <label>Get Order items</label>
        <locationX>352</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sstation__Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipping Supplements</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sales Tax</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>352</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Update_the_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Error_Updating_Opportunity_Record</targetReference>
        </faultConnector>
        <inputReference>rec_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Order</name>
        <label>Update the Order</label>
        <locationX>352</locationX>
        <locationY>1548</locationY>
        <faultConnector>
            <targetReference>Log_Fault_Error_Updating_Order_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Reconciled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.sstation__Order__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sstation__Tracking_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sstation__ShipStation_Shipment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Log_Initialized</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>const_FlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Record_Trigger_ShipStation_Shipment_Order_Shipped</stringValue>
        </value>
    </variables>
    <variables>
        <name>num_CountSourceUnique</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>num_CountTargetUnique</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rec_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
