temp-flows/flows/Screenflow_Lab_Order_Cancel_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>We use APEX to make the Callout.</description>
        <name>Cancel_GT_Order</name>
        <label>Cancel GT Order</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>gt_CancelOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_API_Call_Successfull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_API_Cancellation</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>async</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>labOrder</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>Map_Cancel_Request_Values</elementReference>
            </value>
        </inputParameters>
        <nameSegment>gt_CancelOrder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Log_Initialized</name>
        <label>Log - Not Request Id</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>No_Request_Id_On_Lab_Order_Can_t_Cancel</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No Request Id Found on Lab Order, Cancellation did not happen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_In_Sending_Email</name>
        <label>Error In Sending Email</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Sending Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Cancellation_Not_Supported</name>
        <label>Log - Cancellation Not Supported</label>
        <locationX>1766</locationX>
        <locationY>350</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lab_Doesn_t_Support_Cancellation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!recordId.Lab_Provider__c} Does&apos;t Support Canceling Orders</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Email_Successfully_Sent</name>
        <label>Log - Email Successfully Sent</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Cancellation_Status_postEmail</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Cancel Lab Order Email was Sent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_API_Cancellation</name>
        <label>Log - Error - API - Cancellation</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_API_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>Cancel_GT_Order.results.errorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Cancellation of Lab Order Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_API_Cancellation</name>
        <label>Log - Fault - API - Cancellation</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Cancellation of Lab Order Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Update_Lab_Order_Cancellation</name>
        <label>Log - Fault - Update Lab Order - Cancellation</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Fault_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Update of Lab Order Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Fault_Update_Lab_Order_Cancellation_Post_Email</name>
        <label>Log - Fault - Update Lab Order - Cancellation Post Email</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Fault_Error_Post_Email</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Update of Lab Order Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Initialized</name>
        <label>Log - Initialized</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Does_Lab_Support_API_Cancellations</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!$User.FirstName} {!$User.LastName} pressed Cancel Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Lab_Order_Cancelled_Successfully</name>
        <label>Log - Lab Order Cancelled Successfully</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Order_Cancelled</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Cancellation of Lab Order was Successful</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Lab_Order_Cancelled_Successfully_Post_Email</name>
        <label>Log - Lab Order Cancelled Successfully Post Email</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailSuccessScreen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lab_Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>txt_FlowApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Cancellation of Lab Order was Successful</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Cancel_Email</name>
        <label>Send Email To Cancel Email</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Log_Email_Successfully_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_In_Sending_Email</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!recordId.Opportunity__r.Lab_Provider__r.Customer_Support_Email__c},technology@10xhealthsystem.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>cancelOrderSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>cancelOrderEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Here is the values we set the updated values on the Lab Order</description>
        <name>Set_Lab_Order_Values</name>
        <label>Set Lab Order Values</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>radio_CancelReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_CancellationReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lab_Order_Cancelled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Here is the values we set the updated values on the Lab Order</description>
        <name>Set_Lab_Order_Values_Post_Email</name>
        <label>Set Lab Order Values Post Email</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>radio_CancelReason_postEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_CancellationReason_postEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lab_Order_Cancelled_Post_Email</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Cancelled10x_postEmail</name>
        <choiceText>10&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;X&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled 10X</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_CancelledLab_postEmail</name>
        <choiceText>Lab</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled Lab</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNonSupportedState</name>
        <choiceText>Non-Supported State</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Supported State</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePatientRefunded</name>
        <choiceText>Patient Refunded</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient Refunded</stringValue>
        </value>
    </choices>
    <constants>
        <name>txt_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Screenflow_Lab_Order_Cancel_Order</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Not all labs support cancelling orders, which we will give an error when this happens.</description>
        <name>Does_Lab_Support_API_Cancellations</name>
        <label>Does Lab Support API -  Cancellations</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Log_Cancellation_Not_Supported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lab Doesn&apos;t Support Cancellations</defaultConnectorLabel>
        <rules>
            <name>Lab_Supports_Cancellations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Opportunity__r.Lab_Provider__r.Available_APIs__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cancel Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_There_a_Request_Id</targetReference>
            </connector>
            <label>Lab Supports Cancellations</label>
        </rules>
    </decisions>
    <decisions>
        <description>Can&apos;t Cancel a Lab Order without a Request Id</description>
        <name>Is_There_a_Request_Id</name>
        <label>Is There a Request Id</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Log_Initialized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Request Id Present</defaultConnectorLabel>
        <rules>
            <name>Request_Id_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Request_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancellation_Status</targetReference>
            </connector>
            <label>Request Id Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>We determine what the API has did and if we errored out navigate the user to the error message.</description>
        <name>Was_API_Call_Successfull</name>
        <label>Was API Call Successfull</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Log_Error_API_Cancellation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>API Error</defaultConnectorLabel>
        <rules>
            <name>API_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel_GT_Order.results.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lab_Order_Values</targetReference>
            </connector>
            <label>API - Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_email_select_checked</name>
        <label>Was email select checked?</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Exit Button Selected</defaultConnectorLabel>
        <rules>
            <name>Email_Request_To_be_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Btn_EmailConfirmation.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Exit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Cancel_Email</targetReference>
            </connector>
            <label>Email Request To be Sent</label>
        </rules>
    </decisions>
    <description>This flow will allow end users to cancel lab orders</description>
    <dynamicChoiceSets>
        <name>labOrder_StatusReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Reason__c</picklistField>
        <picklistObject>Lab_Order__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>form_CancellationReason</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Lab_Cancellation_Reasons}), {!X10X_Cancellation_Reason},{!Lab_Cancellation_Reasons})</expression>
    </formulas>
    <formulas>
        <name>form_CancellationReason_postEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Lab_Cancellation_Reasons_postEmail}), {!X10X_Cancellation_Reason_postEmail},{!Lab_Cancellation_Reasons_postEmail})</expression>
    </formulas>
    <interviewLabel>Screenflow - Lab Order - Cancel Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Lab Order - Cancel Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Here we update the Lab Order with the new status values</description>
        <name>Update_Lab_Order_Cancelled</name>
        <label>Update Lab Order - Cancelled</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Log_Lab_Order_Cancelled_Successfully</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Update_Lab_Order_Cancellation</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Here we update the Lab Order with the new status values</description>
        <name>Update_Lab_Order_Cancelled_Post_Email</name>
        <label>Update Lab Order - Cancelled Post Email</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Log_Lab_Order_Cancelled_Successfully_Post_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault_Update_Lab_Order_Cancellation_Post_Email</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>EmailSuccessScreen</name>
        <label>Email Success Screen</label>
        <locationX>1370</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>emailSuccessConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Cancelation Email was sent out successfully to {!recordId.Opportunity__r.Lab_Provider__r.Lab__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lab_Doesn_t_Support_Cancellation</name>
        <label>Lab Doesn&apos;t Support Cancellation</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_email_select_checked</targetReference>
        </connector>
        <fields>
            <name>txt_CancellationEndpointNotSupported</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!recordId.Lab_Provider__c} doesn&apos;t support cancellation of the order after the order has already been submitted. If you would like to email the provider please check the box and an cancelation request email will be sent. If not checked, an email will not be sent to the provider.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Btn_EmailConfirmation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Submit Email&quot;,&quot;value&quot;:&quot;Submit Email&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:email&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Exit&quot;,&quot;value&quot;:&quot;Exit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Request_Id_On_Lab_Order_Can_t_Cancel</name>
        <label>No Request Id On Lab Order - Can&apos;t Cancel</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_CantCancel_NoRequestId</name>
            <fieldText>&lt;p&gt;There is no Request Id on this Lab Order, which means you can not cancel this Lab Order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>We show the user a confirmation message that the order has been cancelled.</description>
        <name>Order_Cancelled</name>
        <label>Order Cancelled</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_OrderCancelled</name>
            <fieldText>&lt;p&gt;Order Has Been Cancelled&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>We give the end users the option to choose what status to set the Lab Order to.</description>
        <name>Set_Cancellation_Status</name>
        <label>Set Cancellation Status</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Map_Cancel_Request_Values</targetReference>
        </connector>
        <fields>
            <name>radio_CancelReason</name>
            <choiceReferences>choice_Cancelled10x_postEmail</choiceReferences>
            <choiceReferences>choice_CancelledLab_postEmail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who Is Canceling</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>X10X_Cancellation_Reason</name>
            <choiceReferences>choiceNonSupportedState</choiceReferences>
            <choiceReferences>choicePatientRefunded</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>10X Cancellation Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radio_CancelReason</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>10X</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lab_Cancellation_Reasons</name>
            <choiceReferences>choiceNonSupportedState</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lab Cancellation Reasons</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radio_CancelReason</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Lab</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Cancel Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>We give the end users the option to choose what status to set the Lab Order to.</description>
        <name>Set_Cancellation_Status_postEmail</name>
        <label>Set Cancellation Status</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Lab_Order_Values_Post_Email</targetReference>
        </connector>
        <fields>
            <name>radio_CancelReason_postEmail</name>
            <choiceReferences>choice_Cancelled10x_postEmail</choiceReferences>
            <choiceReferences>choice_CancelledLab_postEmail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who Is Canceling</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>X10X_Cancellation_Reason_postEmail</name>
            <choiceReferences>choiceNonSupportedState</choiceReferences>
            <choiceReferences>choicePatientRefunded</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>10X Cancellation Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radio_CancelReason_postEmail</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>10X</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lab_Cancellation_Reasons_postEmail</name>
            <choiceReferences>choiceNonSupportedState</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lab Cancellation Reasons</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radio_CancelReason_postEmail</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Lab</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Cancel Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>If the API errored out we show them the error message.</description>
        <name>Show_API_Error</name>
        <label>Show API Error</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_ApiError</name>
            <fieldText>&lt;p&gt;Error Message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Cancel_GT_Order.results.errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Fault_Error</name>
        <label>Show Fault Error</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_FaultError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Fault_Error_Post_Email</name>
        <label>Show Fault Error Post Email</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt_FaultError_postEmail</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Initialized</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>cancelOrderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;We are requesting that this kit ID be cancelled. If this kit cannot be cancelled, please reply back and let us know.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>cancelOrderSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>10X Order Cancellation: {!recordId.Request_Id__c}</text>
    </textTemplates>
    <transforms>
        <description>Here we build out the API Request for Cancel Order</description>
        <name>Map_Cancel_Request_Values</name>
        <label>Map Cancel Request Values</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <apexClass>gt_DTO_CancelOrderRequest</apexClass>
        <connector>
            <targetReference>Cancel_GT_Order</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>kitId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Kit_Id__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>requestId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Request_Id__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>labProviderName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Lab_Provider__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>reason</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>form_CancellationReason</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>apexDefined_CancelOrder</name>
        <apexClass>gt_DTO_CancelOrderRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lab_Order__c</objectType>
    </variables>
</Flow>
